In [1]:
var1 = 'Hello World!'
var2 = 'Runoob'
print(type(var1))
print(len(var1))
print("var1[0]:",var1[0])
print("var2[1:5]:",var2[1:5])

<class 'str'>
12
var1[0]: H
var2[1:5]: unoo

In [3]:
var1 = 'Hello World!'

print("已更新字符串：",var1[:6] + 'Runoob!')

已更新字符串： Hello Runoob!

In [7]:
'Hello'* 5
'H' in 'Hello'

True

In [14]:
name = 'Lucy'
print(f"I am {name}")
print(r'I\'m OK')

I am Lucy
I\'m OK

1.1字符串内建函数

In [16]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [22]:
var='www.runoob.com'
sub='o'
print("var.count('o')：", var.count(sub))

sub='run'
print("var.count('run',0,10):", var.count(sub,0,10))

var.count('o')： 3
var.count('run',0,10): 1

In [24]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob examole....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*'*50)

True
True
False
False
False
True
**************************************************

In [25]:
var = "this is string example...wow!!!"
print (var.startswith('this')) #字符串是否以this 开头
print(var.startswith('string',8))#从第九个字符开始的字符串是否以srring开头
print(var.startswith('this',2,4))

True
True
False

In [27]:
var='Runoob example....wow!!!'
suffix='!!'
print(var.endswith(suffix))
print(var.endswith(suffix,len(var)-1))
suffix='Run'
print(var.endswith(suffix))
print(var.endswith(suffix,0,3))

True
False
False
True

In [4]:
str1 = 'Runoob example.....wow!!!'
str2 = "exam";
    
print(str1.find(str2))
print(str1.find(str2,5))
print(str1.find(str2,10))
#print(str1.index(str2,10))

7
7
-1

In [5]:
str1="    *****this is **string** example....wow!!!*****     "
str=str1.strip()
print(str1)
str1=str1.strip('*')
str1

    *****this is **string** example....wow!!!*****

'    *****this is **string** example....wow!!!*****     '

In [6]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
x=txt.split("#",1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [10]:
str1 = 'www.w3cschool.cc'
print("菜鸟教程旧地址：",str1)
print("菜鸟教程新地址：",str1.replace("w3cschool.cc","runoob.com"))

str2="this is string example....wow!!!"
print(str2.replace("is","was",3))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example....wow!!!

1.2 regular expression 正则表达式

In [4]:
import re
re.match(r'\{3}\-d{3,8}$','010-12345')

In [5]:
print(re.match(r'^\d{3}\-\d{3,8}$','010 12345'))

None

1.2.2切分字符串

In [6]:
'a b  c'.split(' ')

['a', 'b', '', 'c']

In [7]:
re.split(r'\s+','a b  c')

['a', 'b', 'c']

In [8]:
re.split(r'[\s\,]+','a,b, c  d')

['a', 'b', 'c', 'd']

In [9]:
re.split(r'[\s\,\;]+','a,b;; c  d')

['a', 'b', 'c', 'd']

1.2.3分组

In [10]:
m = re.match(r'^(\d{3})-(\d{3,8})$','010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [11]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

1.2.4贪婪匹配

In [12]:
re.match(r'^(\d+)(0*)$','102300').groups()

('102300', '')

In [13]:
re.match(r'^(\d+?)(0*)$','102300').groups()

('1023', '00')

1.2.5练习

In [18]:
with open('re_text.txt') as f:
    content = f.read()
    res = re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$',content,re.M)
    print('re.search'.center(50,'-'))
    print(res.group())
    print('re.findall'.center(50,'-'))
    res =re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

UnicodeDecodeError: 'gbk' codec can't decode byte 0x9a in position 1001: illegal multibyte sequence

2.1 List列表

In [19]:
colors = ['red','green','blue','yellow','white','black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [22]:
print(colors[0])
print(colors[-1])

red
black

In [23]:
numbers = [0,10,20,30,40,50,60,70,80,90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [25]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [26]:
colors = ['red','green','blue','yellow','white','black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [2]:
colors = ['red','green','blue','yellow','white','black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'white', 'black']

In [4]:
colors = ['red','green','blue','yellow','white','black']
colors.append('pink')
colors.insert(2,'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [5]:
colors=['red', 'green', 'blue', 'yellow', 'white', 'black', 'red']
print(colors.count('red'))
print(colors.index('green'))

2
1

In [6]:
numbers = [0,1,2,4,5,6,8,9,3,1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [7]:
squares = []
squares +=[1,4,9,16,25]
squares +=[36,49,64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
squares.extend([81,100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
['Hello','World']*5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [10]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [11]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [12]:
args = [*range(5),'Hello','World']
print(args)
print(*args,sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

2.2 Tupley元组

In [23]:
tup1 = ('Google','Runoob',1997,2000)
print(type(tup1))
tup2 = (1,2,3,4,5)
tup3 = "a","b","c","d"
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [15]:
tup1[0]

'Google'

In [17]:
tup1[1]='Baidu'

TypeError: 'tuple' object does not support item assignment

In [18]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [24]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [25]:
tuple(range(5))

(0, 1, 2, 3, 4)

2.3 Set集合

In [26]:
basket = {'apple','orange','apple','pear','orange','banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'orange', 'pear', 'banana', 'apple'}
{'H', 'l', 'd', 'r', 'o', ' ', 'e', 'W'}

In [27]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'apple', 'melon', 'orange', 'pear', 'banana'}
{'melon', 'orange', 'pear', 'banana'}

In [28]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon','lemon'])
print(basket)

{'apple', 'l', 'n', 'o', 'orange', 'pear', 'banana', 'm', 'e'}
{'lemon', 'apple', 'l', 'n', 'melon', 'o', 'orange', 'pear', 'banana', 'm', 'e'}

In [29]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a-b)
print(a|b)
print(a&b)
print(a^b)

{'a', 'd', 'r', 'c', 'b'}
{'a', 'l', 'c', 'm', 'z'}
{'b', 'r', 'd'}
{'a', 'd', 'l', 'r', 'c', 'b', 'm', 'z'}
{'a', 'c'}
{'l', 'm', 'z', 'd', 'r', 'b'}

2.4 Dictionary字典

In [32]:
dict1 = {'Name':'Runoob','Age':7,'Class':'First'}
print(type(dict1))
print("dict1['Name']:",dict1['Name'])
print("dict1['Age']：",dict1['Age'])

<class 'dict'>
dict1['Name']: Runoob
dict1['Age']： 7

In [33]:
dict1 = {
    'Name':'Runoob',
    'Age':7,
    'Class':'First'
}

dict1['Age']=8
dict1['School']="菜鸟教程"
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [34]:
dic1 = {'Name':'Runoob','Age':7,'Class':'First'}

del dict1['Name']
print(dict1)
dict1.clear()
print(dict1)

{'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}
{}

In [36]:
dict1 = {'Name':'Runoob','Age':7,'Class':'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [37]:
print(dict1.fromkeys('abc',0))

{'a': 0, 'b': 0, 'c': 0}

In [38]:
dict1 = {'Name':'Runoob','Age':7}
dict2 = {'Sex':'female','Age':10}

dict1.update(dict2)
print("更新字典 dict1:",dict1)

更新字典 dict1: {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

2.5遍历List,Tuple,Dictionary,Set

In [39]:
basket = ['apple','orange','apple','pear','orange','banana']
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [40]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [41]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [42]:
basket =  ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
indexes = range(len(basket))
print(list(zip(indexes,basket)))
for i, v in zip(indexes,basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [43]:
r1 = range(10)
r2 = range(10,20)
for i,j in zip(r1,r2):
    print(f'{i}*{j} is {i * j}')

0*10 is 0
1*11 is 11
2*12 is 24
3*13 is 39
4*14 is 56
5*15 is 75
6*16 is 96
7*17 is 119
8*18 is 144
9*19 is 171

2.6 嵌套

In [44]:
basket = ['apple','pear','banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [46]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

2.7 迭代器与生成器

In [47]:
l = [1,2,3,4]
it = iter(l)
print(next(it))
print (next(it))

1
2

In [48]:
l=[1,2,3,4]
it = iter(1)
for x in it:
    print(x,end="")

TypeError: 'int' object is not iterable

In [49]:
def fibonacci(n):
    a,b,counter = 0,1,0
    while True:
        if (counter>n):
            return
        yield a
        a,b = b,a+b
        counter +=1
f = fibonacci(10)

for x in f:
    print(x,end="")

011235813213455

2.8

In [50]:
def add(x,y):
    return x+y
add(2,3)

5

In [52]:
add = lambda x,y:x+y
add(2,3)

5

In [53]:
a = filter(lambda x:x%2!=0,[1,2,3,4])
list(a)

[1, 3]

In [54]:
from functools import reduce
reduce(lambda x,y:x+y,[1,2,3,4])

10

oop

In [57]:
from people import People

p = People('runoob',10)
print(p.age)
print(p.name)
p.speak()

10
runoob
runoob 说: 我 10 岁。

In [58]:
isinstance(p,People)

True

In [59]:
from people import Student

s = Student('ken',10,3)
s.speak()

ken 说: 我 10 岁了，我在读 3 年级

In [60]:
issubclass(Blackcat,Cat)

NameError: name 'Blackcat' is not defined

In [61]:
isinstance(s,Student)
isinstance(s,People)

True

In [62]:
class Parent(object):
    def override(self):
        print("PARENT override()")
    def implicit(self):
        print("PARENT implicit()")
    def altered(self):
        print("PARENT altered()")
        
class Child(Parent):
    def override(self):
        print("CHILD override()")
        
    def altered(self):
        print("CHILD,BEFORE PARENT altered()")
        super(Child,self).altered()
        print("CHILD,AFTER PARENT altered()")

dad=Parent()
son=Child()

dad.implicit()
son.implicit()

dad.override()
son.override()

dad.altered()
son.altered()

PARENT implicit()
PARENT implicit()
PARENT override()
CHILD override()
PARENT altered()
CHILD,BEFORE PARENT altered()
PARENT altered()
CHILD,AFTER PARENT altered()

In [66]:
class Other(object):
    def override(self):
        print("OTHOER override()")
    def implicit(self):
        print("OTHER implicit()")
    def altered(self):
        print("OTHER altered()")

class Child(object):
    def __init__(self):
        self.other = Other()
    def implicit(self):
        self.other.implicit()
    def override(self):
        print("CHILD override()")
    def altered(self):
        print("CHILD,BEFORE OTHER altered()")
        self.other.altered()
        print("CHILD,AFTER OTHER altered()")

son = Child()
son.implicit()
son.override()
son.altered()

OTHER implicit()
CHILD override()
CHILD,BEFORE OTHER altered()
OTHER altered()
CHILD,AFTER OTHER altered()

In [67]:
issubclass(Child, Other)

False

3.1

In [70]:
from animal import *

adams = Animal(name="Adams",age=2)
adams.actually
Animal.actually
adams.name

adams.sleep()
adams.eat("meat")

adams.sentence("really")
Animal.sentence("actually")

adams.other("Tim","play")
Animal.other("Marry","watch")

Animal.actually = "Animal"
print(adams.actually)
adams.actually = "animal"
print(Animal.actually)
adams.age = 3
print(adams.age)

Adams is sleeping
Adams is eating meat
I am really an Animal
I am actually an Animal
Tim is playing
Marry is watching
Animal
Animal
3

In [71]:
cole = Cat(5)
cole.weight
cole._weight
cole.get_trueweight()
cole._Cat__weight
cain = Blackcat(5)
cain.get_weight()
cain.get_weight_again()

cain.get_myweigjt()
cain.get_trueweight()

Actually the cat's weight is 5
My weight is 7
Actuall my weight is 6

AttributeError: 'Blackcat' object has no attribute 'get_myweigjt'

In [72]:
wtony = Whitetiger("tony",10,100)
wtony.eatmore()
wtony.realname()

'Actually my name is tony'

4

In [73]:
import os
os.getcwd

In [74]:
import glob
glob,glob('*.py')

TypeError: 'module' object is not callable

In [75]:
import sys
print(sys.argv)

['C:\\Users\\SJT\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\SJT\\AppData\\Roaming\\jupyter\\runtime\\kernel-451611c7-abc4-4a39-99ba-9c55f2906aa6.json']

In [77]:
import math
math.cos(math.pi / 4)
math.log(1024,2)

10.0

In [79]:
import random
random.choice(['apple','pear','banana'])
random.sample(range(100),10)
random.random()
random.randrange(6)

2

In [81]:
import statistics
data = [2.75,1.75,1.25,0.25,0.5,1.25,3.5]
statistics.mean(data)
statistics.median(data)
statistics.variance(data)

1.3720238095238095

In [82]:
from datetime import date
now = date.today()
now
now.strftime("%m-%d-%y.%d %b %Y is a %A on the %d day of %B.")
birthday = date(1964,7,31)
age = now- birthday
age.days

20585

In [83]:
import reprlib
reprlib.repr(set('supercalifragilisticexpialidocious'))

"{'a', 'c', 'd', 'e', 'f', 'g', ...}"

In [85]:
import pprint
t = [[[['black','cyan'],'white',['green','red']],[['magenta','yellow'],'blue']]]
pprint.pprint(t, width=30)

[[[['black', 'cyan'],
   'white',
   ['green', 'red']],
  [['magenta', 'yellow'],
   'blue']]]