In [1]:
var1 = 'Hello World!'
var2 = "Runoob"
print(type(var1))
print(len(var1))
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

<class 'str'>
12
var1[0]:  H
var2[1:5]:  unoo

In [2]:
var1 = 'Hello World!'
 
print ("已更新字符串 : ", var1[:6] + 'Runoob!')

已更新字符串 :  Hello Runoob!

In [3]:
'Hello ' * 5
'H' in 'Hello'

True

In [4]:
'Hello ' * 5
'L' in 'Hello'

False

In [5]:
name = 'Lucy'
print(f'I am {name}')
print(r'I\'m OK')

I am Lucy
I\'m OK

In [6]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [7]:
var="www.runoob.com"
sub='o'
print ("var.count('o') : ", var.count(sub))

sub='run'
print ("var.count('run', 0, 10) : ", var.count(sub,0,10))

var.count('o') :  3
var.count('run', 0, 10) :  1

In [9]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 50)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('*' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
**************************************************
True
True
False
True
True
True
**************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
True

In [10]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' )) 
print (var.startswith( 'string', 8 )) 
print (var.startswith( 'this', 2, 4 ))

True
True
False

In [11]:
var='Runoob example....wow!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var) - 1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 3))

True
False
False
True

In [12]:
str1 = "Runoob example....wow!!!"
str2 = "exam";
 
print (str1.find(str2))
print (str1.find(str2, 5))
print (str1.find(str2, 10))
# print (str1.index(str2, 10))

7
7
-1

In [13]:
str1 = "    *****this is **string** example....wow!!!*****    "
str1 = str1.strip() # 默认空格
print (str1)
str1 = str1.strip('*') # 指定字符串 *
str1

*****this is **string** example....wow!!!*****

'this is **string** example....wow!!!'

In [14]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
# 第二个参数为 1，返回两个参数列表
x = txt.split("#", 1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [15]:
str1 = "www.w3cschool.cc"
print ("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))
 
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was", 3))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example....wow!!!

In [16]:
import re
re.match(r'\d{3}\-\d{3,8}$', '010-12345')

In [17]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [18]:
'a b   c'.split(' ')

['a', 'b', '', '', 'c']

In [19]:
re.split(r'\s+', 'a b   c')

['a', 'b', 'c']

In [20]:
re.split(r'[\s\,]+', 'a,b, c  d')

['a', 'b', 'c', 'd']

In [21]:
re.split(r'[\s\,\;]+', 'a,b;; c  d')

['a', 'b', 'c', 'd']

In [22]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [23]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [24]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [25]:
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

In [27]:
with open('re_test.txt') as f:
    content = f.read()
    res = re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.search'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

--------------------re.search---------------------

AttributeError: 'NoneType' object has no attribute 'group'

In [28]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [29]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
black
white
yellow

In [30]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [31]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [32]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [33]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'white', 'black']

In [34]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [35]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black', 'red']
print(colors.count('red'))
print(colors.index('green'))

2
1

In [36]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [37]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [38]:
squares.extend([81, 100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [40]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [41]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [43]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [44]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [45]:
tup1[0]

'Google'

In [47]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [49]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'orange', 'apple', 'pear', 'banana'}
{'d', 'l', 'r', 'H', 'o', 'W', ' ', 'e'}

In [50]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'orange', 'melon', 'pear', 'apple', 'banana'}
{'orange', 'melon', 'pear', 'banana'}

In [51]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'orange', 'pear', 'apple', 'l', 'm', 'o', 'e', 'banana', 'n'}
{'orange', 'pear', 'melon', 'apple', 'lemon', 'l', 'm', 'o', 'e', 'banana', 'n'}

In [52]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  Runoob
dict1['Age']:  7

In [53]:
dict1 = {
    'Name': 'Runoob', 
    'Age': 7, 
    'Class': 'First'
}
 
dict1['Age'] = 8             # 更新 Age
dict1['School'] = "菜鸟教程"  # 添加信息
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [54]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
del dict1['Name'] 
print(dict1)
dict1.clear()     
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

In [55]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [56]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [57]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [58]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [59]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [60]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [61]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
indexes = range(len(basket))
print(list(zip(indexes, basket)))
for i, v in zip(indexes, basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [62]:
r1 = range(10)
r2 = range(10, 20)
for i, j in zip(r1, r2):
    print(f'{i} * {j} is {i * j}')

0 * 10 is 0
1 * 11 is 11
2 * 12 is 24
3 * 13 is 39
4 * 14 is 56
5 * 15 is 75
6 * 16 is 96
7 * 17 is 119
8 * 18 is 144
9 * 19 is 171

In [63]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{"-" * 10}{v}')

Name
Age
Class
Runoob
7
First
Name----------Runoob
Age----------7
Class----------First

In [64]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [65]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

In [67]:
l = [1,2,3,4]
it = iter(l)    
print(next(it))   
print (next(it))

1
2

In [68]:
l=[1,2,3,4]
it = iter(l)    
for x in it:
    print (x, end=" ")

1 2 3 4

In [70]:
a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10) 

for x in f:
    print (x, end=" ")

IndentationError: unexpected indent (<ipython-input-70-b84221dd9600>, line 2)

In [71]:
class Parent(object):
    def override(self):
        print("PARENT override()")

    def implicit(self):
        print("PARENT implicit()")

    def altered(self):
        print("PARENT altered()")

class Child(Parent):
    def override(self):
        print("CHILD override()")

    def altered(self):
        print("CHILD, BEFORE PARENT altered()")
        super(Child, self).altered()
        print("CHILD, AFTER PARENT altered()")
        
dad = Parent()
son = Child()

dad.implicit()
son.implicit()

dad.override()
son.override()

dad.altered()
son.altered()

PARENT implicit()
PARENT implicit()
PARENT override()
CHILD override()
PARENT altered()
CHILD, BEFORE PARENT altered()
PARENT altered()
CHILD, AFTER PARENT altered()

In [72]:
class Other(object): 
    def override(self):
        print("OTHER override()") 
    def implicit(self):
        print("OTHER implicit()") 
    def altered(self):
        print("OTHER altered()") 
        
class Child(object):
    def __init__(self): 
        self.other = Other()
    def implicit(self): 
        self.other.implicit()
    def override(self): 
        print("CHILD override()")
    def altered(self):
        print("CHILD, BEFORE OTHER altered()") 
        self.other.altered()
        print("CHILD, AFTER OTHER altered()")

son = Child()
son.implicit() 
son.override() 
son.altered()

OTHER implicit()
CHILD override()
CHILD, BEFORE OTHER altered()
OTHER altered()
CHILD, AFTER OTHER altered()