1 字符串

In [3]:
var1 = "Hello World!"
var2 = "Run\toob"
print(type(var1))
print(len(var1))
print("var1[0]:", var1[0])
print("var2[1:5]:", var2[1:5])

<class 'str'>
12
var1[0]: H
var2[1:5]: un	o

In [5]:
var1 = 'Hello World!'

print("已更新字符串：", var1[0:6] + 'Runoob!')

已更新字符串： Hello Runoob!

In [6]:
var1 = 'Hello World!'

print("已更新字符串：", var1[2:6] + 'Runoob!')

已更新字符串： llo Runoob!

In [7]:
var1 = 'Hello World!'

print("已更新字符串：", var1[:6] + 'Runoob!')

已更新字符串： Hello Runoob!

In [8]:
'Hello' * 5
'H' in 'Hello'

True

In [13]:
name = 'Lucy'
print(f'I am {name}')
print(r'I\'m OK'r'I\'m OK')
print('I\'m OK')

I am Lucy
I\'m OKI\'m OK
I'm OK

1.1 字符串内建函数

In [19]:
sentence = 'hello world'
print(sentence.capitablize())# 打错了
print(sentence.upper())
print(sentence.title())

AttributeError: 'str' object has no attribute 'capitablize'

In [3]:
sentence = 'hey, hello world！'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hey, hello world！
HEY, HELLO WORLD！
Hey, Hello World！

In [18]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [20]:
var = "www.runoob.com"
sub = 'o'
print("var.count('o'):", var.count(sub))

sub = 'run'
print("var.count('run', 0, 10):", var.count(sub,0,10))

var.count('o'): 3
var.count('run', 0, 10): 1

In [2]:
str1 = "runnoob"
str2 = "runoob cainiaojiaocheng"
str3 = "Runoob example...wow!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "erlingyiliu"
print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 50)
print(str1.isalnum())
print(str2.isalnum())
print(str3.isalnum())
print(str4.isalnum())
print(str5.isalnum())
print(str6.isalnum())
print('*' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
False
False
False
False
True
**************************************************
True
False
False
True
True
True
**************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
False

In [4]:
var = "this is string example....wow!!"
print(var.startswith('this'))

True

In [5]:
print(var.startswith('string', 8 ))

True

In [9]:
print(var.startswith('this', 2, 4))

False

In [13]:
var = 'Runoob example....wow!!!'
suffix = '!!'
print(var.endswith(suffix))
print(var.endswith(suffix, len(var) - 1))

suffix = 'Run'
print(var.endswith(suffix))
print(var.endswith(suffix, 0 , 3))

True
False
False
True

In [16]:
str1 = "Runoob example....wow!!!"
str2 = "exam";

print(str1.find(str2))
print(str1.find(str2, 5))
print(str1.find(str2, 10))

#print(str1.index(str2, 10))

7
7
-1

In [5]:
str1 = " ***this is **string** example .... wow!!***  "
str1 = str1.strip()#默认空格
print = (str1)
str1 = str1.strip('*') # 指定字符串
str1

'this is **string** example .... wow!!'

In [2]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))

# 第二个参数为 1，返回两个参数列表

x = txt.split("#", 1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [3]:
str1 = "www.w3cschool.cc"
print("菜鸟教程就地址：", str1)
print("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))

str2 = "this is string example...wow!!!"
print(str2.replace("is", "was", 3))

菜鸟教程就地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example...wow!!!

In [4]:
str1 = "www.w3cschool.cc"
print("菜鸟教程就地址：", str1)

菜鸟教程就地址： www.w3cschool.cc

In [1]:
str1 = "www.w3cschool.cc"
print("菜鸟教程就地址：", str1)
print("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))

str2 = "this is string example...wow!!!"
print(str2.replace("is", "was", 3))

菜鸟教程就地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example...wow!!!

In [2]:
import re
re.match(r'\d{3}\-\d{3, 8}$', '010-12345')

In [3]:
print(re.match(r'\d{3}\-\d{3, 8}$', '010-12345'))

None

In [5]:
'a  b     c'.split(' ')

['a', '', 'b', '', '', '', '', 'c']

In [6]:
re.split(r'\s+', 'a  b     c')

['a', 'b', 'c']

In [7]:
re.split(r'[\s\,]+','a, ,b, c  d')

['a', 'b', 'c', 'd']

In [8]:
re.split(r'[\s\,\;]+', 'a, vb;; c   d')

['a', 'vb', 'c', 'd']

In [9]:
m = re.match(r'^(\d{3})-(\d{3,8})', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [11]:
m = re.match(r'^(\d{3})', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
# print(m.group(2))

<re.Match object; span=(0, 3), match='010'>
010
010

In [12]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [14]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [15]:
re.match(r'^(\d+?)(0*)$', '102300').groups()
# (\d+?)

('1023', '00')

In [141]:
with open('re_test.txt') as f:
    content = f.read()
    res = re.search(r'[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.research'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

UnicodeDecodeError: 'gbk' codec can't decode byte 0x9a in position 987: illegal multibyte sequence

In [21]:
with open('re_test.txt', encoding = 'utf-8') as f:
    content = f.read()
    res = re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.search'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

--------------------re.search---------------------
toocle01@netsun.com
--------------------re.findall--------------------
toocle01@netsun.com
jingchuang@gdjingchuang.com
tianyi0205@163.com

list

In [22]:
colors = ['red', 'green', 'blue', 'yellow']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow']

In [23]:
colors

['red', 'green', 'blue', 'yellow']

In [24]:
print(colors[0])

red

In [25]:
print(colors[1])
print(colors[2])

green
blue

In [26]:
numbers = [0, 10, 20, 30, 40, 50, 60 ,70, 80, 90]

In [27]:
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [28]:
print(numbers[2:4])

[20, 30]

In [29]:
print(numbers[3:])

[30, 40, 50, 60, 70, 80, 90]

In [30]:
print(numbers[:3])

[0, 10, 20]

In [31]:
print(numbers[-4:-2])

[60, 70]

In [32]:
print(numbers[0:8:2])
print(numbers[-2:-10:-1])

[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]

In [34]:
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [36]:
colors =['red', 'green', 'blue', 'yellow']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow']

In [37]:
colors =['red', 'green', 'blue', 'yellow']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'pink']

In [4]:
colors = ['redd', 'green', 'blue', 'yellow', 'while', 'black']
print(colors.count('redd'))
print(colors.index('green'))

1
1

In [48]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))

12
9
0

In [49]:
numbers.sort()
print(numbers)
numbers
numbers.reverse()
print(numbers)
numbers.clear()
numbers

[0, 1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 3, 2, 1, 1, 0]

[]

In [50]:
squares = []
squares +=[1, 4, 9, 16, 25]
squares +=[36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [51]:
squares.extend([81, 100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [53]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [54]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [56]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep = '_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [66]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [67]:
tup1[0]

'Google'

In [68]:
tup1[1] = 'baidu'

TypeError: 'tuple' object does not support item assignment

In [74]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
print(tup1 + tup2)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [76]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [77]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [5]:
basket = {'apples', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'apples', 'orange', 'pear', 'apple', 'banana'}
{'r', 'd', 'o', 'H', 'l', ' ', 'e', 'W'}

In [6]:
basket.add('melons')
print(basket)
letters = set('Hello World')
print(basket)

{'melons', 'apples', 'orange', 'pear', 'apple', 'banana'}
{'melons', 'apples', 'orange', 'pear', 'apple', 'banana'}

In [7]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemons'])
print(basket)

{'o', 'n', 'l', 'm', 'e', 'orange', 'pear', 'apple', 'banana'}
{'o', 'n', 'l', 'lemons', 'm', 'e', 'orange', 'melon', 'pear', 'apple', 'banana'}

In [82]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update(['melon'])
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'pear', 'melon', 'banana', 'orange', 'apple'}
{'pear', 'melon', 'banana', 'lemon', 'orange', 'apple'}

In [83]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b)
print(a|b)
print(a&b)
print(a^b)

{'r', 'd', 'c', 'b', 'a'}
{'l', 'c', 'z', 'm', 'a'}
{'r', 'd', 'b'}
{'r', 'd', 'l', 'c', 'z', 'm', 'b', 'a'}
{'a', 'c'}
{'m', 'r', 'd', 'b', 'l', 'z'}

In [85]:
dict1 ={'name' : 'runoob', 'age': 7, 'class' : 'first'}
print(type(dict1))

print("dict1['name']: ", dict1['name'])
print("dict1['age']: ", dict1['age'])

<class 'dict'>
dict1['name']:  runoob
dict1['age']:  7

In [86]:
dict1 ={
    'name': 'runoob',
    'age': 7,
    'class': 'first'
}

dict1['age'] = 8
dict1['school'] = '菜鸟教程'
dict1

{'name': 'runoob', 'age': 8, 'class': 'first', 'school': '菜鸟教程'}

In [87]:
dict1 = {'name': 'runoob', 'age':7, 'class': 'first'}

del dict1['name']
print(dict1)
dict1.clear()
print(dict1)

{'age': 7, 'class': 'first'}
{}

In [88]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [89]:
dict1 = {'name': 'runoob', 'age': 7 }
dict2 = {'Sex': 'female', 'age': 10}

dict1.update(dict2)

print("更新词典 dict1 : ", dict1)

更新词典 dict1 :  {'name': 'runoob', 'age': 10, 'Sex': 'female'}

In [90]:
basket =['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [91]:
basket = ('apple', 'orange', 'apple', 'pear', 'orange', 'banana')
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [92]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [94]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-" * 5}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0-----apple
1-----orange
2-----apple
3-----pear
4-----orange
5-----banana

In [96]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
indexes = range(len(basket))
print(list(zip(indexes, basket)))
for i, v in zip(indexes, basket):
    print(f'{i}{"-" * 5}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0-----apple
1-----orange
2-----apple
3-----pear
4-----orange
5-----banana

In [97]:
r1 = range(10)
r2 = range(10, 20)
for i, j in zip(r1, r2):
    print(f'{i} * {j} is {i * j}')

0 * 10 is 0
1 * 11 is 11
2 * 12 is 24
3 * 13 is 39
4 * 14 is 56
5 * 15 is 75
6 * 16 is 96
7 * 17 is 119
8 * 18 is 144
9 * 19 is 171

In [100]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}

for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{":"}{v}')

Name
Age
Class
Runoob
7
First
Name:Runoob
Age:7
Class:First

In [102]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
print(numbers)
basket.append(numbers)
print(basket)

[0, 1, 2]
['apple', 'pear', 'banana', [0, 1, 2]]

In [105]:
def flat(l):
    f = []
    for x in l:
        print(x)
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f

print(flat(basket))

apple
pear
banana
[0, 1, 2]
['apple', 'pear', 'banana', 0, 1, 2]

In [106]:
l = [1, 2, 3, 4]
it = iter(l)
print(next(it))
print(next(it))

1
2

In [109]:
l = [1, 2, 3, 4]
it = iter(l)
for x in it:
    print(x, end= ".. ")

1.. 2.. 3.. 4..

In [112]:
def fibonacci(n):
    a, b, counter = 0, 1, 0
    while True:
        if(counter > n):
            return
        yield a
        # print(a)
        a, b = b, a + b 
        counter += 1
        
f = fibonacci(10)

for x in f:
    print(x, end='..')

0..1..1..2..3..5..8..13..21..34..55..

In [113]:
def add(x, y):
    return x + y

add(2, 3)

5

In [114]:
add = lambda x, y : x + y

add(2, 4)

6

In [115]:
a = filter(lambda x : x % 2 != 0, [1,2,3,4])
list(a)

[1, 3]

In [116]:
from functools import reduce
reduce(lambda x, y : x + y, [1, 2, 3, 4])

10

In [118]:
from people import People
p = People('runoob', 10)
print(p.age)
print(p.name)
p.speak()

10
runoob
runoob 说: 我 10 岁。

In [119]:
isinstance(p, People)

True

In [120]:
from people import Student

s = Student('ken', 10, 3)
s.speak()

ken 说: 我 10 岁了，我在读 3 年级

In [135]:
from animal import *

issubclass(Blackcat, Cat)

True

In [122]:
isinstance(s, Student)
isinstance(s, People)

True

In [126]:
class Parent(object):
    def override(self):
        print("PARENT override()")
        
    def implicit(self):
        print("PARENT implicit()")
    def altered(self):
        print("PARENT altered()")

class Child(Parent):
    def override(self):
        print("CHILD override()")

    def altered(self):
        print("CHILD, BEFORE PARENT altered()")
        super(Child, self).altered()
        print("CHILD, AFTER PARENT altered()")
        
dad = Parent()
son = Child()

dad.implicit()
son.implicit()

dad.override()
son.override()

PARENT implicit()
PARENT implicit()
PARENT override()
CHILD override()

In [125]:
dad.altered()
son.altered()

PARENT altered()
CHILD, BEFORE PARENT altered()
PARENT altered()
CHILD, AFTER PARENT altered()

In [127]:
class Other(object): 
    def override(self):
        print("OTHER override()") 
    def implicit(self):
        print("OTHER implicit()") 
    def altered(self):
        print("OTHER altered()") 
        
class Child(object):
    def __init__(self): 
        self.other = Other()
    def implicit(self): 
        self.other.implicit()
    def override(self): 
        print("CHILD override()")
    def altered(self):
        print("CHILD, BEFORE OTHER altered()") 
        self.other.altered()
        print("CHILD, AFTER OTHER altered()")

son = Child()

In [128]:
son.implicit()

OTHER implicit()

In [129]:
son.override()

CHILD override()

In [130]:
son.altered()

CHILD, BEFORE OTHER altered()
OTHER altered()
CHILD, AFTER OTHER altered()

In [131]:
issubclass(Child, Other)

False

In [146]:
from animal import *

adams = Animal(name="Adams", age=2)
adams.actually


Animal.actually
admas.name
print("*" * 20)

admas.sleep()
adams.eat("meat")
print("*" * 20)

admas.sentence("really")
Animal.sentence("actually")
print("*" * 20)

admas.other("Tim", "play")
Animal.other("Mary", "watch")
print("*" * 20)

Animal.actually = "Animal"
print(adams.actually)
print("*" * 20)

adams.actually = "Animal"
print(adams.actually)
print("*" * 20)

adams.actually = "animal"
print(Animal.actually)
print("*" * 20)

adams.age = 3
print(adams.age)

********************
Adams is sleeping
Adams is eating meat
********************
I am really an Animal
I am actually an Animal
********************
Tim is playing
Mary is watching
********************
Animal
********************
Animal
********************
Animal
********************
3

In [149]:
david = Dog("David", 2)

david.eating()
david.running #不需要括号

dean = Dog("Dean", 4)
dean.running

david.country = "America"
print(david.country)

del david.country
del david._country

david.city = "Beijing"
print(david.city)

I am eating
I can't run
I am running
America
The attr country is deleted
Beijing

In [157]:
cole = Cat(5)
cole.weight

cole._weight

cole.get_trueweight()

cole._Cat__weight

cain = Blackcat(5)
cain.get_weight()

cain.get_weight_again()

cain.get_myweight()

cain.get_trueweight()

Actually the cat's weight is 5
My weight is 7
Actuall my weight is 6
My weight is 6 kg
My weight is exactly 7

In [158]:
wtony = Whitetiger("Tony", 10, 100)

wtony.eatmore()

wtony.realname()

'Actually my name is Tony'

In [160]:
import glob
glob.glob('*.py')

['animal.py', 'people.py']

In [161]:
import sys
print(sys.argv)

['C:\\Users\\lll51\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\lll51\\AppData\\Roaming\\jupyter\\runtime\\kernel-61dcc0e8-50dd-4018-b10d-e862db6b91d4.json']

In [162]:
import math
math.cos(math.pi / 4)
math.log(1024, 2)

10.0

In [16]:
import random

random.choice(['apple', 'pears', 'banana'])

'apple'

In [167]:
random.sample(range(100), 10)

[6, 90, 64, 29, 54, 88, 27, 95, 62, 2]

In [168]:
random.random()

0.16391450857083978

In [169]:
random.randrange(6)

2

In [12]:
import statistics
data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.522]
data

[2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.522]

In [13]:
statistics.mean(data)

1.6102857142857143

In [14]:
statistics.median(data)

1.25

In [15]:
statistics.variance(data)

1.3859739047619046

In [175]:
from urllib.request import urlopen
with urlopen('http://news.xjtu.edu.cn/zyxw.htm') as response:
    for line in response:
        line = line.decode('utf-8')  # Decoding the binary data to text.
        if '西迁精神' in line or '十九大' in line:  # look for Eastern Time
            print(line)

                            <a hhref="info/1033/126991.htm" target="_blank" title="【一院一品】数学与统计学院：万物皆数 交叉寓序" class="zy2">​数学学科有着悠久的历史，自学校招生之日起即开设数学课，1928年交大数学系成立，数学学科伴随着交通大学百廿风雨历程不断发展壮大，于2011年成立数学与统计学院。近年来，学院坚持以文化促教、促研、促创新，以文化促学、促德、促发展，弘扬西迁精神，...</a>

In [9]:
from datetime import date
now = date.today()
now
now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")
# dates support calendar arithmetic
birthday = date(1963, 7, 31)
age = now - birthday
age.days

20959

In [10]:
import reprlib
reprlib.repr(set('supercalifragilisticexpialidociousss'))

"{'a', 'c', 'd', 'e', 'f', 'g', ...}"

In [8]:
import pprint
t = [[[['black', 'cyan'], 'white', ['greenn', 'red']], [['magenta',
    'yellow'], 'blue']]]

pprint.pprint(t, width=20)

[[[['black',
    'cyan'],
   'white',
   ['greenn',
    'red']],
  [['magenta',
    'yellow'],
   'blue']]]