In [3]:
var1 = "Hello World!"
var2 = "Runoob"
print(type(var1))
print(len(var1))
print("var1[0]:", var1[0])
print("var2[0:3]:", var2[0:3])

<class 'str'>
12
var1[0]: H
var2[0:3]: Run

In [4]:
var1 = "Hello World!"
print("更新字符串：", var1[:6] + "Runoob!")

更新字符串： Hello Runoob!

In [11]:
"Hello" * 5

'HelloHelloHelloHelloHello'

In [8]:
"H" in "Hello"

True

In [14]:
print(r"I\'m OK")

I\'m OK

In [15]:
sentence = "hello world!"
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world!
HELLO WORLD!
Hello World!

In [18]:
var = "www.runoob.com"
sub = "o"
print("var.count('o'):", var.count(sub))
sub = "run"
print("var.count('run', 0, 10):", var.count(sub, 0, 10))

var.count('o'): 3
var.count('run', 0, 10): 1

In [20]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example...!!!"
str4 = "runoob666"
str5 = "666"
str6 = "六六六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('-' * 50)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('-' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('-' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
--------------------------------------------------
True
True
False
True
True
True
--------------------------------------------------
False
False
False
False
True
False
--------------------------------------------------
False
False
False
False
True
True

In [23]:
var_card = "You are a good man..."
print (var_card.startswith('You'))

suffix = ".."
print (var_card.endswith(suffix))
print (var_card.endswith(suffix, len(var_card) - 2))

True
True
True

In [24]:
var_card = "You are a good man..."
card = "good"

print (var_card.find(card))
print (var_card.find(card, 10))
print (var_card.find(card, 12))

10
10
-1

In [29]:
str1 = "    *****this is **string** example....!!!*****    "
print (str1)
str1 = str1.strip()
print (str1)
str1 = str1.strip('*')
print (str1)

    *****this is **string** example....!!!*****
*****this is **string** example....!!!*****
this is **string** example....!!!

In [31]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
x = txt.split("#", 2)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob', 'Taobao#Facebook']

In [36]:
str1 = "www.w3cschool.cc"
print ("菜鸟旧址：", str1)
print ("菜鸟新址：", str1.replace("w3cschool.cc", "runoob.com"))

str2 = "this is string example....!!!"
print (str2.replace("is", "was", 5))

菜鸟旧址： www.w3cschool.cc
菜鸟新址： www.runoob.com
thwas was string example....!!!

In [68]:
import re
txt = '010-12345'
re.match(r'\d{3}\-\d{3,8}$', txt)

In [42]:
txt = '010 12345'
print (re.match(r'^\d{3}\-\d{3,8}$', txt))

None

In [44]:
"a b   c".split(' ')

['a', 'b', '', '', 'c']

In [47]:
re.split(r"\s+", 'a b  c')

['a', 'b', 'c']

In [48]:
re.split(r"[\s\,]+", 'a,b, c  d')

['a', 'b', 'c', 'd']

In [69]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [70]:
t = '20:13:10'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('20', '13', '10')

In [76]:
re.match(r'^(\d+)(0*)$', '1023000').groups()

('1023000', '')

In [82]:
re.match(r'^(\d+?)(0*)$', '1023000').groups()

('1023', '000')

In [94]:
with open('re_test.txt', encoding='UTF-8') as f:
    content = f.read()
    res = re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.search'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])
    print(res)

--------------------re.search---------------------
toocle01@netsun.com
--------------------re.findall--------------------
toocle01@netsun.com
jingchuang@gdjingchuang.com
tianyi0205@163.com
[('toocle01@netsun.com', '.com'), ('jingchuang@gdjingchuang.com', '.com'), ('tianyi0205@163.com', '.com')]

In [95]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))
print(colors)
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

<class 'list'>
['red', 'green', 'blue', 'yellow', 'white', 'black']
red
green
blue
black
white
yellow

In [96]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
print(numbers)
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [101]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(colors)

colors[2] = 'pink'
print(colors)

del colors[2]
print(colors)

colors.remove('red')
print(colors)

colors.append('pink')
print(colors)

colors.insert(2, 'brown')
print(colors)

print(colors.count('red'))
print(colors.index('black'))

['red', 'green', 'blue', 'yellow', 'white', 'black']
['red', 'green', 'pink', 'yellow', 'white', 'black']
['red', 'green', 'yellow', 'white', 'black']
['green', 'yellow', 'white', 'black']
['green', 'yellow', 'white', 'black', 'pink']
['green', 'yellow', 'brown', 'white', 'black', 'pink']
0
4

In [102]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [111]:
squares = []
print(squares)
squares += [1, 4, 9, 16, 25]
print(squares)
squares += [36, 49, 64]
print(squares)
squares.extend([81, 100])
print(squares)
squares.sort()
print(squares)
squares.reverse()
print(squares)

[]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [116]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [115]:
print(['Hello', 'World'] * 5)

['Hello', 'World', 'Hello', 'World', 'Hello', 'World', 'Hello', 'World', 'Hello', 'World']

In [119]:
print(type(range(5)))
print(list(range(5)))

<class 'range'>
[0, 1, 2, 3, 4]

In [120]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [123]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep=', ')

[0, 1, 2, 3, 4, 'Hello', 'World']
0, 1, 2, 3, 4, Hello, World

In [9]:
tup1 = ('Google', 'Runoob', 1998, 2016)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = 'a', 'b', 'c', 'd'
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1998, 2016)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [10]:
tup1[0]

'Google'

In [4]:
tup1[1] = 'Baidu'

TypeError: 'tuple' object does not support item assignment

In [11]:
tup1 + tup2

('Google', 'Runoob', 1998, 2016, 1, 2, 3, 4, 5)

In [12]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [13]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [14]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)

letters = set('Hello World')
print(letters)

<class 'set'>
{'orange', 'banana', 'apple', 'pear'}
{'d', 'H', 'e', 'o', 'W', ' ', 'l', 'r'}

In [15]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'orange', 'pear', 'apple', 'banana', 'melon'}
{'orange', 'pear', 'banana', 'melon'}

In [18]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'orange', 'e', 'pear', 'n', 'apple', 'o', 'banana', 'm', 'l'}
{'orange', 'e', 'pear', 'n', 'apple', 'o', 'lemon', 'banana', 'm', 'melon', 'l'}

In [20]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) # a包括b不包括
print(a | b) # a包括或b包括
print(a & b) # a和b都包括
print(a ^ b) # a和b不同时包括

{'c', 'd', 'a', 'b', 'r'}
{'c', 'a', 'z', 'm', 'l'}
{'d', 'r', 'b'}
{'c', 'd', 'a', 'z', 'm', 'b', 'l', 'r'}
{'a', 'c'}
{'z', 'd', 'm', 'b', 'l', 'r'}

In [21]:
dict1 = {'name': 'Runoob', 'age': '7', 'class': 'First'}
print(type(dict1))
print(dict1['name'])
print(dict1['age'])

<class 'dict'>
Runoob
7

In [22]:
dict1 = {
    'name': 'Runoob',
    'age': '7',
    'class': 'First'
}
dict1['age'] = 8     # 更新
dict1['school'] = '菜鸟' # 添加
dict1

{'name': 'Runoob', 'age': 8, 'class': 'First', 'school': '菜鸟'}

In [23]:
dict1 = {'name': 'Runoob', 'age': '7', 'class': 'First'}
del dict1['name']       # 删除
print(dict1)
dict1.clear()      # 清空
print(dict1)

{'age': '7', 'class': 'First'}
{}

In [24]:
dict1 = {'name': 'Runoob', 'age': '7', 'class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'age', 'class'])
dict_values(['Runoob', '7', 'First'])
dict_items([('name', 'Runoob'), ('age', '7'), ('class', 'First')])

In [27]:
dict1 = {'name': 'Runoob', 'age': '7', 'class': 'First'}
print(dict1.fromkeys('abs', 0))   # 创建字典，但不保存，可赋给其他

{'a': 0, 'b': 0, 's': 0}

In [30]:
dict1 = {'name': 'Runoob', 'age': '7', 'class': 'First'}
print(dict1.fromkeys(['age'], 0))

{'age': 0}

In [31]:
print(dict1)

{'name': 'Runoob', 'age': '7', 'class': 'First'}

In [32]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
dict1.update(dict2)
print(dict1)

{'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [33]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [34]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
for x in basket:
    print(x)

orange
banana
apple
pear

In [35]:
basket = ('apple', 'orange', 'apple', 'pear', 'orange', 'banana')
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [36]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [38]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))      # list(enumerate(a)) -> 枚举
for i, v in enumerate(basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [40]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
indexes = range(len(basket))
print(list(zip(indexes, basket)))     # list(zip(a, b)) -> 打包输出列表
for i, v in zip(indexes, basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [41]:
r1 = range(10)
r2 = range(10, 20)
for i, j in zip(r1, r2):
    print(f'{i} * {j} is {i * j}')

0 * 10 is 0
1 * 11 is 11
2 * 12 is 24
3 * 13 is 39
4 * 14 is 56
5 * 15 is 75
6 * 16 is 96
7 * 17 is 119
8 * 18 is 144
9 * 19 is 171

In [42]:
dict1 = {'name': 'Runoob', 'age': '7', 'class': 'First'}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{"-" * 10}{v}')

name
age
class
Runoob
7
First
name----------Runoob
age----------7
class----------First

In [43]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)      # 嵌套，追加值
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [46]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)    # 追加新列表中的值
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

In [47]:
l = [1, 2, 3, 4]
it = iter(l)
print(next(it))
print(next(it))

1
2

In [48]:
l = [1, 2, 3, 4]
it = iter(l)
for x in it:
    print(x, end=" ")

1 2 3 4

In [52]:
def fibonacii(n):
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n):
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacii(1)
for x in f:
    print(x, end=" ")

0 1

In [53]:
def add(x, y):
    return x + y

add(2, 3)

5

In [54]:
add = lambda x, y : x + y
add(2, 3)

5

In [58]:
a = filter(lambda x : x % 2 != 0, [1, 2, 3, 4])     # 过滤
list(a)

[1, 3]

In [59]:
a = map(lambda x : x + 10, [1, 2, 3, 4])            # 映射
list(a)

[11, 12, 13, 14]

In [60]:
from functools import reduce                        # 累积
reduce(lambda x, y : x + y, [1, 2, 3, 4])

10

In [2]:
from people import People
p = People('runoob', 69)
print(p.age)
print(p.name)
p.speak()

69
runoob
runoob 说: 我 69 岁。

In [3]:
isinstance(p, People)

True

In [6]:
from people import Student
s = Student('Mr.ma', 10, 3)
s.speak()

Mr.ma 说: 我 10 岁了，我在读 3 年级

In [7]:
issubclass(Blackcat, Cat)

NameError: name 'Blackcat' is not defined

In [8]:
isinstance(s, Student)

True

In [9]:
isinstance(s, People)

True

In [5]:
class Parent(object):
    def override(self):
        print("PARENT override()")

    def implicit(self):
        print("PARENT implicit()")

    def altered(self):
        print("PARENT altered()")

class Child(Parent):
    def override(self):
        print("CHILD override()")

    def altered(self):
        print("CHILD, BEFORE PARENT altered()")
        super(Child, self).altered()
        print("CHILD, AFTER PARENT altered()")

dad = Parent()
son = Child()

dad.implicit()
son.implicit()
print('-' * 50)

dad.override()
son.override()
print('??'.center(50, '-'))

dad.altered()
son.altered()

PARENT implicit()
PARENT implicit()
--------------------------------------------------
PARENT override()
CHILD override()
------------------------??------------------------
PARENT altered()
CHILD, BEFORE PARENT altered()
PARENT altered()
CHILD, AFTER PARENT altered()

In [13]:
class Other(object): 
    def override(self):
        print("OTHER override()") 
    def implicit(self):
        print("OTHER implicit()") 
    def altered(self):
        print("OTHER altered()") 
        
class Child(object):
    def __init__(self): 
        self.other = Other()
    def implicit(self): 
        self.other.implicit()
    def override(self): 
        print("CHILD override()")
    def altered(self):
        print("CHILD, BEFORE OTHER altered()") 
        self.other.altered()
        print("CHILD, AFTER OTHER altered()")
        
son = Child()
son.implicit()
print(f'{"-" * 24}{"??"}{"-" * 24}')
son.override()
print('??'.center(50, '-'))
son.altered()

OTHER implicit()
------------------------??------------------------
CHILD override()
------------------------??------------------------
CHILD, BEFORE OTHER altered()
OTHER altered()
CHILD, AFTER OTHER altered()

In [12]:
issubclass(Child, Other)

False

In [1]:
import os
os.getcwd()

'E:\\Desktop\\PY\\task03'

In [2]:
import glob
glob.glob('*.py')

['animal.py', 'people.py']

In [4]:
import sys
print(sys.argv)

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\XJTU-6\\AppData\\Roaming\\jupyter\\runtime\\kernel-d08d26ca-561f-4646-85f3-038932f4d249.json']

In [7]:
import math
print(math.cos(math.pi/8))
print(math.log(4096, 2))

0.9238795325112867
12.0

In [10]:
import random
print(random.choice(['apple', 'pear', 'banana', 'orange']))
print(random.sample(range(100), 10))

orange
[35, 31, 2, 67, 27, 96, 83, 81, 17, 8]

In [11]:
import statistics
data = [0.25, 1.25, 1.75, 2.75, 0.5, 1.25, 3.5]
print(statistics.mean(data))
print(statistics.median(data))
print(statistics.variance(data))

1.6071428571428572
1.25
1.3720238095238095

In [12]:
from urllib.request import urlopen
with urlopen('http://gs.xjtu.edu.cn/tzgg.htm') as response:
    for line in response:
        line = line.decode('UTF-8')
        if '考试' in line or '四六级' in line:
            print(line)

		<a href="info/1146/7519.htm" title="2020年12月英语四六级考试听力收音机测试时间">2020年12月英语四六级考试听力收音机测试时间</a>

		<a href="info/1146/7444.htm" title="2020秋在职工程硕士英语、计算方法、运筹学考试安排">2020秋在职工程硕士英语、计算方法、运筹学考试安排</a>

In [37]:
from datetime import date
now = date.today()
print(f'{"-" * 45}{now}{"-" * 45}')
print(f"{now.strftime}".center(100, '-'))
birthday = date(1998, 6, 10)
age = now - birthday
print(f"{age.days}".center(100, '-'))

---------------------------------------------2020-12-07---------------------------------------------
--------------<built-in method strftime of datetime.date object at 0x000001ABC1D18D10>--------------
------------------------------------------------8216------------------------------------------------

In [1]:
import reprlib
reprlib.repr(set('supercalifragilisticexpialidocious'))

"{'a', 'c', 'd', 'e', 'f', 'g', ...}"

In [7]:
import pprint
t = [[[['black', 'cyan'], 'white', ['green', 'red']], [['magenta',
    'yellow'], 'blue']]]
pprint.pprint(t, width = 40)

[[[['black', 'cyan'],
   'white',
   ['green', 'red']],
  [['magenta', 'yellow'], 'blue']]]

In [9]:
import pprint
data = (
"this is a string", [1, 2, 3, 4], ("more tuples",
1.0, 2.3, 4.5), "this is yet another string"
)
pprint.pprint(data)

('this is a string',
 [1, 2, 3, 4],
 ('more tuples', 1.0, 2.3, 4.5),
 'this is yet another string')