In [1]:
var='Runoob example....wow!!!'
suffix='!!'
print (var.endswith(suffix, len(var) - 1))

False

In [2]:
suffix
(len(var) - 1)

23

In [3]:
suffix(len(var) - 1)

TypeError: 'str' object is not callable

In [1]:
'H' in 'Hello'

True

In [2]:
'H'*5

'HHHHH'

In [3]:
'Hello'*5

'HelloHelloHelloHelloHello'

In [4]:
'Hello' * 5

'HelloHelloHelloHelloHello'

In [5]:
name='Lucy'
print(f'I am {name}')
print(r'I\'m OK')

I am Lucy
I\'m OK

In [6]:
print('I\'m OK')

I'm OK

In [7]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [8]:
var='www.runoob.com'
sub='o'
print(var.count(sub))

3

In [9]:
sub='run'
print(var.count(sub,0,10))

1

In [10]:
print(var.count(sub,0,7))

1

In [11]:
print(var.count(sub,0,6))

0

In [12]:
var = "this is string example....wow!!!"
print (var.startswith( 'string', 8 ))

True

In [13]:
print (var.startswith( 'this', 2, 4 ))

False

In [14]:
print (var.startswith( 'is', 2, 4 ))

True

In [15]:
str1 = "Runoob example....wow!!!"
str2 = "exam"
print (str1.find(str2))

7

In [16]:
print(str1.find(str2,5))

7

In [17]:
print (str1.find(str2, 10))

-1

In [18]:
str1 = "    *****this is **string** example....wow!!!*****    "
str1 = str1.strip()
print(str1)

*****this is **string** example....wow!!!*****

In [19]:
str1 = str1.strip('*')

In [20]:
str1

'this is **string** example....wow!!!'

In [21]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))

['Google', 'Runoob', 'Taobao', 'Facebook']

In [22]:
x=txt.split('#',1)
print(x)

['Google', 'Runoob#Taobao#Facebook']

In [23]:
x=txt.split('#',2)
print(x)

['Google', 'Runoob', 'Taobao#Facebook']

In [24]:
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was", 3))

thwas was string example....wow!!!

In [25]:
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was", 1))

thwas is string example....wow!!!

In [26]:
'a b   c'.split(' ')

['a', 'b', '', '', 'c']

In [27]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))

<class 'list'>

In [28]:
colors

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [29]:
print(colors[0])

red

In [30]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
print(numbers[2:4])

[20, 30]

In [31]:
colors.append('pink')

In [32]:
colors.insert(2,'brown')

In [33]:
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [34]:
print(colors.count('red'))
print(colors.index('green'))
colors

1
1

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [35]:
print(colors.index('red'))

0

In [36]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
numbers.sort()
print(numbers)

[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]

In [37]:
numbers.reverse()
print(numbers)

[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]

In [38]:
numbers.clear()
print(numbers)

[]

In [39]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [40]:
squares.extend([81,100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
['Hello','world']*5

['Hello',
 'world',
 'Hello',
 'world',
 'Hello',
 'world',
 'Hello',
 'world',
 'Hello',
 'world']

In [42]:
print(type(range(5)))

<class 'range'>

In [43]:
list(range(5))

[0, 1, 2, 3, 4]

In [1]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [2]:
args=[*range(5),'hello','world']
print(args)
print(*args,sep='_')

[0, 1, 2, 3, 4, 'hello', 'world']
0_1_2_3_4_hello_world

In [3]:
print(args,sep='_')

[0, 1, 2, 3, 4, 'hello', 'world']

In [4]:
print(*args)

0 1 2 3 4 hello world

In [5]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))

<class 'tuple'>

In [6]:
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [7]:
tup1[0]

'Google'

In [8]:
tup1[1] = 'Baidu'
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [9]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [10]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [11]:
tup1 = ('Google', 'Runoob', 1997, 2000)
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [12]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [13]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)

<class 'set'>
{'apple', 'pear', 'orange', 'banana'}

In [14]:
letters = set('Hello World')
print(letters)

{'l', 'W', 'r', ' ', 'H', 'd', 'o', 'e'}

In [15]:
basket.add('melon')
print(basket)

{'orange', 'melon', 'banana', 'pear', 'apple'}

In [16]:
basket.remove('apple')
print(basket)

{'orange', 'melon', 'banana', 'pear'}

In [17]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)

{'orange', 'banana', 'pear', 'n', 'l', 'apple', 'm', 'o', 'e'}

In [18]:
basket.update(['melon', 'lemon'])
print(basket)

{'orange', 'melon', 'banana', 'lemon', 'pear', 'n', 'l', 'apple', 'm', 'o', 'e'}

In [19]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b)
print(a | b)
print(a & b)
print(a ^ b)

{'c', 'r', 'b', 'a', 'd'}
{'c', 'l', 'm', 'a', 'z'}
{'r', 'b', 'd'}
{'c', 'l', 'r', 'b', 'm', 'a', 'd', 'z'}
{'a', 'c'}
{'r', 'm', 'b', 'd', 'l', 'z'}

In [20]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))

<class 'dict'>

In [21]:
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: " dict1['Age'])

SyntaxError: invalid syntax (<ipython-input-21-7f92eecdbf3c>, line 2)

In [22]:
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

dict1['Name']:  Runoob
dict1['Age']:  7

In [23]:
dict1['Age'] = 8
dict1['School'] = "菜鸟教程"
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [24]:
del dict1['Name']
print(dict1)

{'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [25]:
dict1.clear()
print(dict1)

{}

In [26]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [27]:
dict1.keys()

dict_keys(['Name', 'Age', 'Class'])

In [28]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [29]:
print(dict1)

{'Name': 'Runoob', 'Age': 7, 'Class': 'First'}

In [30]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [31]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [32]:
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [33]:
print(list(enumerate(basket)))

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]

In [34]:
for i, v in enumerate(basket):
    print(f'{i}{"-" * 10}{v}')

0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [35]:
indexes = range(len(basket))
print(list(zip(indexes, basket)))

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]

In [36]:
for i, v in zip(indexes, basket):
    print(f'{i}{"-" * 10}{v}')

0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [37]:
r1 = range(10)
r2 = range(10, 20)
for i, j in zip(r1, r2):
    print(f'{i} * {j} is {i * j}')

0 * 10 is 0
1 * 11 is 11
2 * 12 is 24
3 * 13 is 39
4 * 14 is 56
5 * 15 is 75
6 * 16 is 96
7 * 17 is 119
8 * 18 is 144
9 * 19 is 171

In [38]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{"-" * 10}{v}')

Name
Age
Class
Runoob
7
First
Name----------Runoob
Age----------7
Class----------First

In [39]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [40]:
b = range(3)
basket.append(b)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2], range(0, 3)]

In [41]:
b

range(0, 3)

In [42]:
basket[3][0]

0

In [43]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2, range(0, 3)]

In [44]:
l = [1,2,3,4]
it = iter(l)
print(next(it))

1

In [45]:
print (next(it))

2

In [46]:
print(next(it))

3

In [48]:
print(next(it))

StopIteration:

In [49]:
l=[1,2,3,4]
it = iter(l)
for x in it:
    print (x, end=" ")

1 2 3 4

In [50]:
def fibonacci(n):
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1

f = fibonacci(10)
for x in f:
    print (x, end=" ")

0 1 1 2 3 5 8 13 21 34 55