In [2]:
var1 = 'Hello World!'
var2 = 'XJTUEPE'
print('var1')
print('var2')
print(type(var1))
print(type(var2))
print(len(var1))
print(len(var2))

var1
var2
<class 'str'>
<class 'str'>
12
7

In [5]:
var1 = 'Hello World'
print('更新的字符串', var1[:6] + 'Xjtuer!')

更新的字符串 Hello Xjtuer!

In [7]:
name = 'Satto'
print(f'I\'m {name}!')
print('I\'m a Russian village boy')

I'm Satto!
I'm a Russian village boy

In [8]:
sentence = 'hEllO worLd'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.lower())
print(sentence.title())

Hello world
HELLO WORLD
hello world
Hello World

In [10]:
var="www.runoob.com"
sub='o'
print ("var.count('o') : ", var.count(sub))

sub='run'
print ("var.count('run', 0, 10) : ", var.count(sub,0,3))

var.count('o') :  3
var.count('run', 0, 10) :  0

In [11]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 50)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('*' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
**************************************************
True
True
False
True
True
True
**************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
True

In [15]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' ))   
print (var.startswith( 'string', 8 ))
print (var.startswith( 'string', 15 )) 
print (var.startswith( 'this', 2, 4 )) 
print (var.startswith( 'this', 0, 3 )) 
print (var.startswith( 'this', 0, 4 ))

True
True
False
False
False
True

In [19]:
var='Runoob example....wow!!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var) - 1))
print (var.endswith(suffix, len(var) + 1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 3))

True
False
False
False
True

In [26]:
str1 = "Runoob example....wow!!!"
str2 = "exam";
 
print (str1.find(str2))
print (str1.find(str2, 5))
print (str1.find(str2, 7))
print (str1.find(str2, 8))
print (str1.find(str2, 10))

7
7
7
-1
-1

In [31]:
# 移除开头结尾字符
str1 = "    *****this is  **string** example....wow!!!*****    "
# str1 = str1.strip() 
# print (str1)
str1 = str1.strip('*') 
str1

'    *****this is  **string** example....wow!!!*****    '

In [32]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
# 第二个参数为 1，返回两个参数列表
x = txt.split("#", 1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [40]:
str1 = "www.w3cschool.cc"
print ("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))
 
str2 = "this is string example....wow!!! It is beautiful!!!"
print (str2.replace("is", "was", 3))
print (str2.replace("is", "was", 1))
print (str2.replace("is", "was", 2))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example....wow!!! It was beautiful!!!
thwas is string example....wow!!! It is beautiful!!!
thwas was string example....wow!!! It is beautiful!!!

In [60]:
import re
a = re.match(r'\d{3}\-\d{3,8}$', '010-82668110')

In [61]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 82668110'))

None

In [51]:
'a b   c'.split(' ')

['a', 'b', '', '', 'c']

In [52]:
'a b   c'.split()

['a', 'b', 'c']

In [53]:
'a b    c'.split(' ')

['a', 'b', '', '', '', 'c']

In [54]:
re.split(r'\s+', 'a b   c')

['a', 'b', 'c']

In [55]:
re.split(r'[\s\,]+', 'a,b, c  d')

['a', 'b', 'c', 'd']

In [56]:
re.split(r'[\s\,\;]+', 'a,b;; c  d')

['a', 'b', 'c', 'd']

In [57]:
re.split(r'[\s\,\;\.]+', 'a,b;; c  d.e')

['a', 'b', 'c', 'd', 'e']

In [69]:
m = re.match(r'^(\d{3})-(\d{1,7})$', '010-16345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-16345'>
010-16345
010
16345

In [63]:
t = '16:17:18'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('16', '17', '18')

In [70]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [71]:
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

In [93]:
with open('re_test.txt', encoding='utf-8') as f:
    content = f.read()
    res = re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.search'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

--------------------re.search---------------------
toocle01@netsun.com
--------------------re.findall--------------------
toocle01@netsun.com
jingchuang@gdjingchuang.com
tianyi0205@163.com

In [95]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black', 'brown']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black', 'brown']

In [96]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
brown
black
white

In [107]:
for i in range(len(colors)):
    print(f'第{i+1}种颜色是：{colors[i]}')

第1种颜色是：red
第2种颜色是：green
第3种颜色是：blue
第4种颜色是：yellow
第5种颜色是：white
第6种颜色是：black
第7种颜色是：brown

In [108]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [111]:
print(numbers[0])
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

0
[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [110]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [117]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
del colors[1]
colors.remove('yellow')
print(colors)
print(colors[1])

['red', 'blue', 'white', 'black']
blue

In [118]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [123]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black', 'red']
print(colors.count('red'))
print(colors.index('yellow'))

2
3

In [127]:
numbers = [0 ,1, 2, 4, 10, 6, 8, 9, 2, 0, 3]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

11
10
0
[0, 0, 1, 2, 2, 3, 4, 6, 8, 9, 10]
[10, 9, 8, 6, 4, 3, 2, 2, 1, 0, 0]
[]

In [125]:
squares = []
squares += [1, 3, 5, 7, 9]
squares += [13, 15, 17]
squares

[1, 3, 5, 7, 9, 13, 15, 17]

In [128]:
squares.extend([81, 100])
squares

[1, 3, 5, 7, 9, 13, 15, 17, 81, 100]

In [130]:
['Hello', 'World'] * 2

['Hello', 'World', 'Hello', 'World']

In [131]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [132]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [133]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [134]:
tup1 = ('Google', 'Baidu', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Baidu', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [135]:
tup1[0]

'Google'

In [136]:
tup1[0] = 'Yahoo'

TypeError: 'tuple' object does not support item assignment

In [137]:
tup1 + tup2

('Google', 'Baidu', 1997, 2000, 1, 2, 3, 4, 5)

In [138]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [140]:
tup1 = ('Google', 'Baidu', 1997, 2000)
tup1 + tup2
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [141]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [146]:
basket = {'apple', 'lemon', 'lemon', 'pear', 'orange', 'banana', 'apple'}  # set不可重复,无序
basket1 = ['apple', 'lemon', 'lemon', 'pear', 'orange', 'banana']
basket2 = ('apple', 'lemon', 'lemon', 'pear', 'orange', 'banana')
print(type(basket))
print(type(basket1))
print(type(basket2))
print(basket)
print(basket1)
print(basket2)
letters = set('Hello World')
print(letters)

<class 'set'>
<class 'list'>
<class 'tuple'>
{'banana', 'orange', 'pear', 'lemon', 'apple'}
['apple', 'lemon', 'lemon', 'pear', 'orange', 'banana']
('apple', 'lemon', 'lemon', 'pear', 'orange', 'banana')
{'e', ' ', 'W', 'l', 'o', 'd', 'r', 'H'}

In [145]:
basket.add('orange')
print(basket)
basket.remove('apple')
print(basket)

{'banana', 'orange', 'pear', 'lemon', 'apple'}
{'banana', 'orange', 'pear', 'lemon'}

In [152]:
basket = {'apple', 'lemon', 'lemon', 'pear', 'orange', 'banana', 'apple'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)
basket.update({'melon', 'lemon'})
print(basket)

{'n', 'banana', 'e', 'orange', 'm', 'pear', 'l', 'o', 'lemon', 'apple'}
{'n', 'banana', 'e', 'melon', 'orange', 'm', 'pear', 'l', 'o', 'lemon', 'apple'}
{'n', 'banana', 'e', 'melon', 'orange', 'm', 'pear', 'l', 'o', 'lemon', 'apple'}

In [154]:
a = set('zaqesfjrnciam')
b = set('iwnfhoqjmqgc')
print(a)
print(b)
print(a - b) 
print(a | b) 
print(a & b) 
print(a ^ b)

{'s', 'n', 'e', 'j', 'c', 'z', 'a', 'm', 'i', 'q', 'f', 'r'}
{'n', 'j', 'c', 'w', 'g', 'm', 'i', 'o', 'q', 'f', 'h'}
{'s', 'e', 'z', 'a', 'r'}
{'j', 'z', 'f', 'h', 's', 'n', 'e', 'c', 'w', 'a', 'g', 'm', 'i', 'o', 'q', 'r'}
{'n', 'j', 'c', 'm', 'i', 'q', 'f'}
{'s', 'e', 'z', 'w', 'a', 'g', 'o', 'r', 'h'}

In [2]:
dict1 = {'Name':'XJTU', 'Age':124, 'Class':'First'}
print(type(dict1))
print("dict1['Name']: ", dict1['Name'])
print("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  XJTU
dict1['Age']:  124

In [4]:
dict1 = {
    'Name': 'XJTU',
    'Age': 124,
    'Class': 'First'
}

dict1['Class'] = 'Second'
dict1['Grade'] = 100
print(dict1)

{'Name': 'XJTU', 'Age': 124, 'Class': 'Second', 'Grade': 100}

In [5]:
dict1 = {'Name':'XJTU', 'Age':124, 'Class':'First'}
del dict1['Name']
print(dict1)
dict1.clear()
print(dict1)

{'Age': 124, 'Class': 'First'}
{}

In [6]:
dict1 = {'Name':'XJTU', 'Age':124, 'Class':'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['XJTU', 124, 'First'])
dict_items([('Name', 'XJTU'), ('Age', 124), ('Class', 'First')])

In [7]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [8]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [9]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
for i in range(len(colors)):
    print(colors[i])

red
green
blue
yellow
white
black

In [10]:
colors = ('red', 'green', 'blue', 'yellow', 'white', 'black')
for i in range(len(colors)):
    print(colors[i])

red
green
blue
yellow
white
black

In [11]:
colors = {'red', 'green', 'blue', 'yellow', 'white', 'black'}
for i in range(len(colors)):
    print(colors[i])

TypeError: 'set' object is not subscriptable

In [12]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
for x in colors:
    print(x)

red
green
blue
yellow
white
black

In [13]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(list(enumerate(colors)))
for i, v in enumerate(colors):
    print(f'{i}{-*10}{v}')

SyntaxError: invalid syntax (<fstring>, line 1)

In [14]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(list(enumerate(colors)))
for i, v in enumerate(colors):
    print(f'{i}{"-"*10}{v}')

[(0, 'red'), (1, 'green'), (2, 'blue'), (3, 'yellow'), (4, 'white'), (5, 'black')]
0----------red
1----------green
2----------blue
3----------yellow
4----------white
5----------black

In [19]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
indexes = range(len(colors))
print(list(zip(indexes, colors)))
for i, v in zip(indexes, colors):
    print(f'{i}{"-" * 10}{v}')

[(0, 'red'), (1, 'green'), (2, 'blue'), (3, 'yellow'), (4, 'white'), (5, 'black')]
0----------red
1----------green
2----------blue
3----------yellow
4----------white
5----------black

In [21]:
r1 = range(10)
r2 = range(10, 25)
for i, j in zip(r1, r2):
    print(f'{i} * {j} is {i * j}')

0 * 10 is 0
1 * 11 is 11
2 * 12 is 24
3 * 13 is 39
4 * 14 is 56
5 * 15 is 75
6 * 16 is 96
7 * 17 is 119
8 * 18 is 144
9 * 19 is 171

In [22]:
dict1 = {'Name': 'XJTU', 'Age': 124, 'Class': 'First'}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{"-" * 10}{v}')

Name
Age
Class
XJTU
124
First
Name----------XJTU
Age----------124
Class----------First

In [23]:
basket = ['apple', 'pear', 'banana']
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
basket.append(colors)
print(basket)

['apple', 'pear', 'banana', ['red', 'green', 'blue', 'yellow', 'white', 'black']]

In [24]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 'red', 'green', 'blue', 'yellow', 'white', 'black']

In [25]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(colors)

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [26]:
colors = {'red', 'green', 'blue', 'yellow', 'white', 'black'}
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(colors)

['yellow', 'white', 'black', 'red', 'blue', 'green']

In [27]:
colors = ('red', 'green', 'blue', 'yellow', 'white', 'black')
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(colors)

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [28]:
colors = ('red', 'green', 'blue', ['yellow', 'white', 'black'])
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(colors)

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [34]:
colors = ('red', 'green', 'blue', {'yellow', 'white', 'black'})
print(type(colors[3]))
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(colors)

<class 'set'>

['red', 'green', 'blue', {'black', 'white', 'yellow'}]

In [37]:
l = range(5)
it = iter(l)
print(next(it))
print (next(it))

0
1

In [38]:
l = range(5)
it = iter(l)
for i in it:
    print(i)

0
1
2
3
4

In [45]:
def fibonacci(n):
    a, b, counter = 0, 1, 0
    while True:
        if (counter>n):
            return
        yield a
        a, b = b, a+b
        counter += 1
        
f = fibonacci(10)
for i in f:
    print(i, end=' ')

0 1 1 2 3 5 8 13 21 34 55

In [46]:
def add(x, y): 
    return x + y
add(27, 67)

94

In [47]:
add = lambda x, y : x + y
add(27,67)

94

In [48]:
a = filter(lambda x : x % 2 != 0, range(20))
list(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [49]:
a = map(lambda x : x + 10, range(5))
list(a)

[10, 11, 12, 13, 14]

In [1]:
from functools import reduce
reduce(lambda x, y : x + y, [1,2,3,4])

10

In [2]:
from people import People

p = People('XJTU',124)
print(p.age)
print(p.name)
p.speak()

124
XJTU
XJTU 说: 我 124 岁。

In [3]:
isinstance(p, People)

True

In [5]:
from people import Student

s = Student('LL',19,11)
s.speak()

LL 说: 我 19 岁了，我在读 11 年级

In [6]:
issubclass(Blackcat, Cat)

NameError: name 'Blackcat' is not defined

In [7]:
isinstance(s, Student)
isinstance(s, People)

True

In [8]:
class Parent(object):
    def override(self):
        print("PARENT override()")

    def implicit(self):
        print("PARENT implicit()")

    def altered(self):
        print("PARENT altered()")

class Child(Parent):
    def override(self):
        print("CHILD override()")

    def altered(self):
        print("CHILD, BEFORE PARENT altered()")
        super(Child, self).altered()
        print("CHILD, AFTER PARENT altered()")
        
dad = Parent()
son = Child()

dad.implicit()
son.implicit()

dad.override()
son.override()

dad.altered()
son.altered()

PARENT implicit()
PARENT implicit()
PARENT override()
CHILD override()
PARENT altered()
CHILD, BEFORE PARENT altered()
PARENT altered()
CHILD, AFTER PARENT altered()

In [9]:
class Other(object): 
    def override(self):
        print("OTHER override()") 
    def implicit(self):
        print("OTHER implicit()") 
    def altered(self):
        print("OTHER altered()") 
        
class Child(object):
    def __init__(self): 
        self.other = Other()
    def implicit(self): 
        self.other.implicit()
    def override(self): 
        print("CHILD override()")
    def altered(self):
        print("CHILD, BEFORE OTHER altered()") 
        self.other.altered()
        print("CHILD, AFTER OTHER altered()")

son = Child()
son.implicit() 
son.override() 
son.altered()

OTHER implicit()
CHILD override()
CHILD, BEFORE OTHER altered()
OTHER altered()
CHILD, AFTER OTHER altered()

In [10]:
issubclass(Child, Other)

False

In [11]:
import os
os.getcwd()

'D:\\Files\\PY\\python-class-main\\python-class-main\\03'

In [12]:
import glob
glob.glob('*.py')

['animal.py', 'people.py']

In [13]:
import sys
print(sys.argv)

['D:\\Software\\acaconda\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\YYF\\AppData\\Roaming\\jupyter\\runtime\\kernel-630b41d8-5668-486e-badc-84c2efa110ca.json']

In [16]:
import math
print(math.cos(math.pi / 4))
math.log(512, 2)

0.7071067811865476

9.0

In [20]:
import random
print(random.choice(['black', 'pink', 'white']))
print(random.sample(range(100), 10))
print(random.random())
print(random.randrange(6))

white
[13, 98, 71, 75, 96, 18, 23, 73, 5, 99]
0.18159311925650345
2

In [21]:
import statistics
data = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(statistics.mean(data))
print(statistics.median(data))
print(statistics.variance(data))

5
5
7.5

In [23]:
from datetime import date
now = date.today()
now
print(now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B."))
birthday = date(1997, 11, 23)
age = now - birthday
print(age.days)

12-05-20. 05 Dec 2020 is a Saturday on the 05 day of December.
8413

In [25]:
import reprlib
print(reprlib.repr(set('yesterdayoncemore')))

{'a', 'c', 'd', 'e', 'm', 'n', ...}