In [1]:
var1 = 'Hello World!'
var2 = "Runoob"
print(type(var1))
print(len(var1))
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

<class 'str'>
12
var1[0]:  H
var2[1:5]:  unoo

In [2]:
var1 = 'Hello World!'
 
print ("已更新字符串 : ", var1[:6] + 'Runoob!')

已更新字符串 :  Hello Runoob!

In [3]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [4]:
var="www.runoob.com"
sub='o'
print ("var.count('o') : ", var.count(sub))

sub='run'
print ("var.count('run', 0, 10) : ", var.count(sub,0,10))

var.count('o') :  3
var.count('run', 0, 10) :  1

In [5]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"
print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 50)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('*' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
**************************************************
True
True
False
True
True
True
**************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
True

In [6]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' ))   
print (var.startswith( 'string', 8 )) 
print (var.startswith( 'this', 2, 4 ))

True
True
False

In [7]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' ))   
print (var.startswith( 'string', 8 ))
print (var.startswith( 'this', 2, 4 ))

True
True
False

In [8]:
var='Runoob example....wow!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var) - 1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 3))

True
False
False
True

In [9]:
str1 = "Runoob example....wow!!!"
str2 = "exam";
 
print (str1.find(str2))
print (str1.find(str2, 5))
print (str1.find(str2, 10))

7
7
-1

In [10]:
str1 = "    *****this is **string** example....wow!!!*****    "
str1 = str1.strip() 
print (str1)
str1 = str1.strip('*')
str1

*****this is **string** example....wow!!!*****

'this is **string** example....wow!!!'

In [11]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))

x = txt.split("#", 1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [12]:
str1 = "www.w3cschol.cc"
print ("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))
 
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was", 3))

菜鸟教程旧地址： www.w3cschol.cc
菜鸟教程新地址： www.w3cschol.cc
thwas was string example....wow!!!

In [13]:
import re
re.match(r'\d{3}\-\d{3,8}$', '010-12345')

In [14]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [15]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [16]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [17]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [18]:
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

In [19]:
with open('re_test.txt') as f:
    content = f.read()
    res = re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.search'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

FileNotFoundError: [Errno 2] No such file or directory: 're_test.txt'

In [20]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [21]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
black
white
yellow

In [22]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [23]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [24]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [25]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [26]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [27]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [28]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [29]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [30]:
tup1[0]

'Google'

In [31]:
tup1[1] = 'Baidu'

TypeError: 'tuple' object does not support item assignment

In [32]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [33]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [34]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [35]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'banana', 'orange', 'apple', 'pear'}
{'r', ' ', 'o', 'l', 'e', 'H', 'W', 'd'}

In [36]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'orange', 'banana', 'apple', 'melon', 'pear'}
{'orange', 'banana', 'melon', 'pear'}

In [37]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'n', 'orange', 'm', 'banana', 'o', 'l', 'e', 'apple', 'pear'}
{'n', 'lemon', 'orange', 'm', 'banana', 'o', 'l', 'e', 'apple', 'melon', 'pear'}

In [38]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) # 集合a中包含而集合b中不包含的元素
print(a | b) # 集合a或b中包含的所有元素
print(a & b) # 集合a和b中都包含了的元素
print(a ^ b) # 不同时包含于a和b的元素

{'b', 'r', 'c', 'a', 'd'}
{'m', 'c', 'z', 'a', 'l'}
{'d', 'b', 'r'}
{'b', 'r', 'm', 'c', 'z', 'a', 'l', 'd'}
{'a', 'c'}
{'l', 'b', 'r', 'm', 'z', 'd'}

In [39]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  Runoob
dict1['Age']:  7

In [40]:
dict1 = {
    'Name': 'Runoob', 
    'Age': 7, 
    'Class': 'First'
}
 
dict1['Age'] = 8      
dict1['School'] = "菜鸟教程" 
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [41]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
del dict1['Name'] 
print(dict1)
dict1.clear()
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

In [42]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [43]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [44]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [45]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [46]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [47]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
indexes = range(len(basket))
print(list(zip(indexes, basket)))
for i, v in zip(indexes, basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [48]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{"-" * 10}{v}')

Name
Age
Class
Runoob
7
First
Name----------Runoob
Age----------7
Class----------First

In [49]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [50]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

In [51]:
def fibonacci(n): 
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10)

for x in f:
    print (x, end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [52]:
def add(x, y): 
    return x + y
  
add(2, 3)

5

In [53]:
class Parent(object):
    def override(self):
        print("PARENT override()")

    def implicit(self):
        print("PARENT implicit()")

    def altered(self):
        print("PARENT altered()")

class Child(Parent):
    def override(self):
        print("CHILD override()")

    def altered(self):
        print("CHILD, BEFORE PARENT altered()")
        super(Child, self).altered()
        print("CHILD, AFTER PARENT altered()")
        
dad = Parent()
son = Child()

dad.implicit()
son.implicit()

dad.override()
son.override()

dad.altered()
son.altered()

PARENT implicit()
PARENT implicit()
PARENT override()
CHILD override()
PARENT altered()
CHILD, BEFORE PARENT altered()
PARENT altered()
CHILD, AFTER PARENT altered()

In [54]:
david = Dog("David", 2) 

david.eating() 
# I am eating
david.running 

dean = Dog("Dean", 4)
dean.running 

david.country = "America"
print(david.country)
del david.country 
del david._country 

david.city = "Beijing"
print(david.city) # Beijing

NameError: name 'Dog' is not defined