In [1]:
import re
#re.match(pattern,string,flags=0)

In [3]:
re.match(r'\d{3}\-\d{3,8}$','010-12345')

In [4]:
print(re.match(r'^\d{3}\-\d{3,8}$','010 12345'))

None

In [47]:
import re
print(re.match('www','www.runoob.com').span())
print(re.match('com','www.runoob.com'))

(0, 3)
None

In [51]:
import re
line = "Cats are smarter tan dogs"
match0bj = re.match(r'(.*) are (.*?).*',line,re.M|re.I)

if match0bj:
    print("match0bj.group():", match0bj.group())
    print("match0bj.group(1):", match0bj.group(1))
    print("match0bj.group(2):", match0bj.group(2))
else:
    print("No match!!")

match0bj.group(): Cats are smarter tan dogs
match0bj.group(1): Cats
match0bj.group(2):

In [43]:
#re.search(pattern,string,flags=0)

In [44]:
import re
print(re.search('www','www.runoob.com').span())
print(re.search('com','www.runoob.com').span())

(0, 3)
(11, 14)

In [55]:
import re
line = "Cats are smarter tan dogs"
search0bj = re.search(r'(.*)are(.*?).*',line,re.M|re.I)
if match0bj:
    print("search0bj.group():", search0bj.group())
    print("search0bj.group(1):", search0bj.group(1))
    print("search0bj.group(2):", search0bj.group(2))
else:
    print("Nothing found")

search0bj.group(): Cats are smarter tan dogs
search0bj.group(1): Cats
search0bj.group(2):

In [58]:
import re
 
line = "Cats are smarter than dogs"
 
matchObj = re.match( r'dogs', line, re.M|re.I)
if matchObj:
   print ("match --> matchObj.group() : ", matchObj.group())
else:
   print ("No match!!")
 
matchObj = re.search( r'dogs', line, re.M|re.I)
if matchObj:
   print ("search --> matchObj.group() : ", matchObj.group())
else:
   print ("No match!!")

No match!!
search --> matchObj.group() :  dogs

In [59]:
#re.sub(pattern,repl,string,count=0,flag=0)

In [60]:
import re
phone = "2004-959-559 # 这是一个电话号码"

#删除注释
num = re.sub(r'#.*$',"",phone)
print("电话号码：",num)
#移除非数字的内容
num = re.sub(r'\D',"",phone)
print("电话号码：",num)

电话号码： 2004-959-559
电话号码： 2004959559

In [61]:
import re
#将匹配的数字乘于2
def double(matched):
    value = int(matched.group('value'))
    return str(value * 2)
s = 'A23G4HFD567'
print(re.sub('(?P<value>\d+)',double,s))

A46G8HFD1134

In [65]:
#re.compile(pattern[,flags])

In [66]:
import re
pattern = re.compile(r'\d+')
m = pattern.match('one12twothree34four')
print(m)

None

In [67]:
m = pattern.match('one12twothree34four',2,10)
print(m)

None

In [68]:
m = pattern.match('one12twothree34four',3,10)
print(m)

<re.Match object; span=(3, 5), match='12'>

In [69]:
m.group(0)

'12'

In [70]:
m.start()

3

In [72]:
m.end()

5

In [73]:
m.span()

(3, 5)

In [75]:
import re
pattern = re.compile(r'([a-z]+) ([a-z]+)',re.I)
m = pattern.match('Hello World Wide Web')
print(m)

<re.Match object; span=(0, 11), match='Hello World'>

In [76]:
m.group(0)

'Hello World'

In [77]:
m.span()

(0, 11)

In [78]:
m.group(1)

'Hello'

In [79]:
m.group(2)

'World'

In [80]:
m.span(2)

(6, 11)

In [83]:
m.groups()

('Hello', 'World')

In [84]:
m.group(3)

IndexError: no such group

In [86]:
#re.findall(pattern.string,flag=0)

In [89]:
import re
 
result1 = re.findall(r'\d+','runoob 123 google 456')
 
pattern = re.compile(r'\d+')   # 查找数字
result2 = pattern.findall('runoob 123 google 456')
result3 = pattern.findall('run88oob123google456', 0, 10)
 
print(result1)
print(result2)
print(result3)

['123', '456']
['123', '456']
['88', '12']

In [91]:
import re
it = re.finditer(r"\d+","12a32bc43jf3")
for match in it:
    print(match.group())

12
32
43
3

In [95]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [96]:
'a b    c'.split(' ')

['a', 'b', '', '', '', 'c']

In [97]:
re.split(r'\s+','a b    c')

['a', 'b', 'c']

In [98]:
re.split(r'[\s\,]+','a,b, c d')

['a', 'b', 'c', 'd']

In [99]:
re.split(r'[\s\,\;]+', 'a,b;; c  d')

['a', 'b', 'c', 'd']

In [100]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [101]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [102]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [103]:
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

In [105]:
with open('re_test.txt',encoding='UTF-8') as f:
    content = f.read()
    res = re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.search'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

--------------------re.search---------------------
toocle01@netsun.com
--------------------re.findall--------------------
toocle01@netsun.com
jingchuang@gdjingchuang.com
tianyi0205@163.com

In [106]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [107]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [108]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [109]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [110]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [111]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [112]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [114]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana']

In [115]:
l = [1,2,3,4]
it = iter(l)    # 创建迭代器对象
print(next(it))   # 输出迭代器的下一个元素
print (next(it))

1
2

In [116]:
def fibonacci(n): # 生成器函数 - 斐波那契
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10) # f 是一个迭代器，由生成器返回生成

for x in f:
    print (x, end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [117]:
add = lambda x,y : x + y
add(2,3)

5

In [118]:
a = filter(lambda x : x % 2 != 0, [1,2,3,4])
list(a)

[1, 3]

In [119]:
a = map(lambda x : x + 10, [1,2,3,4])
list(a)

[11, 12, 13, 14]

In [120]:
from functools import reduce
reduce(lambda x, y : x + y, [1,2,3,4])

10

In [123]:
from people import People

p = People('runoob',10)
print(p.age)
print(p.name)
p.speak()

10
runoob
runoob 说: 我 10 岁。

In [124]:
isinstance(p, People)

True

In [125]:
from people import Student

s = Student('ken',10,3)
s.speak()

ken 说: 我 10 岁了，我在读 3 年级

In [126]:
issubclass(Blackcat, Cat)

NameError: name 'Blackcat' is not defined

In [127]:
isinstance(s, Student)
isinstance(s, People)

True

In [134]:
class Employee:
   '所有员工的基类'
   empCount = 0
 
   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount)
 
   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)
 
"创建 Employee 类的第一个对象"
emp1 = Employee("Zara", 2000)
"创建 Employee 类的第二个对象"
emp2 = Employee("Manni", 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print("Total Employee %d" % Employee.empCount)

Name :  Zara , Salary:  2000
Name :  Manni , Salary:  5000
Total Employee 2

In [129]:
class Test:
    def prt(self):
        print(self)
        print(self.__class__)
 
t = Test()
t.prt()

<__main__.Test object at 0x0D753CD0>
<class '__main__.Test'>

In [130]:
class Test:
    def prt(runoob):
        print(runoob)
        print(runoob.__class__)
 
t = Test()
t.prt()

<__main__.Test object at 0x0D753EB0>
<class '__main__.Test'>