In [2]:
var1="hello world!"
var2="runoob"
print(type(var1))
print(len(var1))
print("var1[0]:",var1[0])
print("var2[1:5]:",var2[1:5])

<class 'str'>
12
var1[0]: h
var2[1:5]: unoo

In [3]:
var1="hello world!"
print("已更新字符串:",var1[:6]+'runoob!')

已更新字符串: hello runoob!

In [5]:
"hello"*5
"h"in "hello"

True

In [6]:
name="lucy"
print(f"I am {name}")
print(r"I\'m ok")

I am lucy
I\'m ok

In [7]:
sentence="hello world"
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [11]:
var="www.runoob.com"
sub="o"
print("var.count('o'):",var.count(sub))

sub="run"
print("var.count('run',0,10):",var.count(sub,0,10))

var.count('o'): 3
var.count('run',0,10): 1

In [18]:
str1="runoob"
str2="runoob菜鸟教程"
str3="runoob example...!!"
str4="runoob2016"
str5="2020"
str6="二零二零"

print(str1.isalpha())
print(str2.isalpha())
print(str3.isalpha())
print(str4.isalpha())
print(str5.isalpha())
print(str6.isalpha())
print("*"*25)
print(str1.isalnum())
print(str2.isalnum())
print(str3.isalnum())
print(str4.isalnum())
print(str5.isalnum())
print(str6.isalnum())
print("*"*25)
print(str1.isdigit())
print(str2.isdigit())
print(str3.isdigit())
print(str4.isdigit())
print(str5.isdigit())
print(str6.isdigit())
print("*"*25)
print(str1.isnumeric())
print(str2.isnumeric())
print(str3.isnumeric())
print(str4.isnumeric())
print(str5.isnumeric())
print(str6.isnumeric())
print("*"*25)

True
True
False
False
False
True
*************************
True
True
False
True
True
True
*************************
False
False
False
False
True
False
*************************
False
False
False
False
True
True
*************************

In [20]:
var="this is string example ...wow!!!"
print(var.startswith("this"))
print(var.startswith("string",8))
print(var.startswith("this",2,4))

True
True
False

In [3]:
var="runoob example....wow!!!"
suffix="!!"
print(var.endswith(suffix))
print(var.endswith(suffix,len(var)-1))
suffix="run"
print(var.endswith(suffix))
print(var.endswith(suffix,0,3))

True
False
False
True

In [5]:
str1="runoob example.....wow!!!"
str2="exam"

print(str1.find(str2))
print(str1.find(str2,5))
print(str1.find(str2,10))
#print(str1.index(str2,10))

7
7
-1

In [8]:
str1="      **************this is **string** example .....wow!!!****       "
str1=str1.strip()
print(str1)
str1=str1.strip("*")
str1

**************this is **string** example .....wow!!!****

'this is **string** example .....wow!!!'

In [5]:
txt="google#runoob#taobao#facebook"
print(txt.split("#"))
x=txt.split("#",4)
print(x)

['google', 'runoob', 'taobao', 'facebook']
['google', 'runoob', 'taobao', 'facebook']

In [6]:
str1="www.w3cschool.cc"
print("菜鸟教程旧地址:",str1)
print("菜鸟教程新地址:",str1.replace("w3cschool.c","runoob.com"))

str2="this is string example ...wow!!!"
print(str2.replace("is","was",3))

菜鸟教程旧地址: www.w3cschool.cc
菜鸟教程新地址: www.runoob.comc
thwas was string example ...wow!!!

In [142]:
import re
re.match(r'\d{3}\-\d{3,8}$',"010-12345")

In [2]:
print(re.match(r'^\d{3}\-\d{3,8}$',"010 12345"))

None

In [5]:
"a b    c".split('a')

['', ' b    c']

In [4]:
re.split(r'\s+',"a b    c")

['a', 'b', 'c']

In [4]:
re.split(r'[\s\,]+',"a,b, c  d")

['a', 'b', 'c', 'd']

In [143]:
re.split(r'[\s\,\;]+',"a,b;; c  d")

['a', 'b', 'c', 'd']

In [156]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [148]:
t="19:05:30"
m=re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$',t)
m.groups()

('19', '05', '30')

In [5]:
re.match(r"^(\d+)(0*)$","102300").groups()

('102300', '')

In [6]:
re.match(r"^(\d+?)(0*)$","102300").groups()

('1023', '00')

In [8]:
with open("re_test.txt",encoding="utf-8")as f:
    content=f.read()
    res=re.search(r"^[a-zA-z0-9_-]+@[a-zA-z0-9_-]+(\.[a-zA-z0-9_-]+)+$",content,re.M)
    print("re.search".center(50,"-"))
    print(res.group())
    print("re.findall".center(50,"-"))
    res=re.findall(r"^[a-zA-z0-9_-]+@[a-zA-z0-9_-]+(\.[a-zA-z0-9_-]+)+$",content,re.M)
    for x in res:
        print(x[0])

--------------------re.search---------------------
toocle01@netsun.com
--------------------re.findall--------------------
.
.
.

In [9]:
colors=["red","green","blue","yellow","white","black"]
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [10]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
black
white
yellow

In [11]:
numbers=[0,10,20,30,40,50,60,70,80,90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2:-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [18]:
colors=["red","green","blue","yellow","white","black"]
colors[2]="pink"
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [20]:
colors=["red","green","blue","yellow","white","black"]
del colors[2]
colors.remove("red")
colors

['green', 'yellow', 'white', 'black']

In [21]:
colors=["red","green","blue","yellow","white","black"]
colors.append("pink")
colors.insert(2,"brown")
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [22]:
colors=["red","green","blue","yellow","white","black"]
print(colors.count("red"))
print(colors.index("green"))

1
1

In [23]:
numbers=[0,1,2,4,5,6,8,9,3,1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[]

In [24]:
squares=[]
squares+=[1,4,9,16,25]
squares+=[36,49,64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [25]:
squares.extend([81,100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
["hello","world"]*5

['hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world']

In [27]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [28]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [29]:
args=[*range(5),"hello","world"]
print(args)
print(*args,sep="_")

[0, 1, 2, 3, 4, 'hello', 'world']
0_1_2_3_4_hello_world

In [158]:
tup1=("goole","runoob",1997,2000)
print(type(tup1))
tup2=(1,2,3,4,5)
tup3="a","b","c","d"
tup4=(1,)
tup5=1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('goole', 'runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [159]:
tup1[0]

'goole'

In [160]:
tup1[1]="baidu"

TypeError: 'tuple' object does not support item assignment

In [35]:
tup1+tup2

('goole', 'runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [161]:
#del tup1
print(tup1)

('goole', 'runoob', 1997, 2000)

In [37]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [1]:
basket={"apple","orange","apple","pear","orange","banana"}
print(type(basket))
print(basket)
letters=set("hello world")
print(letters)

<class 'set'>
{'pear', 'orange', 'apple', 'banana'}
{'o', ' ', 'd', 'e', 'h', 'l', 'w', 'r'}

In [2]:
basket.add("melon")
print(basket)
basket.remove("apple")
print(basket)

{'banana', 'orange', 'apple', 'melon', 'pear'}
{'banana', 'orange', 'melon', 'pear'}

In [3]:
basket={"apple","orange","apple","pear","orange","banana"}
basket.update("melon")
print(basket)
basket.update(["melon","lemon"])
print(basket)

{'o', 'banana', 'orange', 'apple', 'n', 'e', 'm', 'l', 'pear'}
{'o', 'banana', 'orange', 'apple', 'n', 'e', 'm', 'l', 'melon', 'pear', 'lemon'}

In [5]:
a=set("abracadabra")
b=set("alacazam")
print(a)
print(b)
print(a-b)
print(a|b)
print(a&b)
print(a^b)

{'a', 'c', 'd', 'b', 'r'}
{'a', 'c', 'm', 'l', 'z'}
{'b', 'r', 'd'}
{'a', 'c', 'd', 'b', 'm', 'l', 'z', 'r'}
{'a', 'c'}
{'m', 'l', 'b', 'z', 'r', 'd'}

In [15]:
dict1={"name":"runoob","age":17,"class":"first"}
print(type(dict1))
print("dict1['name']:",dict1["name"])
print("dict1['age']:",dict1["age"])

<class 'dict'>
dict1['name']: runoob
dict1['age']: 17

In [17]:
dict1={
    "name":"runoob",
    "age":17,
    "class":"first"
}

dict1["age"]=18
dict1["school"]="菜鸟教程"
dict1

{'name': 'runoob', 'age': 18, 'class': 'first', 'school': '菜鸟教程'}

In [18]:
dict1={"name":"runoob","age":17,"class":"first"}
del dict1["name"]
print(dict1)
dict1.clear()
print(dict1)

{'age': 17, 'class': 'first'}
{}

In [19]:
dict1={"name":"runoob","age":17,"class":"first"}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'age', 'class'])
dict_values(['runoob', 17, 'first'])
dict_items([('name', 'runoob'), ('age', 17), ('class', 'first')])

In [20]:
print(dict1.fromkeys("abc",0))

{'a': 0, 'b': 0, 'c': 0}

In [21]:
dict1={"name":"runoob","age":17}
dict2={"sex":"female","age":18}
dict1.update(dict2)
print("更新字典dict1:",dict1)

更新字典dict1: {'name': 'runoob', 'age': 18, 'sex': 'female'}

In [23]:
basket=["apple","orange","apple","pear","orange","banana"]
basket={"apple","orange","apple","pear","orange","banana"}
basket=("apple","orange","apple","pear","orange","banana")
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [24]:
basket=["apple","orange","apple","pear","orange","banana"]
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [28]:
basket=["apple","orange","apple","pear","orange","banana"]
indexes=range(len(basket))
print(list(enumerate(basket)))
print(list(zip(indexes,basket)))
for i,v in zip(indexes,basket):
    print(f"{i}{'-'*10}{v}")

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [29]:
r1=range(10)
r2=range(10,20)
for i,j in zip(r1,r2):
    print(f"{i}*{j} is {i*j}")

0*10 is 0
1*11 is 11
2*12 is 24
3*13 is 39
4*14 is 56
5*15 is 75
6*16 is 96
7*17 is 119
8*18 is 144
9*19 is 171

In [30]:
dict1={"name":"runoob","age":17,"class":"first"}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k,v in dict1.items():
    print(f"{k}{'-'*10}{v}")

name
age
class
runoob
17
first
name----------runoob
age----------17
class----------first

In [43]:
basket=["apple","pear","banana"]
numbers=list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [45]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

In [51]:
l=[1,2,3,4]
it=iter(l)
print(next(it))
print (next(it))

1
2

In [52]:
l=[1,2,3,4]
it=iter(l)
for x in it:
    print(x,end=" ")

1 2 3 4

In [53]:
def fibonacci(n):
    a,b,counter=0,1,0
    while True:
        if (counter>n):
            return
        yield a
        a,b=b,a+b
        counter+=1
f=fibonacci(10)

for x in f:
    print(x,end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [54]:
def add(x,y):
    return x+y
add(2,3)

5

In [55]:
add=lambda x,y:x+y
add(2,3)

5

In [56]:
a=filter(lambda x:x%2!=0,[1,2,3,4])
list(a)

[1, 3]

In [57]:
a=map(lambda x:x+10,[1,2,3,4])
list(a)

[11, 12, 13, 14]

In [58]:
from functools import reduce
reduce(lambda x,y:x+y,[1,2,3,4])

10

In [61]:
from people import People

p=People("runoob",10)
print(p.age)
print(p.name)
p.speak()

10
runoob
runoob 说: 我 10 岁。

In [62]:
isinstance(p,People)

True

In [64]:
from people import Student
s=Student("ken",10,3)
s.speak()

ken 说: 我 10 岁了，我在读 3 年级

In [69]:
issubclass(People,Student)

False

In [68]:
isinstance(s,Student)
isinstance(s,People)

True

In [81]:
class Parent(object):
    def override(self):
        print("PARENT override()")
        
    def implicit(self):
        print("PARET implicit()")
        
    def altered(self):
        print("PARENT altered()")


class Child(Parent):
    def override(self):
        print("CHILD override()")
        
    def altered(self):
        print("CHILD,BEFORE PARENT altered()")
        super(Child,self).altered()
        print("CHILD,AFTER PARENT altered()")
        
dad=Parent()
son=Child()

dad.implicit()
son.implicit()

dad.override()
son.override()

dad.altered()
son.altered()

PARET implicit()
PARET implicit()
PARENT override()
CHILD override()
PARENT altered()
CHILD,BEFORE PARENT altered()
PARENT altered()
CHILD,AFTER PARENT altered()

In [97]:
class Other(object):
    def override(self):
        print("OTHER override()")
    def implicit(self):
        print("OTHER implicit()")
    def altered(self):
        print("OTHER altered()")

class Child(object):
    def __init__(self): 
        self.other=Other()
    def implicit(self): 
        self.other.implicit()
    def override(self): 
        print("CHILD override()")
    def altered(self):
        print("CHILD,BEFORE OTHER altered()") 
        self.other.altered()
        print("CHILD,AFTER OTHER altered()")
        
son=Child()
son.implicit()
son.override()
son.altered()

OTHER implicit()
CHILD override()
CHILD,BEFORE OTHER altered()
OTHER altered()
CHILD,AFTER OTHER altered()

In [98]:
issubclass(Child,Other)

False

In [103]:
from animal import*

adams=Animal(name="Adams",age=2)
adams.actually
Animal.actually
adams.name

adams.sleep()
adams.eat("meat")

adams.sentence("really")
Animal.sentence("actaully")

adams.other("Tim","play")
Animal.other("Mary", "watch")

Animal.actually="Animal"
print(adams.actually)

adams.actually="animal"
print(Animal.actually)

adams.age=3
print(adams.age)

Adams is sleeping
Adams is eating meat
I am really an Animal
I am actaully an Animal
Tim is playing
Mary is watching
Animal
Animal
3

In [104]:
david=Dog("david",2)

david.eating()
david.running

dean=Dog("dean",4)
dean.running

david.country="America"
print(david.country)
del david.country
del david._country

david.city="beijing"
print(david.city)

I am eating
I can't run
I am running
America
The attr country is deleted
beijing

In [137]:
cole=Cat(5)
cole.weight
cole._weight
cole.get_trueweight()

#cole._Cat_weight 'Cat' object has no attribute '_Cat_weight'

cain=Blackcat(5)
cain.get_weight()
cain.get_weight_again()

cain.get_myweight()
cain.get_trueweight()

Actually the cat's weight is 5
My weight is 7
Actuall my weight is 6
My weight is 6 kg
My weight is exactly 7

In [140]:
wtony=Whitetiger("Tony",10,100)
wtony.eatmore()
wtony.realname()

'Actually my name is Tony'

In [115]:
import os
os.getcwd()

'C:\\Users\\lenovo\\douban\\douban'

In [116]:
import glob
glob.glob("*.py")

['animal.py',
 'items.py',
 'middlewares.py',
 'people.py',
 'pipelines.py',
 'settings.py',
 'xiaoming.py',
 '__init__.py']

In [117]:
import sys
print(sys.argv)

['C:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\lenovo\\AppData\\Roaming\\jupyter\\runtime\\kernel-df843069-a1f4-4750-995f-b27647113a0d.json']

In [118]:
import math
math.cos(math.pi/4)
math.log(1024,2)

10.0

In [119]:
import statistics
data=[2.75,1.75,1.25,0.25,0.5,1.25,3.5]
statistics.mean(data)
statistics.median(data)
statistics.variance(data)

1.3720238095238095

In [122]:
from urllib.request import urlopen
with urlopen('http://news.xjtu.edu.cn/zyxw.htm') as response:
    for line in response:
        line = line.decode('utf-8')  
        if "西安交通大学" in line or "创新港" in line:  
            print(line)

    <title>主页新闻-西安交通大学新闻网</title><META Name="keywords" Content="西安交通大学新闻网" />

                            <a hhref="info/1033/126634.htm" target="_blank" title="2020年度全国普通高校军事课骨干教师研修班在西安交大举办" class="zy2">12月7日上午，由教育部主办、西安交通大学承办的2020年度全国普通高校军事课骨干教师研修班在西安交大开班。西安交通大学副校长郑庆华，教师教学发展中心主任徐忠锋，学工部部长、武装部部长周远，教务处副处长兰剑，军事教研室二级教授张正明，东南大学马...</a>

                            <a hhref="info/1033/126612.htm" target="_blank" title="【实验室安全我做主】实验室安全月学院系列活动火热进行中（二）" class="zy2">为全面弘扬实验室安全文化，增强广大师生实验室安全风险防范意识，第二届“西安交通大学实验室安全月”已于11月16日正式启动，系列活动正在陆续开展，各个学院的安全月活动也正在火热进行中。机械学院：全面复核实验室准入资格、开展实验室安全讲座11月24...</a>

                            <a href="info/1033/126609.htm" target="_blank" title="【教育部官网】西安交通大学“四个坚持”深入推进劳动教育" class="y">2020-12</a>

                            <a href="info/1033/126609.htm" target="_blank" title="【教育部官网】西安交通大学“四个坚持”深入推进劳动教育" class="r">08</a>

                            <a href="info/1033/126609.htm" target="_blank" title="【教育部官网】西安交通大学“四个坚持”深入推进劳动教育" class="bt">【教育部官网】西安交通大学“四个坚持”深入推进劳动教育

                            <a hhref="info/1033/126609.htm" target="_blank" title="【教育部官网】西安交通大学“四个坚持”深入推进劳动教育" class="zy2">西安交通大学认真学习贯彻全国教育大会精神，深入落实立德树人根本任务，将劳动教育融入人才培养全过程，采取系列措施推动以劳树德、以劳增智、以劳育美、以劳化人，努力培养德智体美劳全面发展的社会主义建设者和接班人。坚持全面发展以劳树德。出台《劳...</a>

                            <a hhref="info/1033/125828.htm" target="_blank" title="【校友建功立业风采】陆明媚：铿锵玫瑰 明媚如你" class="zy2"> 陆明媚：1989-1993年在西安交通大学锅炉专业学习，现为建投河北热力有限公司党总支书记、董事长，高级工程师。11月24日，全国劳动模范和先进工作者表彰大会在北京人民大会堂隆重举行。建投河北热力有限公司党总支书记、董事长陆明媚同志被授予全国劳动模...</a>

                            <a href="info/1033/125787.htm" target="_blank" title="西安交通大学举办党委中心组辅导报告会暨“丝绸之路大法官讲坛”第二讲" class="y">2020-12</a>

                            <a href="info/1033/125787.htm" target="_blank" title="西安交通大学举办党委中心组辅导报告会暨“丝绸之路大法官讲坛”第二讲" class="r">05</a>

                            <a href="info/1033/125787.htm" target="_blank" title="西安交通大学举办党委中心组辅导报告会暨“丝绸之路大法官讲坛”第二讲" class="bt">西安交通大学举办党委中心组辅导报告会暨“丝绸之路大法官讲坛”第二讲

                            <a hhref="info/1033/125787.htm" target="_blank" title="西安交通大学举办党委中心组辅导报告会暨“丝绸之路大法官讲坛”第二讲" class="zy2">12月4日下午，西安交通大学举办党委中心组辅导报告会暨“丝绸之路大法官讲坛”第二讲。会议以“讲好中国法治故事，传播中国法治强音”为主题，邀请最高人民法院副院长陶凯元大法官作专题报告。学校党委中心组一组二组成员及法学研究院师生代表参加报告会。...</a>

    版权所有：西安交通大学党委宣传部 网站建设：<a href="https://beian.miit.gov.cn/">网络信息中心陕ICP备06008037号 网络信息中心提供网络带宽</a>

In [123]:
from datetime import date
now=date.today()
now
now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")
birthday=date(1964,7,31)
age=now-birthday
age.days

20584

In [126]:
import reprlib
reprlib.repr(set("supercalifragilisticexpialidocious"))

"{'a', 'c', 'd', 'e', 'f', 'g', ...}"

In [128]:
import pprint
t= [[[['black', 'cyan'], 'white', ['green', 'red']], [['magenta',
    'yellow'], 'blue']]]
pprint.pprint(t, width=30)

[[[['black', 'cyan'],
   'white',
   ['green', 'red']],
  [['magenta', 'yellow'],
   'blue']]]