In [1]:

list = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print( list[0] )
print( list[1] )
print( list[2] )

red
green
blue

In [2]:
list1 = ['Google', 'Runoob', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
list4 = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print( list1[0] )
print( list2[1] )
print( list3[2] )

Google
2
c

In [3]:
list = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print( list[-1] )
print( list[-2] )
print( list[-3] )

black
white
yellow

In [4]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(nums[0:4])

list = ['Google', 'Runoob', "Zhihu", "Taobao", "Wiki"]
 
# 读取第二位
print ("list[1]: ", list[1])
# 从第二位开始（包含）截取到倒数第二位（不包含）
print ("list[1:-2]: ", list[1:-2])

[10, 20, 30, 40]
list[1]:  Runoob
list[1:-2]:  ['Runoob', 'Zhihu']

In [5]:
list = ['Google', 'Runoob', 1997, 2000]
 
print ("第三个元素为 : ", list[2])
list[2] = 2001
print ("更新后的第三个元素为 : ", list[2])

第三个元素为 :  1997
更新后的第三个元素为 :  2001

In [6]:
list = ['Google', 'Runoob', 1997, 2000]
 
print ("原始列表 : ", list)
del list[2]
print ("删除第三个元素 : ", list)

原始列表 :  ['Google', 'Runoob', 1997, 2000]
删除第三个元素 :  ['Google', 'Runoob', 2000]

In [9]:
L=['Google', 'Runoob', 'Taobao']
L[2]

print(L[-2])

L[1:]

Runoob

['Runoob', 'Taobao']

In [10]:
squares = [1, 4, 9, 16, 25]
>>> squares += [36, 49, 64, 81, 100]
>>> squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
a = ['a', 'b', 'c']
>>> n = [1, 2, 3]
>>> x = [a, n]
>>> print(x)

>>> print(x[0])

>>> x[0][1]

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']

'b'

In [12]:
tup1 = ('Google', 'Runoob', 1997, 2000)
>>> tup2 = (1, 2, 3, 4, 5 )
>>> tup3 = "a", "b", "c", "d"   #  不需要括号也可以
>>> type(tup3)

tuple

In [15]:
tup1 = (50)
>>> print(type(tup1))     # 不加逗号，类型为整型


>>> tup1 = (50,)
>>> type(tup1)     # 加上逗号，类型为元组

<class 'int'>

tuple

In [16]:
tup1 = ('Google', 'Runoob', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
 
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  Google
tup2[1:5]:  (2, 3, 4, 5)

In [17]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
 
# 以下修改元组元素操作是非法的。
# tup1[0] = 100
 
# 创建一个新的元组
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [18]:
tup = ('Google', 'Runoob', 1997, 2000)
 
print (tup)
del tup
print ("删除后的元组 tup : ")
print (tup)

('Google', 'Runoob', 1997, 2000)
删除后的元组 tup :

NameError: name 'tup' is not defined

In [23]:
tup = ('Google', 'Runoob', 'Taobao', 'Wiki', 'Weibo','Weixin')
>>> tup[1]

>>> tup[-2]

>>> tup[1:]

>>> tup[1:4]

('Runoob', 'Taobao', 'Wiki')

In [24]:
tuple1 = ('Google', 'Runoob', 'Taobao')
>>> len(tuple1)

3

In [25]:
tuple2 = ('5', '4', '8')
>>> max(tuple2)

'8'

In [26]:
tuple2 = ('5', '4', '8')
>>> min(tuple2)

'4'

In [27]:
list1= ['Google', 'Taobao', 'Runoob', 'Baidu']
>>> tuple1=tuple(list1)
>>> tuple1

('Google', 'Taobao', 'Runoob', 'Baidu')

In [28]:
tup = ('r', 'u', 'n', 'o', 'o', 'b')
>>> tup[0] = 'g'     # 不支持修改元素

TypeError: 'tuple' object does not support item assignment

In [29]:
id(tup)     # 查看内存地址

4440687904

In [30]:
tup = (1,2,3)
>>> id(tup)

1654790613824

In [31]:
dict1 = { 'abc': 456 }
dict2 = { 'abc': 123, 98.6: 37 }
dict = {'name': 'runoob', 'likes': 123, 'url': 'www.runoob.com'}

In [32]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Runoob
dict['Age']:  7

In [33]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
print ("dict['Alice']: ", dict['Alice'])

KeyError: 'Alice'

In [34]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
dict['Age'] = 8               # 更新 Age
dict['School'] = "菜鸟教程"  # 添加信息
 
 
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  菜鸟教程

In [37]:
dict = {'Name': 'Runoob', 'Age': 7, 'School': 'First'}
 
# del dict['Name'] # 删除键 'Name'
# dict.clear()     # 清空字典
# del dict         # 删除字典
 
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  7
dict['School']:  First

In [38]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
del dict['Name'] # 删除键 'Name'
dict.clear()     # 清空字典
del dict         # 删除字典
 
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

TypeError: 'type' object is not subscriptable

In [39]:
dict = {'Name': 'Runoob', 'Age': 7, 'Name': '小菜鸟'}
 
print ("dict['Name']: ", dict['Name'])

dict['Name']:  小菜鸟

In [40]:
dict = {['Name']: 'Runoob', 'Age': 7}
 
print ("dict['Name']: ", dict['Name'])

TypeError: unhashable type: 'list'

In [41]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
>>> len(dict)

3

In [42]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
>>> str(dict)

"{'Name': 'Runoob', 'Age': 7, 'Class': 'First'}"

In [43]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
>>> type(dict)

dict

In [44]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
>>> print(basket)                      # 这里演示的是去重功能

>>> 'orange' in basket                 # 快速判断元素是否在集合内

>>> 'crabgrass' in basket


>>> # 下面展示两个集合间的运算.
...
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> print(a)                                  

>>> print(a - b)                              # 集合a中包含而集合b中不包含的元素

>>> print(a | b)                              # 集合a或b中包含的所有元素

>>> print(a & b )                             # 集合a和b中都包含了的元素

>>> print(a ^ b)                              # 不同时包含于a和b的元素

{'banana', 'orange', 'apple', 'pear'}
{'c', 'd', 'a', 'b', 'r'}
{'d', 'b', 'r'}
{'z', 'c', 'm', 'd', 'l', 'a', 'b', 'r'}
{'a', 'c'}
{'m', 'd', 'l', 'b', 'z', 'r'}

In [45]:
a = {x for x in 'abracadabra' if x not in 'abc'}
>>> a

{'d', 'r'}

In [46]:
thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.add("Facebook")
>>> print(thisset)

{'Google', 'Facebook', 'Runoob', 'Taobao'}

In [47]:
thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.update({1,3})
>>> print(thisset)

>>> thisset.update([1,4],[5,6])  
>>> print(thisset)

{1, 3, 'Google', 'Runoob', 'Taobao'}
{1, 3, 4, 5, 6, 'Google', 'Runoob', 'Taobao'}

In [48]:
thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.remove("Taobao")
>>> print(thisset)

>>> thisset.remove("Facebook")   # 不存在会发生错误

{'Google', 'Runoob'}

KeyError: 'Facebook'

In [49]:
thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.discard("Facebook")  # 不存在不会发生错误
>>> print(thisset)

{'Google', 'Runoob', 'Taobao'}

In [51]:
thisset = set(("Google", "Runoob", "Taobao", "Facebook"))
x = thisset.pop()

print(x)
print(thisset)

Google
{'Facebook', 'Runoob', 'Taobao'}

In [52]:
thisset = set(("Google", "Runoob", "Taobao"))
>>> len(thisset)

3

In [53]:
thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.clear()
>>> print(thisset)

set()

In [55]:
thisset = set(("Google", "Runoob", "Taobao"))
>>> print("Runoob" in thisset)

>>> "Facebook" in thisset

True

False