In [4]:
var1='Hello World'
var2='Runoob'
print(type(var1))
print(len(var1))
print("var1[0]:",var1[0])
print("var2[1:5]:",var2[1:5])

<class 'str'>
11
var1[0]: H
var2[1:5]: unoo

In [6]:
var1='Hello World'
print("已更新字符串：",var1[:6]+'Runoob!')

已更新字符串： Hello Runoob!

In [10]:
'Hello World '*5

'Hello World Hello World Hello World Hello World Hello World '

In [9]:
'H' in 'Hello World'

True

In [11]:
's' in 'Hello World'

False

In [15]:
name='Lucy'
print(f'I am {name}')

I am Lucy

In [18]:
sentence='hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [21]:
var="www.runoob.com"
sub='o'
print("var.count('o'):",var.count(sub))
sub='run'
print("var.count('run',0,10):",var.count(sub,0,10))
sub='s'
print("var.count('s'):",var.count(sub))

var.count('o'): 3
var.count('run',0,10): 1
var.count('s'): 0

In [38]:
str1="runoob"
str2="runoob菜鸟教程"
str3="Runoob example......wow!!!"
str4="runoob2020"
str5="2020"
str6="我爱你中国"
print(str1.isalpha())
print(str2.isalpha())
print(str3.isalpha())
print(str4.isalpha())
print(str5.isalpha())
print(str6.isalpha())
print('*'*5)
print(str1.isalnum())
print(str2.isalnum())
print(str3.isalnum())
print(str4.isalnum())
print(str5.isalnum())
print(str6.isalnum())
print('*'*50)
print(str1.isnumeric())
print(str2.isnumeric())
print(str3.isnumeric())
print(str4.isnumeric())
print(str5.isnumeric())
print(str6.isnumeric())

True
True
False
False
False
True
*****
True
True
False
True
True
True
**************************************************
False
False
False
False
True
False

In [44]:
var="this is string example....wow!!!"
print(var.startswith('this'))
print(var.startswith('string',8))
print(var.startswith('this',2,4))

True
True
False

In [48]:
var='Runoob example....wow!!!'
suffix='!!'
print(var.endswith(suffix))
print(var.endswith(suffix,len(var)-1))
suffix='Run'
print(var.endswith(suffix))
print(var.endswith(suffix,0,3))

True
False
False
True

In [54]:
str1="Runoob example....wow!!!"
str2="exam"
print(str1.find(str2))
print(str1.find(str2,5))
print(str1.find(str2,10))

7
7
-1

In [59]:
str1="    ******this is ***string*** example.....wow!!!!*******       "
str1=str1.strip()
print(str1)
str1=str1.strip('*')
print(str1)

******this is ***string*** example.....wow!!!!*******
this is ***string*** example.....wow!!!!

In [61]:
txt="Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
x=txt.split("#",1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [67]:
colors=['red','green','blue','yellow','white','black']
print(type(colors))
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

<class 'list'>
red
green
blue
black
white
yellow

In [69]:
numbers=[0,10,20,30,40,50,60,70,80,90]
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [71]:
colors=['red','green','blue','yellow','white','black']
colors[2]='pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [73]:
colors=['red','green','blue','yellow','white','black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'white', 'black']

In [74]:
colors=['red','green','blue','yellow','white','black']
colors.append('pink')
colors.insert(2,'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [76]:
colors=['red','green','blue','yellow','white','black','red']
print(colors.count('red'))
print(colors.index('green'))

2
1

In [79]:
numbers=[0,1,2,4,5,6,8,9,3,1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [80]:
squares=[]
squares+=[1,4,9,16,25]
squares+=[36,49,64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [81]:
squares.extend([81,100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
['Hello','World']*5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [83]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [84]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [85]:
args=[*range(5),'Hello','World']
print(args)
print(*args,sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [87]:
tup1=('Google','Runoob',1997,2000)
print(type(tup1))
tup2=(1,2,3,4,5)
tup3="a","b","c","d"
tup4=(1,)
tup5=1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [88]:
tup1[0]

'Google'

In [90]:
tup1+tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [93]:
basket={'apple','orange','apple','pear','orange','banana'}
print(type(basket))
letters=set('Hello World')
print(letters)

<class 'set'>
{'l', 'e', 'H', 'd', 'r', 'W', ' ', 'o'}

In [94]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'orange', 'pear', 'apple', 'banana', 'melon'}
{'orange', 'pear', 'banana', 'melon'}

In [95]:
basket={'apple','orange','apple','pear','orange','banana'}
basket.update('melon')
print(basket)
basket.update(['melon','lemon'])
print(basket)

{'l', 'orange', 'pear', 'n', 'apple', 'banana', 'e', 'o', 'm'}
{'l', 'orange', 'pear', 'n', 'apple', 'melon', 'banana', 'lemon', 'e', 'o', 'm'}

In [97]:
a=set('abracadabra')
b=set('alacazam')
print(a)
print(b)
print(a-b)
print(a|b)
print(a&b)
print(a^b)

{'b', 'd', 'a', 'r', 'c'}
{'l', 'a', 'z', 'c', 'm'}
{'r', 'd', 'b'}
{'l', 'b', 'a', 'd', 'z', 'r', 'c', 'm'}
{'c', 'a'}
{'z', 'l', 'r', 'b', 'd', 'm'}

In [98]:
basket=['apple','orange','apple','pear','orange','banana']
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [99]:
basket=['apple','ornge','apple','pear','orange','banana']
for i in range(len(basket)):
    print(basket[i])

apple
ornge
apple
pear
orange
banana

In [101]:
basket=['apple','orange','apple','pear','orange','banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [102]:
basket=['apple','orange','apple','pear','orange','banana']
indexs=range(len(basket))
print(list(zip(indexs,basket)))
for i, v in zip(indexs, basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [104]:
r1=range(10)
r2=range(10,20)
for i, j in zip(r1,r2):
    print(f'{i}*{j} is {i*j}')

0*10 is 0
1*11 is 11
2*12 is 24
3*13 is 39
4*14 is 56
5*15 is 75
6*16 is 96
7*17 is 119
8*18 is 144
9*19 is 171

In [105]:
basket=['apple','pear','banana']
numbers=list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [109]:
def flat(l):
    f=[]
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

In [111]:
l=[1,2,3,4]
it=iter(l)
print(next(it))
print(next(it))

1
2

In [112]:
l=[1,2,3,4]
it=iter(l)
for x in it:
    print(x,end=" ")

1 2 3 4