## 3 Pandas

In [ ]:
import numpy as np
import pandas as pd

### 3.1 Object creation

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

In [ ]:
df2.dtypes

### 3.2 Viewing data

In [ ]:
grads = pd.read_excel('../成绩.xlsx', index_col='id')
grads

In [ ]:
grads.head()

In [ ]:
grads.tail(3)

In [ ]:
grads.index

In [ ]:
grads.columns

In [ ]:
grads.describe()

In [ ]:
grads.sort_index()

In [ ]:
grads.sort_values(by='line_01')

### 3.3 Selection
#### 3.3.1 Getting

In [ ]:
grads[['line_01', 'line_02']]

In [ ]:
grads[0:3]

#### 3.3.2 Selection by label

In [ ]:
grads.loc[[3120332023, 3120301259], ['line_01', 'line_02']]

In [ ]:
grads.at[3120301259, 'line_01']

#### 3.3.3 Selection by position

In [ ]:
grads.iloc[[1, 3], [2, 4]]

In [ ]:
grads.iat[1, 1]

#### 3.3.4 Boolean indexing

In [ ]:
grads[grads['line_01'] >= 200]

In [ ]:
grads['line_01'] >= 200

In [ ]:
grads[grads == np.nan]

#### 3.3.5 Setting

In [ ]:
grads.iat[1, 1] = 0
grads.iat[1, 1]

In [ ]:
grads.loc[:, 'line_01'] = np.array([200] * len(grads))
grads.loc[:, 'line_01']

In [ ]:
grads['total'] = np.nan
grads['total']

### 3.4 Missing data

In [ ]:
good = grads.dropna(how='any')
good.shape

In [ ]:
grads['line_01'].fillna(value=1000)

In [ ]:
grads.isna()

### 3.5 Operations
#### 3.5.1 Stats

In [ ]:
grads.mean()

In [ ]:
grads.mean(1)

#### 3.5.2 Apply

In [ ]:
grads['total'] = grads[['line_01', 'line_02', 'line_03', 'line_04']].apply(np.sum, axis=1)
grads['total']

In [ ]:
grads.groupby('cell_01').sum()

#### 3.5.3 Save

In [ ]:
grads.to_excel('new_grads.xlsx')