In [1]:
str1="jupyter lab"
str2="i want to have a rest."
print(type(str1))
print("str1[3]:",str1[3])
print("str2[1:6]",str2[1:6])

<class 'str'>
str1[3]: y
str2[1:6]  want

In [2]:
print("已更新字符串:",str1[:8]+'mars')

已更新字符串: jupyter mars

In [4]:
'hi'*5
'e'in'hi'

False

In [5]:
name='lin'
print(f"her name is {name}.")
print(r'she\'s fine')

her name is lin.
she\'s fine

In [6]:
sentence="saving completed"
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Saving completed
SAVING COMPLETED
Saving Completed

In [7]:
str3="coconut juice"
print("str3.count('o')=",str3.count('o'))
print("str3.count('on',0,5)=",str3.count('on',0,5))

str3.count('o')= 2
str3.count('on',0,5)= 1

In [8]:
s1="nihao"
s2="ciao"
s3="123"
s4="nihao 123"
s5="2020"
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())
print(s4.isalpha())
print(s5.isalpha())
print('-'*30)
print(s1.isalnum)
print(s2.isalnum)
print(s3.isalnum)
print(s4.isalnum)
print(s5.isalnum)
print('-'*30)
print(s1.isdigit())
print(s2.isdigit())
print(s3.isdigit())
print(s4.isdigit())
print(s5.isdigit())
print('-'*30)
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())
print(s4.isnumeric())
print(s5.isnumeric())

True
True
False
False
False
------------------------------
<built-in method isalnum of str object at 0x00000210B7422130>
<built-in method isalnum of str object at 0x00000210B74220F0>
<built-in method isalnum of str object at 0x00000210B74221F0>
<built-in method isalnum of str object at 0x00000210B7422270>
<built-in method isalnum of str object at 0x00000210B74220B0>
------------------------------
False
False
True
False
True
------------------------------
False
False
True
False
True

In [10]:
var="this is string example...wow!"
print(var.startswith('a'))
print(var.startswith('string',8))
print(var.startswith('is',2,4))

False
True
True

In [11]:
var='runoob example. wow!!!'
suffix='!!'
print(var.endswith(suffix))
print(var.endswith(suffix),len(var)-1)
suffix='run'
print(var.endswith(suffix))
print(var.endswith(suffix,0,2))

True
True 21
False
False

In [1]:
str1='nude mood'
str2='de'
print(str1.find(str2))
print(str1.find(str2,2))
print(str1.index(str2,3))

2
2

ValueError: substring not found

In [2]:
str1="--hi!go-to-sleep!--"
str1=str1.strip()
print(str1)
str1=str1.strip('-')
str1

--hi!go-to-sleep!--

'hi!go-to-sleep!'

In [3]:
txt="google#runoob#taobao#facebook"
print(txt.split('#'))
x=txt.split("#",2)
print(x)

['google', 'runoob', 'taobao', 'facebook']
['google', 'runoob', 'taobao#facebook']

In [4]:
str1="www.old.com"
print('the old website is:',str1)
print('the new one is:',str1.replace('old','new'))

the old website is: www.old.com
the new one is: www.new.com

In [6]:
fruit=['apple','orange','grape','kiwi']
print(type(fruit))
fruit

<class 'list'>

['apple', 'orange', 'grape', 'kiwi']

In [7]:
print(fruit[2])
print(fruit[-1])

grape
kiwi

In [8]:
numbers=[0,5,15,20,25,30,35]
print(type(numbers))
print(numbers[1:])
print(numbers[2:4])
print(numbers[1:6:1])
print(numbers[:4])
print(numbers[-1:-5:-1])
print(numbers[-5:-1])
print(numbers[-3::-1])
print(numbers[::-1])

<class 'list'>
[5, 15, 20, 25, 30, 35]
[15, 20]
[5, 15, 20, 25, 30]
[0, 5, 15, 20]
[35, 30, 25, 20]
[15, 20, 25, 30]
[25, 20, 15, 5, 0]
[35, 30, 25, 20, 15, 5, 0]

In [9]:
fruit[3]='pear'
fruit

['apple', 'orange', 'grape', 'pear']

In [10]:
del fruit[1]
fruit.remove('grape')
fruit

['apple', 'pear']

In [11]:
fruit.append('apple')
fruit.insert(1,'orange')
fruit

['apple', 'orange', 'pear', 'apple']

In [12]:
print(fruit.count('apple'))
print(fruit.index('pear'))

2
2

In [13]:
squares=[]
squares+=[1,4,9,16,25]
squares+=[36,49,64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [15]:
['hello','world']*100

['hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world']

In [17]:
tup1=('google','runoob',1997,2000)
print(type(tup1))
tup2=(1,2,3,4,5)
tup3="a","b","c","d"
tup4=(1,)
tup5=1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('google', 'runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [18]:
tup1[1]

'runoob'

In [20]:
tup2[1]

2

In [21]:
tup2+tup3

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

In [27]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [28]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [29]:
basket={'apple','orange','apple','pear','orange','banana'}
print(type(basket))
print(basket)
letters=set('hello world')
print(letters)

<class 'set'>
{'banana', 'orange', 'apple', 'pear'}
{'o', ' ', 'e', 'h', 'd', 'r', 'w', 'l'}

In [30]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'banana', 'orange', 'melon', 'apple', 'pear'}
{'banana', 'orange', 'melon', 'pear'}

In [31]:
a=set('abracadabra')
b=set('alacazam')
print(a)
print(b)
print(a-b)
print(a|b)
print(a&b)
print(a^b)

{'c', 'a', 'd', 'b', 'r'}
{'c', 'z', 'a', 'm', 'l'}
{'d', 'b', 'r'}
{'c', 'z', 'a', 'd', 'b', 'r', 'm', 'l'}
{'a', 'c'}
{'m', 'd', 'z', 'b', 'r', 'l'}

In [32]:
dict1={'name':'runoob','age':7,'class':'first'}
print(type(dict1))
print("dict1['name']:",dict1['name'])
print("dict1['age']:",dict1['age'])

<class 'dict'>
dict1['name']: runoob
dict1['age']: 7

In [39]:
dict1={
    'name':'runoob',
    'age':7,
    'class':'first'
}
dict1['name']="ins"
dict1['type']="ssn"
dict1

{'name': 'ins', 'age': 7, 'class': 'first', 'type': 'ssn'}

In [41]:
dict1={'name':'runoob','age':7,'class':'first'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'age', 'class'])
dict_values(['runoob', 7, 'first'])
dict_items([('name', 'runoob'), ('age', 7), ('class', 'first')])

In [42]:
print(dict1.fromkeys('abc',0))

{'a': 0, 'b': 0, 'c': 0}

In [43]:
basket=['apple','pear','banana']
numbers=list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [58]:
def flat(1):
    f=[]
    for x in 1:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
        return f
flat(basket)

SyntaxError: invalid syntax (<ipython-input-58-bc8209f73d06>, line 1)

In [76]:
def flat(1):
    f=[]
    for x in 1:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(tup2)

SyntaxError: invalid syntax (<ipython-input-76-8b264e14545c>, line 1)

In [62]:
l=[1,2,3,4]
it=iter(l)
for x in it:
    print(x,end='-')

1-2-3-4-

In [74]:
def fibonacci(n):
    a,b,counter=0,1,0
    while True:
        if(counter>n):
            return
        yield a
        a,b=b,a+b
        counter += 1
f=fibonacci(10)
for x in f:
    print (x, end="-")

0-1-1-2-3-5-8-13-21-34-55-

In [77]:
add = lambda x,y:x*y
add(2,3)

6

In [78]:
a=filter(lambda x:x%3!=0,[1,4,6,8])
list(a)

[1, 4, 8]

In [79]:
b=map(lambda x : x+2,[1,2,3,4])
list(b)

[3, 4, 5, 6]

In [80]:
from functools import reduce
reduce(lambda x,y:x*y,[1,2,3,4])

24

In [81]:
from functools import reduce
reduce(lambda x,y:x+y,[1,2,3,4])

10

In [82]:
basket=['apple','orange','apple','pear','orange','banana']
print(list(enumerate(basket)))
for i,v in enumerate(basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [85]:
basket=['apple','orange','apple','pear','orange','banana']
indexes=range(len(basket))
print(list(zip(indexes,basket)))
for i,v in zip(indexes,basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [88]:
r1=range(10)
r2=range(10,20)
for i,j in zip(r1,r2):
    print(f'{i}*{j} is {i*j}')

0*10 is 0
1*11 is 11
2*12 is 24
3*13 is 39
4*14 is 56
5*15 is 75
6*16 is 96
7*17 is 119
8*18 is 144
9*19 is 171