In [1]:
str1="Jupyter Lab"
str2="I want to have a rest."
print(type(str1))
print("str1[3]: ", str1[3])
print("str2[1:6]", str2[1:6])

<class 'str'>
str1[3]:  y
str2[1:6]  want

In [2]:
print("已更新字符串：", str1[:8]+'Mars')

已更新字符串： Jupyter Mars

In [3]:
'Hi' *5
'e' in 'Hi'

False

In [6]:
name='Lin'
print(f"Her name is {name}.")
print(r'She\'s fine.')

Her name is Lin.
She\'s fine.

In [8]:
sentence="saving completed"
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Saving completed
SAVING COMPLETED
Saving Completed

In [12]:
str3="coconut juice"
print("str3.count('o')=",str3.count('o'))
print("str3.count('on',0,5)=", str3.count('on',0,5))

str3.count('o')= 2
str3.count('on',0,5)= 1

In [13]:
s1="你好"
s2="ciao"
s3="123"
s4="你好123"
s5="二零二零"
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())
print(s4.isalpha())
print(s5.isalpha())
print('-'*30)
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())
print(s4.isalnum())
print(s5.isalnum())
print('-'*30)
print(s1.isdigit())
print(s2.isdigit())
print(s3.isdigit())
print(s4.isdigit())
print(s5.isdigit())
print('-'*30)
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())
print(s4.isnumeric())
print(s5.isnumeric())

True
True
False
False
True
------------------------------
True
True
True
True
True
------------------------------
False
False
True
False
False
------------------------------
False
False
True
False
True

In [16]:
var="this is string example...wow!"
print(var.startswith('a'))
print(var.startswith('string', 8))
print(var.startswith('is',2,4))

False
True
True

In [4]:
var='Runoob example. Wow!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var)-1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 2))

True
False
False
False

In [10]:
str1='nude mood'
str2='de'
print(str1.find(str2))
print(str1.find(str2, 2))
print(str1.index(str2, 3))

2
2

ValueError: substring not found

In [17]:
str1=" --Hi! Go -to- sleep!--  "
str1 = str1.strip()
print(str1)
str1 = str1.strip('-')
str1

--Hi! Go -to- sleep!--

'Hi! Go -to- sleep!'

In [19]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
x = txt.split("#", 2)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob', 'Taobao#Facebook']

In [21]:
str1="www.old.com"
print('The old website is:',str1)
print('The new one is:', str1.replace('old','new'))

The old website is: www.old.com
The new one is: www.new.com

In [22]:
fruit=['apple','orange','grape','kiwi']
print(type(fruit))
fruit

<class 'list'>

['apple', 'orange', 'grape', 'kiwi']

In [23]:
print(fruit[2])
print(fruit[-1])

grape
kiwi

In [26]:
numbers=[0,5,15,20,25,30,35]
print(type(numbers))

print(numbers[1:])
print(numbers[2:4])
print(numbers[1:6:1])
print(numbers[:4])
print(numbers[-1:-5:-1])
print(numbers[-5:-1])
print(numbers[-3::-1])
print(numbers[::-1])

<class 'list'>
[5, 15, 20, 25, 30, 35]
[15, 20]
[5, 15, 20, 25, 30]
[0, 5, 15, 20]
[35, 30, 25, 20]
[15, 20, 25, 30]
[25, 20, 15, 5, 0]
[35, 30, 25, 20, 15, 5, 0]

In [27]:
fruit[3]='pear'
fruit

['apple', 'orange', 'grape', 'pear']

In [28]:
del fruit[1]
fruit.remove('grape')
fruit

['apple', 'pear']

In [30]:
fruit.append('apple')
fruit.insert(1,'orange')
fruit

['apple', 'orange', 'orange', 'pear', 'apple', 'apple']

In [31]:
print(fruit.count('apple'))
print(fruit.index('pear'))

3
3

In [32]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [33]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [34]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [35]:
tup1[1]

'Runoob'

In [40]:
tup2[1] = 3

TypeError: 'tuple' object does not support item assignment

In [41]:
tup2 + tup3

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

In [42]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [44]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [45]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'banana', 'orange', 'apple', 'pear'}
{'e', ' ', 'l', 'r', 'd', 'o', 'W', 'H'}

In [46]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'orange', 'pear', 'apple', 'melon', 'banana'}
{'orange', 'pear', 'melon', 'banana'}

In [47]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) # 集合a中包含而集合b中不包含的元素
print(a | b) # 集合a或b中包含的所有元素
print(a & b) # 集合a和b中都包含了的元素
print(a ^ b) # 不同时包含于a和b的元素

{'c', 'a', 'd', 'r', 'b'}
{'c', 'm', 'a', 'l', 'z'}
{'r', 'b', 'd'}
{'c', 'm', 'a', 'l', 'r', 'd', 'z', 'b'}
{'a', 'c'}
{'r', 'm', 'z', 'b', 'l', 'd'}

In [48]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  Runoob
dict1['Age']:  7

In [49]:
dict1 = {
    'Name': 'Runoob', 
    'Age': 7, 
    'Class': 'First'
}
 
dict1['Name'] = "Ins"             
dict1['Type'] = "SSN" 
dict1

{'Name': 'Ins', 'Age': 7, 'Class': 'First', 'Type': 'SSN'}

In [50]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [51]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [52]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [53]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

In [54]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(tup2)

[1, 2, 3, 4, 5]

In [56]:
l=[1,2,3,4]
it = iter(l)   
for x in it:
    print (x, end="-")

1-2-3-4-

In [57]:
def fibonacci(n): 
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10) 

for x in f:
    print (x, end="-")

0-1-1-2-3-5-8-13-21-34-55-

In [58]:
add = lambda x, y : x * y 
add(2, 3)

6

In [59]:
a = filter(lambda x : x % 3 != 0, [1,4,6,8])
list(a)

[1, 4, 8]

In [60]:
b = map(lambda x : x + 2, [1,2,3,4])
list(b)

[3, 4, 5, 6]

In [61]:
from functools import reduce
reduce(lambda x, y : x + y, [1,2,3,4])

10

In [63]:
from functools import reduce
reduce(lambda x, y : x * y, [1,2,3,4])

24