In [7]:
age = 18

if age < 20:
    print("age < 20")

age < 20

In [1]:
if 1:
    print("hello 1")

hello 1

In [2]:
a = 3
if a == 3:
    print("hello 2")

hello 2

In [3]:
a = 3
if a > 1:
    print("hello 3")

hello 3

In [4]:
list = [1,2,3]
if list:
    print("hello 4")

hello 4

In [5]:
a = 3
if a > 2:
    print("H")
else:
    print("L")

H

In [6]:
a = 1
if a > 2:
    print("H")
else:
    print("L")

L

In [8]:
a = 17
b = True if a > 10 else False
print(b)

True

In [10]:
a = -1
while a < 10:
    a +=1
    if a>=7:
        continue
    print("A")

A
A
A
A
A
A
A

In [12]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [13]:
def add(x, y):
    return x + y

In [14]:
add (1, 10)

11

In [15]:
add ('abc', 'def')

'abcdef'

In [16]:
def newfunc(n):
    def myfunc(x):
        return x + n
    return myfunc

new = newfunc(100)
new(200)

300

In [17]:
a = [1, 3, 5, 7]
b = a [:]
print(a)

[1, 3, 5, 7]

In [18]:
print(b)

[1, 3, 5, 7]

In [ ]:
a = 30
b = 30

In [19]:
if(a is b):
    print(a == b)
else:
    print(a != b)

False

In [ ]:
b==a

In [36]:
b is a

True

In [38]:
i = 10
if (i > 15):
    print("10 is less than 15")
print("I am Not in if")

I am Not in if

In [39]:
i = 10
if (i == 10):
    if ( i < 15):
        print ("i is smaller than 15")
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [40]:
a = 20
if ( a == 10):
    print("a is 10")
elif (a == 15):
    print("a is 15")
elif (a == 20):
    print("a is 20")
else:
    print("a is not present")

a is 20

In [41]:
b = 10
if b < 20:
    print("b is less than 20")

b is less than 20

In [42]:
c = 10
print(True) if c < 15 else print(False)

True

In [44]:
a = 1
while a < 10:
    print (a)
    a += 2

1
3
5
7
9

In [49]:
i = 1
while i < 10:
    i += 1
    if i%2 > 0:
        continue
    print(i)
i = 1
while 1:
    print(i)
    i += 1
    if i > 10:
        break

2
4
6
8
10
1
2
3
4
5
6
7
8
9
10

In [50]:
count =0
while count < 5:
    print(count, "is less than 5")
    count = count + 1
else:
    print(count, "is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

In [52]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [53]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [54]:
q = 5
while q > 0:
    q -= 1
    print(q)
else:
    print('Done.')

4
3
2
1
0
Done.

In [59]:
mmm = [10, 40, 20, 30]
for element in mmm:
    print(element + 2)

12
42
22
32

In [60]:
a = ['Hello', 'Good morning', 'What is your name?']
for i in a:
    print(i)

Hello
Good morning
What is your name?

In [61]:
i, j = (1,2)
print(i,j)

1 2

In [62]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

In [64]:
dict = {'name':'runoob', 'age':7, 'class':'first'}
print(dict['name'])
print(dict['age'])

runoob
7

In [66]:
list1 = ["Timmy", "Charlie", "Katty", "Robert"]
print("The lenght of the list is", len(list1))

The lenght of the list is 4

In [68]:
Tup = ['Jan', 'Feb', 'March']
print("The lenght of the tuple is", len(Tup))

The lenght of the tuple is 3

In [69]:
s1 = 'Hello'
s2 = 'World'
print(s1 + s2)

HelloWorld

In [70]:
len('Hello')

5

In [71]:
In [1]: str = 'https://github.com/yuanxiaodu/python-class/blob/main/02/02.ipynb'

In [2]: str.split('/')

['https:',
 '',
 'github.com',
 'yuanxiaodu',
 'python-class',
 'blob',
 'main',
 '02',
 '02.ipynb']

In [72]:
In [3]: file_name = str.split('/')[-1]

In [4]: file_name

'02.ipynb'

In [76]:
IKEA = {'table', 'bed', 'chair', 'candle', 'meatballs'}
print(IKEA)

{'candle', 'table', 'meatballs', 'chair', 'bed'}

In [77]:
'table' in IKEA

True

In [78]:
'meatballs' in IKEA

True

In [79]:
'sweather' in IKEA

False

In [80]:
'candle' in IKEA

True

In [81]:
'lipsctick' in IKEA

False

In [82]:
s = 'a0-b1-c2-d3-e4-f5-g6'

s[::3]

'abcdefg'

In [83]:
s[2::3]

'------'

In [84]:
s[1::3]

'0123456'

In [85]:
s[3:12:3]

'bcd'

In [86]:
s[9:1:-3]

'dcb'

In [87]:
s = 'string'
s[0], s[2], s[5]

('s', 'r', 'g')

In [88]:
s[4], s[-2]

('n', 'n')

In [89]:
s[len(s) - 2], s[4 - len(s)]

('n', 'n')

In [90]:
a,b = 0,1
while b < 10:
    print(b)
    a,b = b,a + b

1
1
2
3
5
8

In [91]:
string = 'I like to eat jiaozi'
string[:6]

'I like'

In [92]:
string[7:13]

'to eat'

In [93]:
string[0:-1:2]

'Ilk oetjaz'

In [97]:
a = 10
if a > 0:
    a = a * 0.7
a

7.0

In [98]:
b = 0
a = 50
n = 98
if n < 100:
    b = n + a
print(b)

148

In [99]:
product1 = 50
product2 = 32
if product1 + product2 > 99:
    print("99 yuan is not enough")
else:
    print("The receipt is paid")

The receipt is paid