In [3]:
def print_two(*a):
    a1, a2 = a
    print(f"a1 is: {a1}, a2 is: {a2}")
print_two("Wang","Long")

a1 is: Wang, a2 is: Long

In [4]:
def print_two_again(a1, a2):
    print(f"a1 is: {a1}, a2 is: {a2}")
print_two_again("Wang","Long")

a1 is: Wang, a2 is: Long

In [6]:
def print_one(a1):
    print(f"a is: {a1}")
print_one("WL")

a is: WL

In [7]:
def print_none():
    print("Nothing")
print_none()

Nothing

In [8]:
filename = 'class2.txt'
txt = open(filename)
print(f"Here's your file {filename}:")
print(txt.read())
txt.close()

Here's your file class2.txt:

In [9]:
target = open(filename, 'w')
print("Please input something")
line1 = input("line 1: ")
line2 = input("line 2: ")
target.write(line1)
target.write("\n")
target.write(line2)
target.write("\n")
print("save and  close it.")
target.close()

Please input something

line 1:  123
line 2:  123

save and  close it.

In [13]:
def add(a, b):
    print(f"Adding {a} + {b}")
    return a + b
add(3,3)

Adding 3 + 3

6

### 列表

In [16]:
name_list = ['Tom', 'Lily', 'Rose']
print(name_list[0]) # Tom
print(name_list[1]) # Lily
print(name_list[2]) # Rose

Tom
Lily
Rose

In [17]:
# index() 返回指定数据所在的下标
print(name_list.index('Lily'))
# count() 统计指定数据在当前列表中出现的次数
print(name_list.count('Lily')) 
# len()：访问列表长度，即列表中数据的个数。
print(len(name_list ))

1
1
3

In [18]:
print('Lily' in name_list)
print('Lilys' in name_list)
print('Lily' not in name_list)
print('Lilys' not in name_list)

True
False
False
True

In [19]:
name_list = ['Tom', 'Lily', 'Rose']
name = input('请输⼊入您要搜索的名字：')
if name in name_list:
    print(f'您输⼊入的名字是{name}, 名字已经存在')
else:
    print(f'您输⼊入的名字是{name}, 名字不不存在')

请输⼊入您要搜索的名字： Tom

您输⼊入的名字是Tom, 名字已经存在

In [20]:
name_list = ['Tom', 'Lily', 'Rose']
name_list.append('xiaoming')
print(name_list)

['Tom', 'Lily', 'Rose', 'xiaoming']

In [21]:
name_list.append(['xiaoming', 'xiaohong'])
print(name_list)

['Tom', 'Lily', 'Rose', 'xiaoming', ['xiaoming', 'xiaohong']]

In [22]:
name_list.extend('xiaoming')
print(name_list)

['Tom', 'Lily', 'Rose', 'xiaoming', ['xiaoming', 'xiaohong'], 'x', 'i', 'a', 'o', 'm', 'i', 'n', 'g']

In [23]:
name_list = ['Tom', 'Lily', 'Rose']
name_list.insert(1, 'xiaoming')
print(name_list)

['Tom', 'xiaoming', 'Lily', 'Rose']

In [26]:
# name_list = ['Tom', 'Lily', 'Rose']
# del name_list
# print(name_list)
# 结果报错

In [29]:
name_list = ['Tom', 'Lily', 'Rose']
del name_list[0]
print(name_list)

['Lily', 'Rose']

In [30]:
name_list = ['Tom', 'Lily', 'Rose']
del_name = name_list.pop(1)
print(del_name)
print(name_list)

Lily
['Tom', 'Rose']

In [31]:
name_list = ['Tom', 'Lily', 'Rose']
name_list.remove('Rose')
print(name_list)

['Tom', 'Lily']

In [33]:
name_list = ['Tom', 'Lily', 'Rose']
name_list.clear()
print(name_list) #

[]

In [35]:
name_list = ['Tom', 'Lily', 'Rose']
name_list[0] = 'aaa'
print(name_list)

['aaa', 'Lily', 'Rose']

In [37]:
num_list = [1, 5, 2, 3, 6, 8]
num_list.reverse()
print(num_list)

[8, 6, 3, 2, 5, 1]

In [38]:
name_list = ['Tom', 'Lily', 'Rose']
name_li2 = name_list.copy()
print(name_li2)

['Tom', 'Lily', 'Rose']

In [40]:
name_list = ['Tom', 'Lily', 'Rose']
i = 0
while i < len(name_list):
    print(name_list[i])
    i += 1

Tom
Lily
Rose

In [42]:
name_list = ['Tom', 'Lily', 'Rose']
for i in name_list:
    print(i)

Tom
Lily
Rose

In [43]:
name_list = [['⼩明', '小红', '小绿'], ['Tom', 'Lily', 'Rose'], ['张三', '李四',
'王五']]
print(name_list[2])
print(name_list[2][1])

['张三', '李四', '王五']
李四

### 元组

In [47]:
# 多个数据元组
t1 = (10, 20, 30)
# 单个数据元组
t2 = (10,)
print(t1)
print(t2)

(10, 20, 30)
(10,)

In [49]:
t2 = (10,)
print(type(t2)) 
t3 = (20)
print(type(t3)) 
t4 = ('hello')
print(type(t4))

<class 'tuple'>
<class 'int'>
<class 'str'>

In [54]:
tuple1 = ('aa', 'bb', 'cc', 'bb')
print(tuple1[0]) 
print(tuple1.index('aa'))
print(tuple1.count('bb'))
print(len(tuple1))

aa
0
2
4

In [58]:
tuple1[0] = 'aaa'
# 报错，不能直接修改

In [60]:
tuple2 = (10, 20, ['aa', 'bb', 'cc'], 50, 30)
print(tuple2[2]) # 访问到列表
tuple2[2][0] = 'aaaaa'
print(tuple2)

['aa', 'bb', 'cc']
(10, 20, ['aaaaa', 'bb', 'cc'], 50, 30)

### 集合

In [62]:
s1 = {10, 20, 30, 40, 50}
print(s1)
s2 = {10, 30, 20, 10, 30, 40, 30, 50}
print(s2)
s3 = set('abcdefg')
print(s3)
s4 = set()
print(type(s4)) 
s5 = {}
print(type(s5))

{40, 10, 50, 20, 30}
{40, 10, 50, 20, 30}
{'e', 'c', 'b', 'f', 'a', 'd', 'g'}
<class 'set'>
<class 'dict'>

In [64]:
s1 = {10, 20}
s1.add(100)
s1.add(10)
print(s1)

{100, 10, 20}

In [70]:
s1 = {10, 20}
s1.remove(10)
print(s1)
# s1.remove(10) # 报错
print(s1)

{20}
{20}

In [71]:
s1 = {10, 20}
s1.discard(10)
print(s1)
s1.discard(10)
print(s1)

{20}
{20}

In [72]:
s1 = {10, 20, 30, 40, 50}
del_num = s1.pop()
print(del_num)
print(s1)

40
{10, 50, 20, 30}

In [73]:
s1 = {10, 20, 30, 40, 50}
print(10 in s1)
print(10 not in s1)

True
False

### 字典

In [75]:
list1 = ['Tom', '男', 20]
print(list1)

['Tom', '男', 20]

In [82]:
## 有数据字典
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
# 空字典
dict2 = {}
dict3 = dict()
print(dict1)
print(dict2)
print(dict3)

{'name': 'Tom', 'age': 20, 'gender': '男'}
{}
{}

In [83]:
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
dict1['name'] = 'Rose'
print(dict1)
dict1['id'] = 110
print(dict1)

{'name': 'Rose', 'age': 20, 'gender': '男'}
{'name': 'Rose', 'age': 20, 'gender': '男', 'id': 110}

In [84]:
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
del dict1['gender']
print(dict1)

{'name': 'Tom', 'age': 20}

In [85]:
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
dict1.clear()
print(dict1)

{}

In [87]:
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
print(dict1['name']) 
# print(dict1['id']) # 报错

Tom

In [88]:
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
print(dict1.get('name')) 
print(dict1.get('id', 110))
print(dict1.get('id'))

Tom
110
None

In [91]:
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'age', 'gender'])
dict_values(['Tom', 20, '男'])
dict_items([('name', 'Tom'), ('age', 20), ('gender', '男')])

In [95]:
dict1 = {'name': 'Tom', 'age': 20, 'gender': '男'}
for key in dict1.keys():
    print(key)
for value in dict1.values():
    print(value)
for item in dict1.items():
    print(item)
for key, value in dict1.items():
    print(f'{key} = {value}')

name
age
gender
Tom
20
男
('name', 'Tom')
('age', 20)
('gender', '男')
name = Tom
age = 20
gender = 男

### 运算符

In [96]:
# 1. 字符串
str1 = 'aa'
str2 = 'bb'
str3 = str1 + str2
print(str3)
# 2. 列表
list1 = [1, 2]
list2 = [10, 20]
list3 = list1 + list2
print(list3)
# 3. 元组
t1 = (1, 2)
t2 = (10, 20)
t3 = t1 + t2
print(t3)

aabb
[1, 2, 10, 20]
(1, 2, 10, 20)

In [97]:
# 1. 字符串
print('-' * 10)
# 2. 列列表
list1 = ['hello']
print(list1 * 4)
# 3. 元组
t1 = ('world',)
print(t1 * 4)

----------
['hello', 'hello', 'hello', 'hello']
('world', 'world', 'world', 'world')

In [98]:
# 1. 字符串
print('a' in 'abcd') 
print('a' not in 'abcd') #
# 2. 列表
list1 = ['a', 'b', 'c', 'd']
print('a' in list1) 
print('a' not in list1) 
# 3. 元组
t1 = ('a', 'b', 'c', 'd')
print('aa' in t1) 
print('aa' not in t1)

True
False
True
False
False
True

In [99]:
# 1. 字符串
str1 = 'abcdefg'
print(len(str1)) 
# 2. 列表
list1 = [10, 20, 30, 40]
print(len(list1)) 
# 3. 元组
t1 = (10, 20, 30, 40, 50)
print(len(t1)) 
# 4. 集合
s1 = {10, 20, 30}
print(len(s1))
# 5. 字典
dict1 = {'name': 'Rose', 'age': 18}
print(len(dict1))

7
4
5
3
2

In [103]:
# 1. 字符串
str1 = 'abcdefg'
print(max(str1))
# 2. 列表
list1 = [10, 20, 30, 40]
print(max(list1))

g
40

In [104]:
# 1. 字符串
str1 = 'abcdefg'
print(min(str1)) 
# 2. 列表
list1 = [10, 20, 30, 40]
print(min(list1))

a
10

In [107]:
for i in range(1, 10, 1):
    print(i)
for i in range(1, 10, 2):
    print(i)
for i in range(10):
    print(i)

In [108]:
list1 = ['a', 'b', 'c', 'd', 'e']
for i in enumerate(list1):
    print(i)
for index, char in enumerate(list1, start=1):
    print(f'下标是{index}, 对应的字符是{char}')

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
下标是1, 对应的字符是a
下标是2, 对应的字符是b
下标是3, 对应的字符是c
下标是4, 对应的字符是d
下标是5, 对应的字符是e

In [109]:
list1 = [10, 20, 30, 40, 50, 20]
s1 = {100, 200, 300, 400, 500}
print(tuple(list1))
print(tuple(s1))

(10, 20, 30, 40, 50, 20)
(100, 200, 300, 400, 500)

In [110]:
t1 = ('a', 'b', 'c', 'd', 'e')
s1 = {100, 200, 300, 400, 500}
print(list(t1))
print(list(s1))

['a', 'b', 'c', 'd', 'e']
[100, 200, 300, 400, 500]

In [111]:
list1 = [10, 20, 30, 40, 50, 20]
t1 = ('a', 'b', 'c', 'd', 'e')
print(set(list1))
print(set(t1))

{40, 10, 50, 20, 30}
{'e', 'c', 'b', 'a', 'd'}