In [1]:
import sys
sys.executable

'D:\\1.Work\\anaconda3\\python.exe'

In [4]:
def hello():
    print('Hello world!')
hello()

Hello world!

In [5]:
hello()

Hello world!

In [6]:
def max(a, b):
    if a > b:
        return a
    else:
        return b

In [7]:
a = 4
b = 6
print(max(a, b))

6

In [8]:
def printme( str ):
    print ( str )
    return

In [9]:
printme('我要调用这个函数。')

我要调用这个函数。

In [10]:
list = [ 'abcd', 786, 2.23, 'runoob', 70.2]
tinylist = [ 123, 'abcd']

In [11]:
print(list)

['abcd', 786, 2.23, 'runoob', 70.2]

In [13]:
print(list[1:3])

[786, 2.23]

In [12]:
print(list[0])

abcd

In [14]:
print(list[2:])

[2.23, 'runoob', 70.2]

In [16]:
print(tinylist * 2)

[123, 'abcd', 123, 'abcd']

In [17]:
print(list + tinylist)

['abcd', 786, 2.23, 'runoob', 70.2, 123, 'abcd']

In [18]:
a = [1, 2, 3, 4, 5, 6]

In [19]:
a[0] = 9

In [20]:
a

[9, 2, 3, 4, 5, 6]

In [21]:
a[2:5] = [13, 14, 15]

In [22]:
a

[9, 2, 13, 14, 15, 6]

In [23]:
a[3:6] = []

In [24]:
a

[9, 2, 13]

In [25]:
tuple = ( 'abcd', 786 , 2.23, 'runoob', 70.2  )
tinytuple = (123, 'runoob')

In [26]:
print (tuple)

('abcd', 786, 2.23, 'runoob', 70.2)

In [27]:
print (tuple[0])

abcd

In [28]:
print (tuple[1:3])

(786, 2.23)

In [29]:
print (tuple[2:])

(2.23, 'runoob', 70.2)

In [30]:
print (tinytuple * 2)

(123, 'runoob', 123, 'runoob')

In [31]:
print (tuple + tinytuple)

('abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob')

In [32]:
tup = (1, 2, 3, 4, 5, 6)

In [33]:
print(tup[0])

1

In [34]:
print(tup[1:5])

(2, 3, 4, 5)

In [35]:
tup[0] = 11

TypeError: 'tuple' object does not support item assignment

In [36]:
sites = {'Google', 'Taobao', 'Runoob', 'Facebook', 'Zhihu', 'Baidu'}

In [37]:
print(sites)

{'Taobao', 'Google', 'Baidu', 'Facebook', 'Runoob', 'Zhihu'}

In [38]:
if 'Runoob' in sites :
    print('Runoob 在集合中')
else :
    print('Runoob 不在集合中')

Runoob 在集合中

In [39]:
a = set('abracadabra')
b = set('alacazam')

In [40]:
print(a)

{'r', 'a', 'c', 'b', 'd'}

In [41]:
print(a - b)

{'d', 'r', 'b'}

In [42]:
print(a | b)

{'z', 'm', 'r', 'l', 'a', 'c', 'b', 'd'}

In [43]:
print(a & b)

{'c', 'a'}

In [44]:
print(a ^ b)

{'d', 'z', 'm', 'r', 'b', 'l'}

In [45]:
dict = {}
dict['one'] = "1 - 菜鸟教程"
dict[2]     = "2 - 菜鸟工具"

In [46]:
tinydict = {'name': 'runoob','code':1, 'site': 'www.runoob.com'}

In [47]:
print (dict['one'])

1 - 菜鸟教程

In [48]:
print (dict[2])

2 - 菜鸟工具

In [49]:
print (tinydict)

{'name': 'runoob', 'code': 1, 'site': 'www.runoob.com'}

In [50]:
print (tinydict.keys())

dict_keys(['name', 'code', 'site'])

In [51]:
print (tinydict.values())

dict_values(['runoob', 1, 'www.runoob.com'])

In [53]:
var1 = 'Hello World!'
var2 = "Runoob"

In [54]:
print ("var1[0]: ", var1[0])

var1[0]:  H

In [55]:
print ("var2[1:5]: ", var2[1:5])

var2[1:5]:  unoo

In [56]:
print ("已更新字符串 : ", var1[:6] + 'Runoob!')

已更新字符串 :  Hello Runoob!

In [59]:
a = "Hello"
b = "Python"
print("a + b 输出结果：", a + b)
print("a * 2 输出结果：", a * 2)
print("a[1] 输出结果：", a[1])
print("a[1:4] 输出结果：", a[1:4])
if( "H" in a) :
    print("H 在变量 a 中")
else :
    print("H 不在变量 a 中")
if( "M" not in a) :
    print("M 不在变量 a 中")
else :
    print("M 在变量 a 中")
print (r'\n')
print (R'\n')

a + b 输出结果： HelloPython
a * 2 输出结果： HelloHello
a[1] 输出结果： e
a[1:4] 输出结果： ell
H 在变量 a 中
M 不在变量 a 中
\n
\n

In [58]:
x = 1
print(f'{x+1=}')

x+1=2

In [60]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [61]:
print(basket)                      
{'orange', 'banana', 'pear', 'apple'}

{'pear', 'orange', 'banana', 'apple'}

{'apple', 'banana', 'orange', 'pear'}

In [62]:
'orange' in basket

True

In [63]:
 'crabgrass' in basket

False

In [64]:
a = set('abracadabra')

In [65]:
b = set('alacazam')

In [66]:
a

{'a', 'b', 'c', 'd', 'r'}

In [67]:
a - b

{'b', 'd', 'r'}

In [68]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [69]:
a & b

{'a', 'c'}

In [70]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [71]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [72]:
a

{'d', 'r'}

In [86]:
thisset = set(("Google", "Runoob", "Taobao"))

In [74]:
thisset.add("Facebook")

In [77]:
print(thisset)

{'Facebook', 'Taobao', 'Runoob', 'Google'}

In [78]:
thisset.update({1,3})

In [79]:
print(thisset)

{1, 'Taobao', 3, 'Google', 'Facebook', 'Runoob'}

In [80]:
thisset.update([1,4],[5,6])

In [81]:
print(thisset)

{1, 'Taobao', 3, 4, 5, 6, 'Google', 'Facebook', 'Runoob'}

In [83]:
len(thisset)

3

In [84]:
thisset.clear()

In [85]:
print(thisset)

set()

In [87]:
"Runoob" in thisset

True

In [88]:
"Facebook" in thisset

False

In [89]:
a, b = 0, 1
while b < 10:
    print(b)
    a, b = b, a+b

1
1
2
3
5
8

In [90]:
i = 256*256
print('i 的值为：', i)

i 的值为： 65536

In [91]:
a, b = 0, 1
while b < 1000:
    print(b, end=',')
    a, b = b, a+b

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [6]:
a = 20
b = 10
c = 15
d = 5
e = 0
e = (a + b) * c / d

In [2]:
a == b

False

In [3]:
b != a

True

In [5]:
b is a

False

In [7]:
age = input('How old are you? ')
height = input('How tall are you? ')
weight = input('How much do you weigh? ')

print (f'So, you are {age} old , {height} tall and {weight} heavy. ')

How old are you?  20
How tall are you?  180
How much do you weigh?  70

So, you are 20 old , 180 tall and 70 heavy.

In [8]:
from sys import argv
script, first, second = argv

print('The script is called:', script)
print('Your first variable is:', first)
print('Your second variable is:', second)

The script is called: D:\1.Work\anaconda3\lib\site-packages\ipykernel_launcher.py
Your first variable is: -f
Your second variable is: C:\Users\34459\AppData\Roaming\jupyter\runtime\kernel-09749e92-5b2a-4156-aeb7-4edcfdce4037.json

In [9]:
counter = 100
miles = 1000.0
name = 'runoob'

In [10]:
print (counter)
print (miles)
print (name)

100
1000.0
runoob

In [11]:
if True:
    print ("True")
else:
    print ("False")

True

In [12]:
str='Runoob'
 
print(str)                 
print(str[0:-1])          
print(str[0])              
print(str[2:5])            
print(str[2:])            
print(str[1:5:2])          
print(str * 2)             
print(str + '你好')         
 
print('------------------------------')
 
print('hello\nrunoob')     
print(r'hello\nrunoob')

Runoob
Runoo
R
noo
noob
uo
RunoobRunoob
Runoob你好
------------------------------
hello
runoob
hello\nrunoob

In [13]:
x="a"
y="b"
print( x )
print( y )
 
print('---------')
print( x, end=" " )
print( y, end=" " )
print()

a
b
---------
a b

In [14]:
import sys
print('================Python import mode==========================')
print ('命令行参数为:')
for i in sys.argv:
    print (i)
print ('\n python 路径为',sys.path)

================Python import mode==========================
命令行参数为:
D:\1.Work\anaconda3\lib\site-packages\ipykernel_launcher.py
-f
C:\Users\34459\AppData\Roaming\jupyter\runtime\kernel-09749e92-5b2a-4156-aeb7-4edcfdce4037.json

 python 路径为 ['C:\\Users\\34459', 'D:\\1.Work\\Chemoffice2015\\ChemScript\\Lib', 'D:\\1.Work\\anaconda3\\python38.zip', 'D:\\1.Work\\anaconda3\\DLLs', 'D:\\1.Work\\anaconda3\\lib', 'D:\\1.Work\\anaconda3', '', 'D:\\1.Work\\anaconda3\\lib\\site-packages', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\win32', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\win32\\lib', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\Pythonwin', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\34459\\.ipython']

In [12]:
from sys import argv,path 
 
print('================python from import============================')
print('path:',path)

================python from import============================
path: ['C:\\Users\\34459', 'D:\\1.Work\\Chemoffice2015\\ChemScript\\Lib', 'D:\\1.Work\\anaconda3\\python38.zip', 'D:\\1.Work\\anaconda3\\DLLs', 'D:\\1.Work\\anaconda3\\lib', 'D:\\1.Work\\anaconda3', '', 'D:\\1.Work\\anaconda3\\lib\\site-packages', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\win32', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\win32\\lib', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\Pythonwin', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\34459\\.ipython']

In [15]:
from sys import argv,path 
 
print('================python from import============================')
print('path:',path)

================python from import============================
path: ['C:\\Users\\34459', 'D:\\1.Work\\Chemoffice2015\\ChemScript\\Lib', 'D:\\1.Work\\anaconda3\\python38.zip', 'D:\\1.Work\\anaconda3\\DLLs', 'D:\\1.Work\\anaconda3\\lib', 'D:\\1.Work\\anaconda3', '', 'D:\\1.Work\\anaconda3\\lib\\site-packages', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\win32', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\win32\\lib', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\Pythonwin', 'D:\\1.Work\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\34459\\.ipython']

In [16]:
counter = 100          
miles   = 1000.0       
name    = "runoob"     

print (counter)
print (miles)
print (name)

100
1000.0
runoob

In [17]:
a = "Hello"
b = "Python"
print("a + b 输出结果：", a + b)
print("a * 2 输出结果：", a * 2)
print("a[1] 输出结果：", a[1])
print("a[1:4] 输出结果：", a[1:4])
if( "H" in a) :
    print("H 在变量 a 中")
else :
    print("H 不在变量 a 中")
if( "M" not in a) :
    print("M 不在变量 a 中")
else :
    print("M 在变量 a 中")
print (r'\n')
print (R'\n')

a + b 输出结果： HelloPython
a * 2 输出结果： HelloHello
a[1] 输出结果： e
a[1:4] 输出结果： ell
H 在变量 a 中
M 不在变量 a 中
\n
\n

In [18]:
import re
 
result1 = re.findall(r'\d+','runoob 123 google 456')
 
pattern = re.compile(r'\d+')   # 查找数字
result2 = pattern.findall('runoob 123 google 456')
result3 = pattern.findall('run88oob123google456', 0, 10)
 
print(result1)
print(result2)
print(result3)

['123', '456']
['123', '456']
['88', '12']