In [1]:
print("1011")

1011

In [2]:
miles=1001
miles

1001

In [92]:
x = 1
x

1

In [93]:
x = 1
y = 9
x+y

10

In [95]:
x = 8
y = 1
x/y

8.0

In [96]:
x = 9
y = 2
x*y

18

In [97]:
y = 11
y = y*y
y

121

In [99]:
z = 1
z = z*z
z

1

In [101]:
y = 9 
q =2
y = y*q*q*q*q
y

144

In [102]:
z
(77 + z)
z

1

In [103]:
print(x + y)

153

In [105]:
print(1 + z * y)

145

In [3]:
a=2
b=1
c=1
a,b,c

(2, 1, 1)

In [5]:
c=a-b
c

1

In [7]:
c = c
c

1

In [11]:
print(a)

1

In [114]:
"my chickens and apples"

'my chickens and apples'

In [150]:
"my chickens and fishes"

'my chickens and fishes'

In [151]:
"different"

'different'

In [152]:
"time"
"time again"

'time again'

In [153]:
"fly to the moon"

'fly to the moon'

In [154]:
"is that ok?"

'is that ok?'

In [155]:
"go and go"

'go and go'

In [156]:
"fast"

'fast'

In [158]:
"ok, fine, yes."

'ok, fine, yes.'

In [159]:
"come on !"

'come on !'

In [115]:
"my chickens and apples"
print(a)
"my chickens and apples"
a = "my chickens and apples"
a

20

'my chickens and apples'

In [118]:
v = "my chickens"
print(v)
"my chickens"
v = "my chickens and all"
v

my chickens

'my chickens and all'

In [122]:
a = "coming soon "
b = "maybe "
c = "next year!"
print(a + b + c)

coming soon maybe next year!

In [123]:
a = "coming soon "
b = "maybe "
c = "next year!"
print(a + b + c + c)

coming soon maybe next year!next year!

In [124]:
a = "coming soon "
b = "maybe "
c = "next year!"
print(c + b + a)

next year!maybe coming soon

In [131]:
a = "coming soon "
b = "maybe "
c = "next year!"
print(a+ c + b ,"11")

coming soon next year!maybe  11

In [132]:
a = "coming soon "
b = "maybe "
c = "next year!"
print(a+ c + b ,"fly", "ok")

coming soon next year!maybe  fly ok

In [137]:
a = "coming soon "
b = "maybe "
c = "next year!"
print(a+ c + b ,"11", "f{a}")

coming soon next year!maybe  11 f{a}

In [139]:
a = "coming soon "
b = "maybe "
c = "next year!"
d = "yes"
print(a+ c + b +d ,"maybe so good", 3+3)

coming soon next year!maybe yes maybe so good 6

In [9]:
print("apples", 25+30 / 6)

apples 30.0

In [10]:
5 + 2 + 1 + 4 - 1 / 6

11.833333333333334

In [11]:
print("Is it grater ??" , 5 > 2)

Is it grater ?? True

In [13]:
5 >= 4.2

True

In [65]:
51 > 51 , 51 >= 51

(False, True)

In [63]:
51 > 51 , 51 >= 51
32 == 32

True

In [67]:
3 + 2 < 5 - 7 - 1
4 + 1 < 5 - 7 - 1

False

In [86]:
3 + 2 < 5 - 7 - 1
4 + 1 < 5 - 7 - 1
4 + 1 < 5 - 7 + 10
4 + 1 < 5 - 7 + 12
4 + 1 < 5 - 7 
4 + 1 < 5 - 6
4 + 1 < 5
4 + 1 < 5 + 9

True

3 + (2 < 5) - 7 - 1

In [16]:
3 + (2 > 5) - 7 -1

-5

In [18]:
c**3

1

In [68]:
a = 20
b = 10
c = 15
d = 5
e = 0

e=(a+c)*b/d #(30*15)/5
print("(a+c)*b/d caculate result is: ", e)

(a+c)*b/d caculate result is:  70.0

In [69]:
a = 20
b = 10
c = 15
d = 5
e = 0

e=(a+d)*b/d #(30*15)/5
print("(a+d)*b/d caculate result is: ", e)

(a+d)*b/d caculate result is:  50.0

In [70]:
a = 20
b = 10
c = 15
d = 5
e = 0

e=(a+a)*b/d #(30*15)/5
print("(a+a)*b/d caculate result is: ", e)

(a+a)*b/d caculate result is:  80.0

In [71]:
a = 20
b = 10
c = 15
d = 5
e = 0

e=(a+a)*d/d #(30*15)/5
print("(a+a)*d/d caculate result is: ", e)

(a+a)*d/d caculate result is:  40.0

In [76]:
my_name ="zaneboy"
print(f"let us talk about my name {my_name}")

let us talk about my name zaneboy

In [77]:
your_name ="zane"
print(f"let us talk about my name {my_name}")

let us talk about my name zaneboy

In [78]:
your_name ="zane"
print(f"let us talk about my name {your_name}")

let us talk about my name zane

In [25]:
my_name ="zane"
print("let us talk about my name {my_name}")#不使用f

let us talk about my name {my_name}

In [27]:
hilarious = False
story_evaluation = "isn’t that story so funny?! {}"
print(story_evaluation.format(hilarious))

isn’t that story so funny?! False

In [28]:
w = "This is the lest side of ..."
e = "a string with a right sdie."
c = "interesting."
d = "or other things?"
print(w+e+c+d)

This is the lest side of ...a string with a right sdie.interesting.or other things?

In [40]:
formatter1 = "{} {} {} {}"

print(formatter1.format(1,2,3,5))
print(formatter1.format("xx", "yy", "zz", "oo"))
print(formatter1.format(formatter1,formatter1,formatter1,formatter1))
print(formatter1.format(
    "formatter1", 
    "formatter1,formatter1,formatter1..",
    "This is",
    "a test."
))

1 2 3 5
xx yy zz oo
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}
formatter1 formatter1,formatter1,formatter1.. This is a test.

In [89]:
formatter1 = "{} {} {} {} {}"

print(formatter1.format(1,2,3,4,5))
print(formatter1.format("xx", "yy", "zz", "xx", "oo"))
print(formatter1.format(formatter1,formatter1,formatter1,formatter1,formatter1))
print(formatter1.format(
    "formatter1", 
    "formatter1,formatter1,formatter1..",
    "This is",
    "a test.",
    "!!"
))

1 2 3 4 5
xx yy zz xx oo
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}
formatter1 formatter1,formatter1,formatter1.. This is a test. !!

In [91]:
formatter1 = "{} {} {} {} {} {}"

print(formatter1.format(1,2,3,4,5,6))
print(formatter1.format("xx", "yy", "zz", "xx", "oo", "vv"))
print(formatter1.format(formatter1,formatter1,formatter1,formatter1,formatter1,formatter1))
print(formatter1.format(
    "formatter1", 
    "formatter1,formatter1,formatter1..",
    "This is",
    "a test.",
    "!!",
    "??"
))

1 2 3 4 5 6
xx yy zz xx oo vv
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}
formatter1 formatter1,formatter1,formatter1.. This is a test. !! ??

In [42]:
days="Monday Tuesday Wednesday Thursday Friday Saturday Sunday"

months="Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug\nSep\nOct\nNov\nDec"
print("So, hhere are the days",days)
print("So, hhere are the months",months)

print("""
There's something going on here.ummm...
With the three double-quotes.
We'll be able to type as much as we like.ummm...
Even 4 lines if we want, or 5, or 6.
4.
5.
6.
""")

So, hhere are the days Monday Tuesday Wednesday Thursday Friday Saturday Sunday
So, hhere are the months Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

There's something going on here.ummm...
With the three double-quotes.
We'll be able to type as much as we like.ummm...
Even 4 lines if we want, or 5, or 6.
4.
5.
6.

In [48]:
boy="\t\tfly,boy"
girl="fly\nnot fly"
older="come\\and\\go"
alist="""I have a list:
\t*boy
\t*girl
\t*older and older\nolder           \t*older"""
print(boy)
print(girl)
print(older)
print(alist)

		fly,boy
fly
not fly
come\and\go
I have a list:
	*boy
	*girl
	*older and older
older           	*older

In [51]:
boy1="\t\tfly,boy"
girl1="fly\nnot fly"
older1="come\\and\\go"
alist1="""I have a list:
\t*boy
\t*girl
\t*older\n\t*and older
"""
print(boy1)
print(girl1)
print(older1)
print(alist1)

		fly,boy
fly
not fly
come\and\go
I have a list:
	*boy
	*girl
	*older
	*and older

In [52]:
print("question: how old are you? ",end='')
age=input()
print("question: how tall are you? ",end='')
height=input()
print(f"So, you're {age} years old, {height}m tall.")

question: how old are you?

 1

question: how tall are you?

 11

So, you're 1 years old, 11m tall.

In [140]:
print("question: how old are you? ",end='')
age=input()
print("question: how tall are you? ",end='')
height=input()
print(f"So, you're {age} years old, {height}m tall.")

question: how are you?

 fine

question: are you ok?

 ok

So, you're fine, ok.

In [141]:
print("the list:")
print("question: how old are you? ",end='')
age=input()
print("question: how tall are you? ",end='')
height=input()
print(f"So, you're {age} years old, {height}m tall.")

the list:
question: how old are you?

 11

question: how tall are you?

 22

So, you're 11 years old, 22m tall.

In [168]:
print("the list:")
print("question: 1 or 2? ",end='')
num1=input()
print("question: 2 or 3? ",end='')
num2=input()
print(f"So, your anwser is {num1} and {num2}")

the list:
question: 1 or 2?

 1

question: 2 or 3?

 2

So, your anwser is 1 and 2

In [169]:
print("the list:")
print("question: 2 or 20? ",end='')
num11=input()
print("question: 20 or 33? ",end='')
num22=input()
print(f"So, your anwser is {num11} and {num22}")

the list:
question: 2 or 20?

 20

question: 20 or 33?

 33

So, your anwser is 20 and 33

In [142]:
print(x == 1)

False

In [143]:
print(1+1==9)

False

In [144]:
print(3+2+1<2)

False

In [145]:
print(height)

22

In [147]:
print(age)

11

In [149]:
print(1 + 1 != 2)

False

In [53]:
age=input("question: how old are you? ")

height=input("question: how tall are you? ")

print(f"So, you're {age} years old, {height}m tall.")

question: how old are you?  10
question: how tall are you?  200

So, you're 10 years old, 200m tall.

In [33]:
from sys import argv
script,first,second=argv
print("the scrpt name: ",script)
print("the first variable name: ",first) 
print("the second variable name: ",second)

the scrpt name:  C:\Users\lll51\anaconda3\lib\site-packages\ipykernel_launcher.py
the first variable name:  -f
the second variable name:  C:\Users\lll51\AppData\Roaming\jupyter\runtime\kernel-4b637922-5097-46a4-8eae-9d8016ea2466.json

In [81]:
import pandas as pd

csv1 = pd.read_csv('C:\\Users\\lll51\\Documents\\Python-Class\\01\\weibo\\weibo\\users.csv')

csv1

,用户id,昵称,性别,生日,所在地,学习经历,公司,注册时间,阳光信用,微博数,...,关注数,简介,主页,头像,高清头像,微博等级,会员等级,是否认证,认证类型,认证信息
0,5476386628,侠客岛,m,NaN,北京,NaN,NaN,NaN,NaN,7562,...,207,但凭侠者仁心，拆解时政迷局。,https://m.weibo.cn/u/5476386628?uid=5476386628...,https://tvax3.sinaimg.cn/crop.0.0.564.564.180/...,https://wx3.sinaimg.cn/orj480/005YCmkAly8gdi6o...,37,5,True,3,人民日报海外版旗下账号
1,2584320772,林泰前,m,NaN,海外 新加坡,NaN,NaN,NaN,NaN,36002,...,50, 热爱老苹果电脑、电玩、动漫、编程、智能手表和 AR/VR。 Virtual GS 工作...,https://m.weibo.cn/u/2584320772?uid=2584320772...,https://tvax1.sinaimg.cn/crop.0.0.180.180.180/...,https://wx1.sinaimg.cn/orj480/9a099b04ly1gdhwy...,48,0,False,-1,NaN
2,2584320772,林泰前,m,NaN,海外 新加坡,NaN,NaN,NaN,NaN,36002,...,50, 热爱老苹果电脑、电玩、动漫、编程、智能手表和 AR/VR。 Virtual GS 工作...,https://m.weibo.cn/u/2584320772?uid=2584320772...,https://tvax1.sinaimg.cn/crop.0.0.180.180.180/...,https://wx1.sinaimg.cn/orj480/9a099b04ly1gdhwy...,48,0,False,-1,NaN

In [82]:
import pandas as pd

csv2 = pd.read_csv('C:\\Users\\lll51\\Documents\\Python-Class\\01\\douban\\movie_comments.csv')

csv2

               author                                               text
0         Jane Austen  “The person, be it gentleman or lady, who has ...
1        Steve Martin  “A day without sunshine is like, you know, nig...
2    Garrison Keillor  “Anyone who thinks sitting in church can make ...
3          Jim Henson  “Beauty is in the eye of the beholder and it m...
4   Charles M. Schulz  “All you need is love. But a little chocolate ...
5     Suzanne Collins  “Remember, we're madly in love, so it's all ri...
6    Charles Bukowski  “Some people never go crazy. What truly horrib...
7     Terry Pratchett  “The trouble with having an open mind, of cour...
8           Dr. Seuss  “Think left and think right and think low and ...
9       George Carlin  “The reason I talk to myself is because I’m th...
10        W.C. Fields  “I am free of all prejudice. I hate everyone e...
11        Jane Austen  “A lady's imagination is very rapid; it jumps ...

In [160]:
import pandas as pd

csv1 = pd.read_csv('C:\\Users\\lll51\\Documents\\Python-Class\\01\\weibo\\weibo\\侠客岛\\5476386628.csv')

csv1

,id,bid,正文,头条文章url,原始图片url,视频url,位置,日期,工具,点赞数,评论数,转发数,话题,@用户
0,4575890014996178,JvQffkXJw,【#成都大学原党委书记溺亡调查结果公布#：未发现校长存在违纪违法行为】11月27日，成都市联...,NaN,https://wx2.sinaimg.cn/large/005YCmkAly1gl3qou...,NaN,NaN,2020-11-27,微博 weibo.com,167,103,29,成都大学原党委书记溺亡调查结果公布,NaN
1,4575885988468372,JvQ8Kzx0E,【四川省体育局：#川渝将共同申办2032年夏季奥运会#】11月27日，记者在四川省政府官网公...,NaN,https://wx1.sinaimg.cn/large/005YCmkAly1gl3qay...,NaN,NaN,2020-11-27,微博 weibo.com,733,153,57,川渝将共同申办2032年夏季奥运会,NaN
2,4575873098852591,JvPNXB8XJ,#武汉理工学生签联名信抵制王攀#【武汉理工学生发起联署活动：抵制陶崇园导师王攀恢复招研资格】...,NaN,https://wx1.sinaimg.cn/large/005YCmkAly1gl3oue...,NaN,NaN,2020-11-27,微博 weibo.com,1087,184,99,"武汉理工学生签联名信抵制王攀,微博当事人","武汉理工大学,陶崇园姐姐"
3,4575842108448536,JvOZYzrQI,#岛叔微评#【宿管阿姨感恩节分糖果遭威胁举报，怎么看？】#如何看待宿管感恩节送糖果遭威胁举报...,NaN,https://wx3.sinaimg.cn/large/005YCmkAly1gl3l8k...,NaN,NaN,2020-11-27,微博 weibo.com,9829,1299,730,"岛叔微评,如何看待宿管感恩节送糖果遭威胁举报,洞见计划",NaN
4,4575835024264348,JvOOyhTlO,#基辛格被撤职#【美媒：特朗普政府又开展清洗 基辛格等多人突然被撤职】美媒26日消息称，美国...,NaN,https://wx1.sinaimg.cn/large/005YCmkAly1gl3k80...,NaN,NaN,2020-11-27,微博 weibo.com,657,147,31,基辛格被撤职,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,4573337450189233,JuLQd0Ne9,【#不孕被虐致死女子曾当街遭丈夫殴打# 死亡前一段时间曾打电话回家疑似求救】山东“女子因不孕...,NaN,NaN,http://f.video.weibocdn.com/0049KzMugx07I7QXot...,NaN,2020-11-20,微博 weibo.com,820,194,68,不孕被虐致死女子曾当街遭丈夫殴打,潇湘晨报
94,4573321038138309,JuLpJy993,【转发提醒家人！#千万要系安全带#】最近，广澳高速一小货车碰撞路面桥梁伸缩缝后，失控撞向一轿...,NaN,https://wx2.sinaimg.cn/large/005YCmkAly1gkvi4w...,NaN,NaN,2020-11-20,微博 weibo.com,771,163,145,千万要系安全带,中山交警
95,4573308035537815,JuL4LneDB,#岛叔微评#【#山东一女子因不孕遭婆家虐待致死#，亲属有权干预女性生育吗？】昨天，山东德州女...,NaN,https://wx2.sinaimg.cn/large/005YCmkAly1gkvi4j...,NaN,NaN,2020-11-20,微博 weibo.com,1465,288,63,"岛叔微评,山东一女子因不孕遭婆家虐待致死",NaN
96,4573297926212804,JuKOsq4ew,【日澳拟签“准军事同盟”协定，历史教训忘了吗？】与几十年前美日签署防务协定时相比，今天的世界...,NaN,NaN,NaN,NaN,2020-11-20,微博 weibo.com,230,86,21,NaN,NaN
97,4573273948166408,JuKbMygsg,【蓬佩奥：美国已对中国卑躬屈膝40年，我们将沦为“中国的殖民地”】当地时间11月16日，为了...,NaN,https://wx2.sinaimg.cn/large/005YCmkAly1gkvec0...,NaN,NaN,2020-11-20,微博 weibo.com,1977,381,162,NaN,NaN

In [166]:
import pandas as pd

csv2 = pd.read_csv('C:\\Users\\lll51\\Documents\\Python-Class\\01\\weibo\\weibo\\林泰前\\2584320772.csv')

csv2

,id,bid,正文,头条文章url,原始图片url,视频url,位置,日期,工具,点赞数,评论数,转发数,话题,@用户
0,4575868003287236,JvPFKdN9W,马上入手了《Vader Immortal》星球大战三部曲！,NaN,https://wx3.sinaimg.cn/large/9a099b04gy1gl3oac...,NaN,NaN,2020-11-27,新版微博 weibo.com,3,0,0,NaN,NaN
1,4575860457734434,JvPtzws4W,Oculus Quest 黑五热卖开始！网页链接,NaN,https://wx2.sinaimg.cn/large/9a099b04gy1gl3nf9...,NaN,NaN,2020-11-27,新版微博 weibo.com,1,0,0,NaN,NaN
2,4575824365749398,JvOxmo7Ge, 部分开发者选择把 iPhone/iPad 软件撤离 Mac App Store（因为商业...,NaN,https://wx3.sinaimg.cn/large/9a099b04gy1gl3j8r...,NaN,NaN,2020-11-27,新版微博 weibo.com,2,2,0,NaN,NaN
3,4575819643487606,JvOpKeDhI, 今天原是收到新 MacBook Air 的最早日期（27日到下个月初）。但不知怎的，我已...,NaN,https://wx1.sinaimg.cn/large/9a099b04gy1gl3ipa...,NaN,NaN,2020-11-27,新版微博 weibo.com,11,16,11,NaN,NaN
4,4575812571111390,JvOel4F7E, 今年最影响生活方式的改变 - 是选择不再签约任何电信商的手机配套（可以以低价入手 iPh...,NaN,NaN,NaN,NaN,2020-11-27,新版微博 weibo.com,11,3,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,4573334739884308,JuLLPFtmk, 看到我们的小组件也出现了，但怀疑能顺利在 Mac 上运行。,NaN,https://wx4.sinaimg.cn/large/9a099b04gy1gkvlcn...,NaN,NaN,2020-11-20,iPhone客户端,6,16,1,NaN,NaN
133,4573334149268823,JuLKSCTf9, 要特地寻找 iPhone/iPad 软件才能找到（浏览不行），看来苹果当它们为兼容的原生...,NaN,https://wx3.sinaimg.cn/large/9a099b04gy1gkvla7...,NaN,NaN,2020-11-20,iPhone客户端,1,6,2,NaN,NaN
134,4573329899398156,JuLE1DqTa, 在苹果店试了下 M1 MacBook Air，流畅到不像 Mac。几乎每个动作都是立即的...,NaN,https://wx3.sinaimg.cn/large/9a099b04gy1gkvksn...,NaN,NaN,2020-11-20,iPhone客户端,11,25,0,NaN,NaN
135,4573271197227127,JuK7luk6z, 这里可以下载 M1 尝鲜版 Visual Studio Code：网页链接,NaN,https://wx2.sinaimg.cn/large/9a099b04gy1gkve1r...,NaN,NaN,2020-11-20,微博 weibo.com,6,4,3,NaN,NaN
136,4573267521965437,JuK1q8fiB, 多年来我用笔电的方式都一样：放在桌上当桌面电脑来用（一方面为其他设备充电，另一方面连接电...,NaN,NaN,NaN,NaN,2020-11-20,微博 weibo.com,9,15,3,NaN,NaN

In [53]:
##学会使用别人写的爬虫

# 下载好文件之后修改config.json代码中的user_id_list和since_date；
# 打开bash/powershell，进入目录，执行代码。

# % cd documents/“Python Class”/python-class-main/01/weibo
# % python3 weibo.py
# cd 带空格的文件夹，打“”引号。

In [ ]:
#scrapy crawl douban -o movie_comments.csv 
#运行例子成功，csv中是乱码，可能是有设置没有改。