In [1]:
print('welcome to xjtu')

welcome to xjtu

In [2]:
print('a','b c' 'd')

a b cd

In [3]:
print(300)

300

In [4]:
print(1+2+3)

6

In [5]:
name=input()

 ababab

In [6]:
name

'ababab'

In [7]:
print(name)

ababab

In [8]:
print('welcome to xjtu',name)

welcome to xjtu ababab

In [9]:
name=input('please enter your name:')

please enter your name: 1

In [10]:
name=input('please enter your name:')
print('hello',name)

please enter your name: qw

hello qw

In [11]:
print('1024*768=',1024*768)

1024*768= 786432

In [12]:
a='I'm OK'
print(a)

SyntaxError: invalid syntax (<ipython-input-12-cc15ea23f3d6>, line 1)

In [13]:
a=''I'm OK''
print(a)

SyntaxError: invalid syntax (<ipython-input-13-9903a39b609f>, line 1)

In [14]:
a="I'm OK"
print(a)

I'm OK

In [15]:
a='I\'m \"OK\"!'
print(a)

I'm "OK"!

In [16]:
print('I\'m learning\nPython.')

I'm learning
Python.

In [17]:
print('I\'m learning\tPython.')

I'm learning	Python.

In [18]:
print('\\\n\\')
print('\\\t\\')

\
\
\	\

In [19]:
print(r'\\\t\\')

\\\t\\

In [20]:
print('\\\t\\')

\	\

In [21]:
print('''line1... line2... line3''')
print('''line1
... line2
... line3''')

line1... line2... line3
line1
... line2
... line3

In [22]:
print('''line1''')

line1

In [23]:
print('''line1
 line2
 line3''')

line1
 line2
 line3

In [24]:
print(r'''hello,\n
world''')

hello,\n
world

In [25]:
print('''hello,\n
world''')

hello,

world

In [26]:
3 > 2

True

In [27]:
3 > 5

False

In [28]:
True and True

True

In [29]:
True and False

False

In [30]:
5 > 3 and 3 > 1

True

In [31]:
5 > 3 or 1 > 3

True

In [32]:
not 1 > 2

True

In [33]:
not 1 < 2

False

In [34]:
age=input('please input your age:')
if age >= 18:
    print('adult')
else:
    print('teenager')

please input your age: 22

TypeError: '>=' not supported between instances of 'str' and 'int'

In [35]:
age

'22'

In [36]:
age=22
if age >= 18:
    print('adult')
else:
    print('teenager')

adult

In [37]:
if age >= 18:
    print('adult')
else:
    print('teenager')

adult

In [38]:
if ag >= 18:
    print('adult')
else:
    print('teenager')

NameError: name 'ag' is not defined

In [39]:
a = 123 
print(a)
a = 'ABC'
print(a)

123
ABC

In [40]:
a = 123 # a是整数
print(a)
b=a
print(b)

123
123

In [41]:
int a = 123
a = "ABC"

SyntaxError: invalid syntax (<ipython-input-41-c4005ef11f0b>, line 1)

In [42]:
int a
a = "ABC"

SyntaxError: invalid syntax (<ipython-input-42-25b78868f09f>, line 1)

In [43]:
int a = 123
a = 456
print(a)

SyntaxError: invalid syntax (<ipython-input-43-0116c80c398b>, line 1)

In [44]:
int a = 123
print(a)

SyntaxError: invalid syntax (<ipython-input-44-ee927582141c>, line 1)

In [45]:
int b = 123
print(a)

SyntaxError: invalid syntax (<ipython-input-45-a58a9d9cbcdb>, line 1)

In [46]:
int b = 123
print(b)

SyntaxError: invalid syntax (<ipython-input-46-09a6e6e55906>, line 1)

In [47]:
x = 10
x = x + 2
x

12

In [48]:
a = 'ABC'
b = a
a = 'XYZ'
print(b)

ABC

In [49]:
10 / 3
10 % 3

1

In [50]:
ord('A')
ord('中')
chr(66)
chr(25991)

'文'

In [52]:
ord('A');
ord('中');
chr(66);
chr(25991)

'文'

In [53]:
 '\u4e2d\u6587'

'中文'

In [1]:
 len('ABC')

3

In [2]:
len('中文')

2

In [3]:
len(b'ABC')

3

In [4]:
len(b'\xe4\xb8\xad\xe6\x96\x87')

6

In [5]:
len('中文'.encode('utf-8'))

6

In [6]:
'Hello, %s' % 'world'

'Hello, world'

In [7]:
'Hi, %s, you have $%d.' % ('Michael', 100)

'Hi, Michael, you have $100.'

In [8]:
print('%2d-%02d' % (3, 1))

 3-01

In [9]:
print('%.2f' % 3.1415926)

3.14

In [10]:
print('%2d-%03d' % (3, 1))

 3-001

In [11]:
print('%3d-%02d' % (3, 1))

  3-01

In [12]:
print('%1d-%02d' % (3, 1))
print('%2d-%02d' % (3, 1))
print('%3d-%02d' % (3, 1))

3-01
 3-01
  3-01

In [13]:
'Age: %s. Gender: %s' % (25, True)

'Age: 25. Gender: True'

In [14]:
'growth rate: %d %%' % 7

'growth rate: 7 %'

In [15]:
'Hello, {0}, 成绩提升了 {1:.1f}%'.format('小明', 17.125)

'Hello, 小明, 成绩提升了 17.1%'

In [16]:
r = 2.5
s = 3.14 * r ** 2

In [17]:
s

19.625

In [18]:
print(f'The area of a circle with radius {r} is {s:.2f}')

The area of a circle with radius 2.5 is 19.62

In [19]:
classmates = ['Michael', 'Bob', 'Tracy']
classmates

['Michael', 'Bob', 'Tracy']

In [20]:
len(classmates)

3

In [21]:
classmates[0]

'Michael'

In [22]:
classmates[1]
classmates[2]

'Tracy'

In [23]:
classmates.append('Adam')
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [24]:
classmates.insert(1, 'Jack')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

In [25]:
classmates.pop()

'Adam'

In [26]:
classmates

['Michael', 'Jack', 'Bob', 'Tracy']

In [27]:
 classmates.pop(1)

'Jack'

In [28]:
classmates

['Michael', 'Bob', 'Tracy']

In [29]:
classmates[1] = 'Sarah'
classmates

['Michael', 'Sarah', 'Tracy']

In [30]:
L = ['Apple', 123, True]
L

['Apple', 123, True]

In [31]:
s = ['python', 'java', ['asp', 'php'], 'scheme']
len(s)

4

In [32]:
s[2][1]

'php'

In [33]:
classmates = ('Michael', 'Bob', 'Tracy')

In [34]:
classmates[-1]

'Tracy'

In [36]:
t = (1)
t

1

In [37]:
t = (1,)
t

(1,)

In [38]:
t = ('a', 'b', ['A', 'B'])
t[2][0] = 'X'

In [39]:
t[2][1] = 'Y'

In [40]:
t

('a', 'b', ['X', 'Y'])

In [41]:
L = [
    ['Apple', 'Google', 'Microsoft'],
    ['Java', 'Python', 'Ruby', 'PHP'],
    ['Adam', 'Bart', 'Lisa']
]
print(L[0][0])

Apple

In [42]:
L = [
    ['Apple', 'Google', 'Microsoft'],
    ['Java', 'Python', 'Ruby', 'PHP'],
    ['Adam', 'Bart', 'Lisa']
]
print(L[1][1])

Python

In [43]:
age = 20
if age >= 18:
    print('your age is', age)
    print('adult')

your age is 20
adult

In [44]:
age = 3
if age >= 18:
    print('your age is', age)
    print('adult')
else:
    print('your age is', age)
    print('teenager')

your age is 3
teenager

In [45]:
age = 3
if age >= 18:
    print('adult')
elif age >= 6:
    print('teenager')
else:
    print('kid')

kid

In [46]:
birth = input('birth: ')
if birth < 2000:
    print('00前')
else:
    print('00后')

birth:  1997

TypeError: '<' not supported between instances of 'str' and 'int'

In [47]:
s = input('birth: ')
birth = int(s)
if birth < 2000:
    print('00前')
else:
    print('00后')

birth:  1997

00前

In [48]:
names = ['Michael', 'Bob', 'Tracy']
for name in names:
    print(name)

Michael
Bob
Tracy

In [49]:
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    sum = sum + x
print(sum)

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'int'

In [50]:
sum = 0
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    sum = sum + x
print(sum)

55

In [51]:
range(101)

range(0, 101)

In [52]:
list(range(101)

SyntaxError: unexpected EOF while parsing (<ipython-input-52-d8127b6e206d>, line 1)

In [53]:
list(range(101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [54]:
sum = 0
n = 99
while n > 0:
    sum = sum + n
    n = n - 2
print(sum)

2500

In [55]:
L = ['Bart', 'Lisa', 'Adam']
for i in L:
    print('hello,',i)

hello, Bart
hello, Lisa
hello, Adam

In [56]:
n = 1
while n <= 100:
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
END

In [57]:
n = 1
while n <= 20:
    if n > 10:
        break
    print(n)
    n = n + 1
print('END')

1
2
3
4
5
6
7
8
9
10
END

In [58]:
n = 0
while n < 10:
    n = n + 1
    print(n)

1
2
3
4
5
6
7
8
9
10

In [59]:
n = 0
while n < 10:
    n = n + 1
    if n % 2 == 0: 
        continue 
    print(n)

1
3
5
7
9

In [60]:
d = {'Michael': 95, 'Bob': 75, 'Tracy': 85}
d['Michael']

95

In [61]:
d['Adam'] = 67
d

{'Michael': 95, 'Bob': 75, 'Tracy': 85, 'Adam': 67}

In [62]:
d['Michael'] = 90
d

{'Michael': 90, 'Bob': 75, 'Tracy': 85, 'Adam': 67}

In [63]:
d['Thomas']

KeyError: 'Thomas'

In [64]:
'Thomas' in d

False

In [65]:
d.get('Thomas')

In [66]:
d.get('Michael')

90

In [67]:
d.get('Thomas', -1)

-1

In [68]:
d.pop('Bob')

75

In [69]:
d

{'Michael': 90, 'Tracy': 85, 'Adam': 67}

In [70]:
key = [1, 2, 3]
d[key] = 'a list'

TypeError: unhashable type: 'list'

In [71]:
s = set([1, 2, 3])
s

{1, 2, 3}

In [72]:
s = set([1, 1, 2, 2, 3, 3])
s

{1, 2, 3}

In [73]:
s.add(4)
s

{1, 2, 3, 4}

In [74]:
s.remove(4)
s

{1, 2, 3}

In [75]:
s1 = set([1, 2, 3])
s2 = set([2, 3, 4])
s1 & s2

{2, 3}

In [76]:
s1 | s2

{1, 2, 3, 4}

In [77]:
a = ['c', 'b', 'a']
a.sort()
a

['a', 'b', 'c']

In [78]:
a = 'abc'
a.replace('a', 'A')

'Abc'

In [79]:
a = 'abc'
a.replace('a', 'A')
a

'abc'

In [80]:
a = 'abc'
b = a.replace('a', 'A')
b

'Abc'

In [81]:
a = 'abc'
b = a
a = 'ABC'
b

'abc'

In [82]:
a

'ABC'

In [83]:
abs(-20)

20

In [84]:
max(2, 3, 1, -5)

3

In [85]:
min(2, 3, 1, -5)

-5

In [86]:
int('123')

123

In [87]:
int(12.34)

12

In [88]:
int(12.99)

12

In [89]:
float('12.34')

12.34

In [90]:
str(1.23)

'1.23'

In [91]:
a = abs
a(-1)

1

In [92]:
hex(255)

'0xff'

In [93]:
def my_abs(x):
    if x >= 0:
        return x
    else:
        return -x

In [94]:
print(my_abs(-29))

29

In [95]:
def nop():
    pass

In [96]:
if age >= 18:
    pass

In [97]:
def my_abs(x):
    if not isinstance(x, (int, float)):
        raise TypeError('bad operand type')
    if x >= 0:
        return x
    else:
        return -x

In [98]:
my_abs('A')

TypeError: bad operand type

In [99]:
def my_abs(x):
    if x >= 0:
        return x
    else:
        return -x

In [100]:
my_abs('A')

TypeError: '>=' not supported between instances of 'str' and 'int'

In [101]:
import math
def move(x, y, step, angle=0):
    nx = x + step * math.cos(angle)
    ny = y - step * math.sin(angle)
    return nx, ny

In [102]:
x, y = move(100, 100, 60, pi/3)

NameError: name 'pi' is not defined

In [103]:
x, y = move(100, 100, 60, math.pi/3)

In [104]:
print(x, y)

130.0 48.03847577293369

In [105]:
r = move(100, 100, 60, math.pi/3)
print(r)

(130.0, 48.03847577293369)

In [106]:
def power(x, n):
    s = 1
    while n > 0:
        n = n - 1
        s = s * x
    return s

In [107]:
power(5, 2）

SyntaxError: invalid character in identifier (<ipython-input-107-1b0c9cef342d>, line 1)

In [108]:
power(5, 2)

25

In [109]:
power(5, 3)

125

In [110]:
def power(x, n=2):
    s = 1
    while n > 0:
        n = n - 1
        s = s * x
    return s

In [111]:
def power(n=2, x):
    s = 1
    while n > 0:
        n = n - 1
        s = s * x
    return s

SyntaxError: non-default argument follows default argument (<ipython-input-111-5d782626de57>, line 1)

In [112]:
def enroll(name, gender, age=6, city='Beijing'):
    print('name:', name)
    print('gender:', gender)
    print('age:', age)
    print('city:', city)

In [113]:
enroll('Sarah', 'F')

name: Sarah
gender: F
age: 6
city: Beijing

In [114]:
enroll('Bob', 'M', 7)

name: Bob
gender: M
age: 7
city: Beijing

In [115]:
enroll('Adam', 'M', city='Tianjin')

name: Adam
gender: M
age: 6
city: Tianjin

In [116]:
enroll('Adam', 'M', Tianjin)

NameError: name 'Tianjin' is not defined

In [117]:
enroll('Adam', 'M', 'Tianjin')

name: Adam
gender: M
age: Tianjin
city: Beijing

In [118]:
def add_end(L=[]):
    L.append('END')
    return L

In [119]:
add_end([1, 2, 3])

[1, 2, 3, 'END']

In [120]:
add_end(['x', 'y', 'z'])

['x', 'y', 'z', 'END']

In [121]:
add_end()

['END']

In [122]:
add_end()

['END', 'END']

In [123]:
add_end()

['END', 'END', 'END']

In [124]:
def add_end(L=None):
    if L is None:
        L = []
    L.append('END')
    return L

In [125]:
add_end()

['END']

In [126]:
add_end()

['END']

In [127]:
def calc(numbers):
    sum = 0
    for n in numbers:
        sum = sum + n * n
    return sum

In [128]:
calc([1, 2, 3])

14

In [129]:
calc(1, 2, 3)

TypeError: calc() takes 1 positional argument but 3 were given

In [130]:
def calc(*numbers):
    sum = 0
    for n in numbers:
        sum = sum + n * n
    return sum

In [131]:
calc(1, 2, 3)

14

In [132]:
nums = [1, 2, 3]

In [133]:
calc(nums)

TypeError: can't multiply sequence by non-int of type 'list'

In [134]:
calc(*nums)

14

In [135]:
def person(name, age, **kw):
    print('name:', name, 'age:', age, 'other:', kw)

In [136]:
person('Michael', 30)

name: Michael age: 30 other: {}

In [137]:
person('Bob', 35, city='Beijing')

name: Bob age: 35 other: {'city': 'Beijing'}

In [138]:
person('Adam', 45, gender='M', job='Engineer')

name: Adam age: 45 other: {'gender': 'M', 'job': 'Engineer'}

In [139]:
extra = {'city': 'Beijing', 'job': 'Engineer'}
person('Jack', 24, city=extra['city'], job=extra['job'])

name: Jack age: 24 other: {'city': 'Beijing', 'job': 'Engineer'}

In [140]:
person('Jack', 24, **extra)

name: Jack age: 24 other: {'city': 'Beijing', 'job': 'Engineer'}

In [143]:
def person(name, age, **kw):
    if 'city' in kw:
        pass
    if 'job' in kw:
        pass
    print('name:', name, 'age:', age, 'other:', kw)

In [142]:
person('Jack', 24, city='Beijing', addr='Chaoyang', zipcode=123456)

name: Jack age: 24 other: {'city': 'Beijing', 'addr': 'Chaoyang', 'zipcode': 123456}

In [144]:
def person(name, age, *, city, job):
    print(name, age, city, job)

In [145]:
person('Jack', 24, city='Beijing', addr='Chaoyang', zipcode=123456)

TypeError: person() got an unexpected keyword argument 'addr'

In [146]:
def f1(a, b, c=0, *args, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'args =', args, 'kw =', kw)
def f2(a, b, c=0, *, d, **kw):
    print('a =', a, 'b =', b, 'c =', c, 'd =', d, 'kw =', kw)

In [147]:
f1(1, 2)

a = 1 b = 2 c = 0 args = () kw = {}

In [148]:
f1(1, 2, c=3)

a = 1 b = 2 c = 3 args = () kw = {}

In [149]:
f1(1, 2, 3, 'a', 'b')

a = 1 b = 2 c = 3 args = ('a', 'b') kw = {}

In [150]:
f1(1, 2, 3, 'a', 'b', x=99)

a = 1 b = 2 c = 3 args = ('a', 'b') kw = {'x': 99}

In [151]:
f2(1, 2, d=99, ext=None)

a = 1 b = 2 c = 0 d = 99 kw = {'ext': None}

In [152]:
args = (1, 2, 3, 4)
kw = {'d': 99, 'x': '#'}

In [153]:
f1(*args, **kw)

a = 1 b = 2 c = 3 args = (4,) kw = {'d': 99, 'x': '#'}