打印

In [8]:
print('Hello World!')
print("Hello World!")

Hello World!
Hello World!

In [3]:
print('I "said" do not touch this.')

I "said" do not touch this.

In [4]:
print('I 'said' do not touch this.')

SyntaxError: invalid syntax (<ipython-input-4-93ac90f1c62f>, line 1)

In [7]:
# 注释
print("Hello World!")

Hello World!

变量、命名

In [9]:
num = 100
float = 10.2222222
string = "zwj"

In [10]:
num

100

In [11]:
float

10.2222222

In [12]:
string

'zwj'

In [13]:
num
float
string

'zwj'

In [14]:
a = b = c = 1

In [15]:
a

1

In [16]:
b

1

In [17]:
c

1

In [18]:
a,b,c = 2,2.222222,"zwj"

In [19]:
a

2

In [20]:
b

2.222222

In [21]:
c

'zwj'

In [22]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

数字和数学计算

In [23]:
"不用print会输出什么？"

'不用print会输出什么？'

In [24]:
print(2*8+10)

26

In [25]:
print(1/0)

ZeroDivisionError: division by zero

In [26]:
print(2.22222,"zwj","数字字符串都能输出吗？")

2.22222 zwj 数字字符串都能输出吗？

In [27]:
2*8+10

26

In [28]:
1/0

ZeroDivisionError: division by zero

In [29]:
2/3

0.6666666666666666

In [30]:
5>=7

False

In [31]:
1+1<2+9

True

In [32]:
a,b = 1,2
c = a + b

In [33]:
c

3

更多的变量和打印

In [34]:
age = 10
name = zwj

NameError: name 'zwj' is not defined

In [36]:
age = 10
name = "zwj"
print("变量这样输出：",{name},age)

变量这样输出： {'zwj'} 10

In [37]:
print("要加在双引号里{name}")

要加在双引号里{name}

In [38]:
name = "zwj"
print("要加在双引号里{name}")

要加在双引号里{name}

In [39]:
name = "zwj"
print(f"忘了加f{name}")

忘了加fzwj

In [41]:
age = 10
name = "zwj"
print(f"试试多个变量{name},{age}")

试试多个变量zwj,10

字符串和文本

In [43]:
age = 10
x = f"定义一个包含变量的字符串{age}"

In [44]:
x

'定义一个包含变量的字符串10'

In [45]:
age =10
x = "我的年龄是（用到的时候再用format给变量赋值）{age}"
x.format(age)

KeyError: 'age'

In [46]:
age =10
x = "我的年龄是,用到的时候再用format给变量赋值{age}"
x.format(age)

KeyError: 'age'

In [48]:
age =10
x = "我的年龄是,用到的时候再用format给变量赋值{}"
print(x.format(age))

我的年龄是,用到的时候再用format给变量赋值10

更多打印

In [49]:
age =10
x = "我的年龄是,用format给变量赋值{}.format(age)"
x

'我的年龄是,用format给变量赋值{}.format(age)'

In [50]:
age =10
print("我的年龄是,用format给变量赋值{}.format(age)")

我的年龄是,用format给变量赋值{}.format(age)

In [51]:
age =10
print("我的年龄是,用format给变量赋值{}".format(age))

我的年龄是,用format给变量赋值10

In [52]:
a = "拼"
b = "接"
c = "字符串"
a + b + c

'拼接字符串'

In [53]:
formatter = "{} {}"

formatter.format(1,2)

'1 2'

In [55]:
formatter = "{}     {}"

a = "变量1"
b = "变量2"
formatter.format(a,b)

'变量1     变量2'

In [56]:
formatter = "{}     {}"

a = "变量1"
a = "变量2"
formatter.format(a,a)

'变量2     变量2'

In [57]:
formatter = "{}     {}"

a = "变量1"
a = "变量2"
formatter.format(formatter,formatter)

'{}     {}     {}     {}'

In [66]:
a = "第一次换行\n再换\n\n"
print(a)

第一次换行
再换

In [59]:
a

'第一次换行\n再换\n\n'

In [67]:
a = "第一次换行\n再换\n再换"
print(a)

第一次换行
再换
再换

In [68]:
abc = "a \n b\n c"
print(abc)

a
 b
 c

In [63]:
days = "Mon Tue Wed Thu Fri Sat Sun"
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"

print("Here are the days: ", days)
print("Here are the months: ", months)

Here are the days:  Mon Tue Wed Thu Fri Sat Sun
Here are the months:  Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [64]:
abc = "abc\nabc\nabc"
abc

'abc\nabc\nabc'

In [65]:
abc = "abc\nabc\nabc"
print(abc)

abc
abc
abc

In [69]:
print("""
加三个双引号
就不用换行符了
直接按我们的格式输出
""")

加三个双引号
就不用换行符了
直接按我们的格式输出

In [70]:
print("""加三个双引号
就不用换行符了
直接按我们的格式输出""")

加三个双引号
就不用换行符了
直接按我们的格式输出

In [71]:
a = "试试tab转义符\t我远了一个tab的距离"
print(a)

试试tab转义符	我远了一个tab的距离

In [72]:
a = "试试转义符\\我在\后面"
print(a)

试试转义符\我在\后面

In [73]:
a = "试试换行符\n我在下一行"
print(a)

试试换行符
我在下一行

In [74]:
a = """试试多种换行符换行符\n
我在下一行
\t我远了一个tab的距离
\\我转义我自己
"""
print(a)

试试多种换行符换行符

我在下一行
	我远了一个tab的距离
\我转义我自己

接收输入input

In [77]:
print("你多大")
age = input()
print("oh,你{age}了")

你多大

 12

oh,你{age}了

In [78]:
print("你多大")
age = input()
print(f"oh,你{age}了")

你多大

 12

oh,你12了

In [79]:
print("你多大")
age = input()
print("你多高")
height = input()
print(f"oh,你{age}了，高{height}")

你多大

 12

你多高

 160

oh,你12了，高160

In [80]:
input() = print("你多大")
print(f"oh,你{age}了")

SyntaxError: cannot assign to function call (<ipython-input-80-4acca1239411>, line 1)

In [81]:
age = input("你多大")
print(f"oh,你{age}了")

你多大 12

oh,你12了

In [82]:
age = input("你多大")
height = input("你多高")
print(f"oh,你{age}了，高{height}")

你多大 12
你多高 160

oh,你12了，高160

参数、解包和变量

In [83]:
from sys import argv
# read the WYSS section for how to run this
script, first, second = argv

print("The script is called:", script)
print("Your first variable is:", first)
print("Your second variable is:", second)

The script is called: D:\Enviroment\Anaconda3\lib\site-packages\ipykernel_launcher.py
Your first variable is: -f
Your second variable is: C:\Users\jiaojiao\AppData\Roaming\jupyter\runtime\kernel-1e1d752c-3b09-4d8a-bd4e-51cd6bf1d696.json

In [84]:
from sys import argv
script, first, second = argv
script

'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py'

In [85]:
from sys import argv
script, first, second = argv
first

'-f'

In [86]:
second

'C:\\Users\\jiaojiao\\AppData\\Roaming\\jupyter\\runtime\\kernel-1e1d752c-3b09-4d8a-bd4e-51cd6bf1d696.json'

读取文件

In [87]:
import pandas as pd

csv = pd.read_csv('douban/movie_comments.csv')

csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [88]:
#!/usr/bin/python3
 
# 第一个注释
print ("Hello, Python!") # 第二个注释

Hello, Python!

In [89]:
#!/usr/bin/python3
 
# 第一个注释
# 第二个注释
 
'''
第三注释
第四注释
'''
 
"""
第五注释
第六注释
"""
print ("Hello, Python!")

Hello, Python!

In [91]:
if True:
    print ("Answer")
    print ("True")
else:
    print ("Answer")
  print ("False")    # 缩进不一致，会导致运行错误

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [92]:
if True:
    print ("Answer")
    print ("True")
else:
    print ("Answer")
    print ("False")

Answer
True

In [96]:
total = "zwj" + \
        "222" + \
        "666"
total

'zwj222666'

In [98]:
total = ['item_one', 'item_two', 'item_three',
        'item_four', 'item_five']
        total

IndentationError: unexpected indent (<ipython-input-98-b6d0f436e8df>, line 3)

In [99]:
total = ['item_one', 'item_two', 'item_three',
        'item_four', 'item_five']
total

['item_one', 'item_two', 'item_three', 'item_four', 'item_five']

In [100]:
str='Runoob'
print(str)                 # 输出字符串

Runoob

In [101]:
print(str[0:-1])           # 输出第一个到倒数第二个的所有字符

Runoo

In [102]:
print(str[0])              # 输出字符串第一个字符

R

In [103]:
print(str[2:5])            # 输出从第三个开始到第五个的字符

noo

In [104]:
print(str[2:])             # 输出从第三个开始后的所有字符

noob

In [105]:
print(str[1:5:2])          # 输出从第二个开始到第五个且每隔两个的字符

uo

In [106]:
print(str * 2)             # 输出字符串两次

RunoobRunoob

In [107]:
print(str + '你好')         # 连接字符串

Runoob你好

In [108]:
print('hello\nrunoob')      # 使用反斜杠(\)+n转义特殊字符

hello
runoob

In [109]:
print(r'hello\nrunoob')     # 在字符串前面添加一个 r，表示原始字符串，不会发生转义

hello\nrunoob

In [110]:
print('\n')       # 输出空行

In [111]:
print(r'\n')      # 输出 \n

\n

In [112]:
input("\n\n按下 enter 键后退出。")

按下 enter 键后退出。

''

In [113]:
import sys; x = 'runoob'; sys.stdout.write(x + '\n')

runoob

In [115]:
x="a"
y="b"
# 换行输出
print( x )
print( y )

a
b

In [116]:
# 不换行输出
print( x, end=" " )
print( y, end=" " )
print()

a b

In [117]:
import sys
print ('命令行参数为:')
for i in sys.argv:
    print (i)
print ('\n python 路径为',sys.path)

命令行参数为:
D:\Enviroment\Anaconda3\lib\site-packages\ipykernel_launcher.py
-f
C:\Users\jiaojiao\AppData\Roaming\jupyter\runtime\kernel-1e1d752c-3b09-4d8a-bd4e-51cd6bf1d696.json

 python 路径为 ['C:\\Users\\jiaojiao\\Desktop\\上课\\python\\python-class-main\\01', 'D:\\Enviroment\\Anaconda3\\python38.zip', 'D:\\Enviroment\\Anaconda3\\DLLs', 'D:\\Enviroment\\Anaconda3\\lib', 'D:\\Enviroment\\Anaconda3', '', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\win32', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\win32\\lib', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\Pythonwin', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\jiaojiao\\.ipython']

In [118]:
from sys import argv,path  #  导入特定的成员
print('path:',path) # 因为已经导入path成员，所以此处引用时不需要加sys.path

path: ['C:\\Users\\jiaojiao\\Desktop\\上课\\python\\python-class-main\\01', 'D:\\Enviroment\\Anaconda3\\python38.zip', 'D:\\Enviroment\\Anaconda3\\DLLs', 'D:\\Enviroment\\Anaconda3\\lib', 'D:\\Enviroment\\Anaconda3', '', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\win32', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\win32\\lib', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\Pythonwin', 'D:\\Enviroment\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\jiaojiao\\.ipython']

In [119]:
a, b, c, d = 20, 5.5, True, 4+3j
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'bool'> <class 'complex'>

In [121]:
a = 111
isinstance(a, int)

True

In [122]:
var1 = 1
var2 = 10
var1
var2
del var1
var1
var2

NameError: name 'var1' is not defined

In [123]:
var1 = 1
var2 = 10
var1
var2
del var1
del var2
var1
var2

NameError: name 'var1' is not defined

In [124]:
 word = 'Python'
 print(word[0], word[5])

P n

In [125]:
print(word[-1], word[-6])

n P

In [126]:
list = [ 'abcd', 786 , 2.23, 'runoob', 70.2 ]
tinylist = [123, 'runoob']

print (list)            # 输出完整列表
print (list[0])         # 输出列表第一个元素
print (list[1:3])       # 从第二个开始输出到第三个元素
print (list[2:])        # 输出从第三个元素开始的所有元素
print (tinylist * 2)    # 输出两次列表
print (list + tinylist) # 连接列表

['abcd', 786, 2.23, 'runoob', 70.2]
abcd
[786, 2.23]
[2.23, 'runoob', 70.2]
[123, 'runoob', 123, 'runoob']
['abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob']

In [127]:
list = [ 'abcd', 786 , 2.23, 'runoob', 70.2 ]
tinylist = [123, 'runoob']
print (list)            # 输出完整列表

['abcd', 786, 2.23, 'runoob', 70.2]

In [128]:
print (list[0])         # 输出列表第一个元素

abcd

In [129]:
print (list[1:3])       # 从第二个开始输出到第三个元素

[786, 2.23]

In [130]:
print (list[2:])        # 输出从第三个元素开始的所有元素

[2.23, 'runoob', 70.2]

In [131]:
print (tinylist * 2)    # 输出两次列表

[123, 'runoob', 123, 'runoob']

In [132]:
print (list + tinylist) # 连接列表

['abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob']

In [133]:
a = [1, 2, 3, 4, 5, 6]
a[0] = 9
a[2:5] = [13, 14, 15]
a

[9, 2, 13, 14, 15, 6]

In [134]:
a[2:5] = []
a

[9, 2, 6]

In [135]:
tuple = ( 'abcd', 786 , 2.23, 'runoob', 70.2  )
tinytuple = (123, 'runoob')

print (tuple)             # 输出完整元组
print (tuple[0])          # 输出元组的第一个元素
print (tuple[1:3])        # 输出从第二个元素开始到第三个元素
print (tuple[2:])         # 输出从第三个元素开始的所有元素
print (tinytuple * 2)     # 输出两次元组
print (tuple + tinytuple) # 连接元组

('abcd', 786, 2.23, 'runoob', 70.2)
abcd
(786, 2.23)
(2.23, 'runoob', 70.2)
(123, 'runoob', 123, 'runoob')
('abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob')

In [136]:
tuple = ( 'abcd', 786 , 2.23, 'runoob', 70.2  )
tinytuple = (123, 'runoob')
print (tuple)             # 输出完整元组

('abcd', 786, 2.23, 'runoob', 70.2)

In [137]:
print (tuple[0])          # 输出元组的第一个元素

abcd

In [138]:
print (tuple[1:3])        # 输出从第二个元素开始到第三个元素

(786, 2.23)

In [139]:
print (tuple[2:])         # 输出从第三个元素开始的所有元素

(2.23, 'runoob', 70.2)

In [140]:
print (tinytuple * 2)     # 输出两次元组

(123, 'runoob', 123, 'runoob')

In [141]:
print (tuple + tinytuple) # 连接元组

('abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob')

In [142]:
tup = (1, 2, 3, 4, 5, 6)
print(tup[0])

1

In [143]:
print(tup[1:5])

(2, 3, 4, 5)

In [144]:
tup[0] = 11

TypeError: 'tuple' object does not support item assignment

In [145]:
tup1 = ()    # 空元组
tup2 = (20,) # 一个元素，需要在元素后添加逗号

In [146]:
sites = {'Google', 'Taobao', 'Runoob', 'Facebook', 'Zhihu', 'Baidu'}

In [147]:
print(sites)   # 输出集合，重复的元素被自动去掉

{'Zhihu', 'Runoob', 'Taobao', 'Baidu', 'Google', 'Facebook'}

In [148]:
if 'Runoob' in sites :
    print('Runoob 在集合中')
else :
    print('Runoob 不在集合中')

Runoob 在集合中

In [149]:
# set可以进行集合运算
a = set('abracadabra')
b = set('alacazam')

print(a)

{'d', 'b', 'c', 'a', 'r'}

In [150]:
print(a - b)     # a 和 b 的差集

print(a | b)     # a 和 b 的并集

print(a & b)     # a 和 b 的交集

print(a ^ b)     # a 和 b 中不同时存在的元素

{'d', 'b', 'r'}
{'m', 'l', 'z', 'd', 'b', 'c', 'a', 'r'}
{'a', 'c'}
{'z', 'm', 'd', 'b', 'l', 'r'}

In [153]:
dict = {}
dict['one'] = "1"
dict[2]     = "2"

tinydict = {'name': 'runoob','code':1, 'site': 'www.runoob.com'}


print (dict['one'])       # 输出键为 'one' 的值
print (dict[2])           # 输出键为 2 的值
print (tinydict)          # 输出完整的字典
print (tinydict.keys())   # 输出所有键
print (tinydict.values()) # 输出所有值

1
2
{'name': 'runoob', 'code': 1, 'site': 'www.runoob.com'}
dict_keys(['name', 'code', 'site'])
dict_values(['runoob', 1, 'www.runoob.com'])

In [154]:
print (dict['one'])       # 输出键为 'one' 的值

1

In [155]:
print (tinydict.keys())   # 输出所有键

dict_keys(['name', 'code', 'site'])

In [156]:
print (tinydict.values()) # 输出所有值

dict_values(['runoob', 1, 'www.runoob.com'])

In [157]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [158]:
print ("我叫 %s 今年 %d 岁!" % ('小明', 10))

我叫 小明 今年 10 岁!

In [159]:
f'{1+2}'

'3'

In [160]:
w = {'name': 'Runoob', 'url': 'www.runoob.com'}
f'{w["name"]}: {w["url"]}'

'Runoob: www.runoob.com'

In [161]:
list=[1,2,3,4]
it = iter(list)    # 创建迭代器对象
print (next(it))   # 输出迭代器的下一个元素
print (next(it))

1
2

In [162]:
for x in it:
    print (x, end=" ")

3 4

In [163]:
for x in it:
    print (x)

In [164]:
list=[1,2,3,4]
it = iter(list)
for x in it:
    print (x)

1
2
3
4

In [165]:
def hello() :
    print("Hello World!")

In [166]:
hello()

Hello World!

In [167]:
def max(a, b):
    if a > b:
        return a
    else:
        return b
 
a = 4
b = 5
print(max(a, b))

5

In [168]:
def area(width, height):
    return width * height
 
def print_welcome(name):
    print("Welcome", name)
 
print_welcome("Runoob")
w = 4
h = 5
print("width =", w, " height =", h, " area =", area(w, h))

Welcome Runoob
width = 4  height = 5  area = 20

In [169]:
# 定义函数
def printme( str ):
   # 打印任何传入的字符串
   print (str)
   return
 
# 调用函数
printme("我要调用用户自定义函数!")
printme("再次调用同一函数")

我要调用用户自定义函数!
再次调用同一函数

In [170]:
def change(a):
    print(id(a))   # 指向的是同一个对象
    a=10
    print(id(a))   # 一个新对象
 
a=1
print(id(a))
change(a)

140703153137440
140703153137440
140703153137728