In [1]:
print("hello world!")

hello world!

In [2]:
print("I'd much rather you 'not'. ")

I'd much rather you 'not'.

In [3]:
print('I "said" do not touch this.')

I "said" do not touch this.

In [4]:
print('This will get an error.')

This will get an error.

In [5]:
print("I could have code like this.")

I could have code like this.

In [6]:
print("I want to finish my English homework.")

I want to finish my English homework.

In [7]:
print("I am the best girl.")

I am the best girl.

In [8]:
print("I can overcome more diffculties.")

I can overcome more diffculties.

In [9]:
print("I like studying python.")

I like studying python.

In [10]:
print("I want to be qualified with my new major.")

I want to be qualified with my new major.

In [11]:
counter = 200
miles   = 2000.7
name    = "rush out"

In [12]:
counter

200

In [13]:
miles

2000.7

In [14]:
counter
miles
name

'rush out'

In [15]:
a=b=c=d=7

In [16]:
a

7

In [17]:
b

7

In [18]:
c

7

In [19]:
d

7

In [20]:
a,b,c,d = 1,2,3,"rush out"

In [21]:
a

1

In [22]:
b

2

In [23]:
c

3

In [24]:
d

'rush out'

In [25]:
counter = 500
miles   =5000.9
name    ="I love my family"

In [26]:
counter

500

In [27]:
miles

5000.9

In [28]:
counter
miles
name

'I love my family'

In [29]:
name

'I love my family'

In [30]:
a,b,c,d,e = 3,4,5,6,"I am the best."

In [31]:
a

3

In [32]:
b

4

In [33]:
c

5

In [34]:
d

6

In [35]:
e

'I am the best.'

In [36]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [37]:
"I will count on my chickens:"

'I will count on my chickens:'

In [38]:
print("Hens",35 + 40 / 8)

Hens 40.0

In [39]:
4 + 3 + 2 + 1 - 5 + 8 % 2 - 2 / 8 + 7

11.75

In [40]:
print("Hens",45+100/5)

Hens 65.0

In [41]:
3+4+7-9+6%9-1/2+10

20.5

In [42]:
100010+10000-100%10000+1/9999

109910.00010001

In [43]:
print("It is grater?",30>25)

It is grater? True

In [44]:
30>=25

True

In [45]:
30>=30

True

In [46]:
30+1>=1-10

True

In [47]:
1+7>=10

False

In [48]:
100>=1

True

In [49]:
100<=1

False

In [50]:
a,b,c =100,200,300

In [51]:
d=a+b+c

In [52]:
d

600

In [53]:
e=a+b-c

In [54]:
e

0

In [55]:
a = 500000
b = 40000
c = 3000
d = 200
e=a+(b*c)/d

In [56]:
print("a+(b*c)/d 运算结果是：", e)

a+(b*c)/d 运算结果是： 1100000.0

In [57]:
a = 500000
b = 40000
c = 3000
d = 200
e=(a+b)*c/d

In [58]:
print("(a+b)*c/d 运算结果：", e)

(a+b)*c/d 运算结果： 8100000.0

In [59]:
a = 500000
b = 40000
c = 3000
d = 200
e=((a+b)*c)/d

In [60]:
print("((a+b)*c)/d 运算结果是：", e)

((a+b)*c)/d 运算结果是： 8100000.0

In [61]:
my_name = 'Zhang Xinyue'

In [62]:
print(f"Let's talk about {my_name}.")

Let's talk about Zhang Xinyue.

In [63]:
my_age='23'

In [64]:
print(f"Let's talk about {my_age}.")

Let's talk about 23.

In [65]:
my_teeth='white'

In [66]:
print(f"They are talking about my teeth, they think that my teeth is very {my_teeth}.  ")

They are talking about my teeth, they think that my teeth is very white.

In [67]:
my_eyes='blue'

In [68]:
print(f"I have {my_eyes} eyes.")

I have blue eyes.

In [69]:
my_weight=130#lbs
my_age=23
total=my_age+my_weight

In [70]:
print(f"If i add {my_age} and {my_weight}, i will get {total}")

If i add 23 and 130, i will get 153

In [71]:
types_of_animals = 100
banana="banana"
x = f"There are {types_of_animals} types of animals. "
y = f"I like {banana}."

In [72]:
print(x)

There are 100 types of animals.

In [73]:
print(y)

I like banana.

In [74]:
print(f"I said: {x}")

I said: There are 100 types of animals.

In [75]:
print(f"I said:{y}")

I said:I like banana.

In [76]:
print(f"I think that {x}")

I think that There are 100 types of animals.

In [77]:
print(f"I think that {y}")

I think that I like banana.

In [78]:
hilarious = True
joke_evaluation = "Isn't that joke so funny?!{}"

In [79]:
print(f"{joke_evaluation}")

Isn't that joke so funny?!{}

In [80]:
print(f"{hilarious}")

True

In [81]:
print(joke_evaluation.format(hilarious))

Isn't that joke so funny?!True

In [82]:
a=False
evaluation = "Isn't that joke so funny?!{}"

In [83]:
print(a)

False

In [84]:
print(evaluation)

Isn't that joke so funny?!{}

In [85]:
print(evaluation.format(a))

Isn't that joke so funny?!False

In [86]:
w="I love "
v="my family."

In [87]:
print(w)

I love

In [88]:
print(v)

my family.

In [89]:
print(w + v)

I love my family.

In [90]:
a="I want to "
b="be more confident."

In [91]:
print(a)

I want to

In [92]:
print(b)

be more confident.

In [93]:
print(a+b)

I want to be more confident.

In [94]:
end1="C"
end2="h"
end3="i"
end4="n"
end5="a"

In [95]:
print(end1+end2)

Ch

In [96]:
print(end1+end2+end3+end4+end5)

China

In [97]:
formatter="{} {} {} {}"

In [98]:
print(formatter.format(1,2,3,4))

1 2 3 4

In [99]:
print(formatter.format("one","two","three","four"))

one two three four

In [100]:
print(formatter.format("five","six","seven","eight"))

five six seven eight

In [101]:
print(formatter.format("I","love","you","!"))

I love you !

In [102]:
a="{} {} {}"

In [103]:
print(a.format("I","love","her"))

I love her

In [104]:
print(a.format("How","are","you"))

How are you

In [105]:
print(a.format("I","am","fine"))

I am fine

In [106]:
days="Mon Tue Wed Thu Fri Sat Sun"

In [107]:
print("Here are the days:",days)

Here are the days: Mon Tue Wed Thu Fri Sat Sun

In [108]:
print(f"Here are the days:{days}")

Here are the days:Mon Tue Wed Thu Fri Sat Sun

In [109]:
Months="1 2 3 4 5 6 7 8 9 10 11 12"

In [110]:
print(Months)

1 2 3 4 5 6 7 8 9 10 11 12

In [111]:
months="{} {}"

In [112]:
print(months.format(1,2))

1 2

In [113]:
from sys import argv
snatch,first,second=argv

In [114]:
print("The snatch is called:",snatch)

The snatch is called: C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py

In [115]:
print("Your first variable is :",first)

Your first variable is : -f

In [116]:
print("Your second variable is:",second)

Your second variable is: C:\Users\hp\AppData\Roaming\jupyter\runtime\kernel-1eb67e6c-ceae-490c-8fef-6b9eec01c73f.json

In [117]:
from sys import argv
spy,first,sencond=argv

In [118]:
print("The spy is called:",spy)

The spy is called: C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py

In [119]:
a=input("请输入：")

请输入： 相信自己

In [120]:
type(a)

str

In [121]:
str=input("请输入我的名字：")

请输入我的名字： 张馨月

In [122]:
print(str)

张馨月

In [123]:
age=input("How old are you?")

How old are you? 23

In [124]:
print(age)

23

In [125]:
b=input("请注意：")

请注意： 好好学习

In [126]:
print(b)

好好学习

In [127]:
c=input("我的建议：")

我的建议： 兢兢业业

In [128]:
print(c)

兢兢业业

In [129]:
print("It is very diffcult")

It is very diffcult

In [130]:
a=500
b=400.34
c="I can do it!"

In [131]:
a

500

In [132]:
b

400.34

In [133]:
c

'I can do it!'

In [134]:
a
b
c

'I can do it!'

In [135]:
a
b

400.34

In [137]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [138]:
print("Hens",75+40/8)

Hens 80.0

In [139]:
print("It is grater?",5>2)

It is grater? True

In [140]:
10>=5

True

In [141]:
1>=1

True

In [143]:
a,b=7,3

In [144]:
c=a+b

In [145]:
c

10

In [146]:
my_height=165

In [149]:
print(f"My height is {my_height}.")

My height is 165.

In [150]:
print(f"I like {my_height}")

I like 165

In [151]:
a=10
x=f"There are {a} boys."

In [152]:
print(x)

There are 10 boys.

In [154]:
b='I love you'
y=f"I guess {b}."

In [155]:
print(y)

I guess I love you.

In [156]:
c='I love my sister'
z=f"There is no doubt that {c}."

In [157]:
print(z)

There is no doubt that I love my sister.

In [158]:
a="C"
b="H"
c="I"
d="N"
e="A"
f="!"

In [159]:
print(a+b)

CH

In [160]:
print(a+b+c+d+e+f)

CHINA!

In [161]:
formatter="{} {} {}"

In [162]:
print(formatter.format(1,2,3))

1 2 3

In [163]:
a='{} {} {}'

In [165]:
print(a.format('I','LOVE','HER'))

I LOVE HER

In [168]:
a="1,2,3,4,5,6"

In [170]:
print("This is a:",a)

This is a: 1,2,3,4,5,6

In [171]:
b="I, LOVE, MY, FAMILY"

In [172]:
print("This is b:",b)

This is b: I, LOVE, MY, FAMILY

In [173]:
a=input("请珍惜：")

请珍惜： 时间

In [174]:
print(a)

时间

In [175]:
b=input()

 请爱惜自己！

In [176]:
print(b)

请爱惜自己！

In [177]:
from sys import argv
baby,first,second=argv

In [178]:
print("The baby is called:",baby)

The baby is called: C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py

In [179]:
print("The first variable is:",first)

The first variable is: -f

In [180]:
print("The second variable is:",second)

The second variable is: C:\Users\hp\AppData\Roaming\jupyter\runtime\kernel-1eb67e6c-ceae-490c-8fef-6b9eec01c73f.json

In [183]:
import pandas as pd
csv = pd.read_csv('Desktop\douban/movie_comments.csv')
csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [192]:
import pandas as pd
csv = pd.read_csv('Desktop\movie_comments.csv')
csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [195]:
print("Python is useful!")

Python is useful!

In [196]:
a="{} {} {} {}"

In [199]:
print(a.format('Please','trust','me','!'))

Please trust me !

In [200]:
a=1,2,3,4

In [201]:
print("This is a:",a)

This is a: (1, 2, 3, 4)

In [202]:
a="1,2,3,4"

In [203]:
print("This is a:",a)

This is a: 1,2,3,4

In [204]:
print("This is my first homework!")

This is my first homework!

In [205]:
print("Dear teacher,Thanks!")

Dear teacher,Thanks!