print("hello world")

In [1]:
a = 1
b =2
print(a+b)

3

In [2]:
print('hello world')

hello world

In [1]:
print("I'd rather you not ''.")

I'd rather you not ''.

In [2]:
print('I "said" you don"t do this')

I "said" you don"t do this

In [3]:
print('kuo hao buquan'

SyntaxError: unexpected EOF while parsing (<ipython-input-3-9a45ba6de743>, line 1)

In [4]:
print("comments won't show")# ok this is comments

comments won't show

这个markdown是啥

这个raw是啥

In [5]:
my_int = 1
my_float =2.
my_str = "a str"

In [6]:
my_int

1

In [7]:
my_float

2.0

In [8]:
my_str

'a str'

In [9]:
my_int
my_str

'a str'

In [10]:
my_str
my_int

1

In [11]:
a=b=c

NameError: name 'c' is not defined

In [12]:
a=b=c=1

In [13]:
a

1

In [14]:
b

1

In [15]:
a,b,c=1,2.0,'3'

In [16]:
a

1

In [17]:
b

2.0

In [18]:
c

'3'

In [19]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
print(25+10/2)

30.0

In [21]:
print(25+10//2)

30

In [22]:
print(3+2+1%2+2**2)

10

In [23]:
5>2

True

In [24]:
5<2

False

In [25]:
3+2<5-2

False

In [26]:
3+2<9-2

True

In [27]:
a,b=1,2

In [28]:
a+b

3

In [29]:
a,b='1','2'

In [30]:
a+b

'12'

In [31]:
m_name = 'ludy'
m_age = 100
m_height = 10.68
m_weight = 160
m_eyes = 'B'
m_teeth = 'W'
m_hair = 'Bl'

In [32]:
f'let\'talk about {m_name}'

"let'talk about ludy"

In [33]:
f'''he is {m_age} years old
and his height is {m_height}
'''

'he is 100 years old\nand his height is 10.68\n'

In [34]:
print(f'''he is {m_age} years old
and his height is {m_height}
''')

he is 100 years old
and his height is 10.68

In [1]:
a='a"lot"'
b="don't"
c = f'I will show {a} {b} '

In [2]:
c

'I will show a"lot" don\'t '

In [3]:
print(c)

I will show a"lot" don't

In [4]:
flag = 1<2
print(f'this str contain bool {flag}')

this str contain bool True

In [5]:
print(f'this str contain bool{flag}')

this str contain boolTrue

In [6]:
print('a'*5+'b*2')

aaaaab*2

In [7]:
print('a'*5+'b'*2)

aaaaabb

In [8]:
print('a','b','c')

a b c

In [9]:
print('a','b','c',sep='')

abc

In [10]:
print('a','b','c',sep='',end=' ')

abc

In [11]:
print('a','b','c',sep='',end=' ')
print('ok')

abc ok

In [12]:
print('a','b','c',sep='')
print('ok')

abc
ok

In [13]:
formatter = '{} {} {}'
print(formatter.format(formatter,formatter,formatter))

{} {} {} {} {} {} {} {} {}

In [14]:
days = "Mon Tue Wed Thu Fri Sat Sun"
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print(days,months)

Mon Tue Wed Thu Fri Sat Sun Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [15]:
print('\n')

In [16]:
print('\r')

In [17]:
a='\n'
b='\r'

In [18]:
a

'\n'

In [19]:
b

'\r'

print("How old are you?", end=' ')
age = input()
print("How tall are you?", end=' ')
height = input()
print("How much do you weigh?", end=' ')
weight = input()

print(f"So, you're {age} old, {height} tall and {weight} heavy.")

In [21]:
print("How old are you?", end=' ')
age = input()
print("How tall are you?", end=' ')
height = input()
print("How much do you weigh?", end=' ')
weight = input()

print(f"So, you're {age} old, {height} tall and {weight} heavy.")

How old are you?

 11

How tall are you?

 11

How much do you weigh?

 11

So, you're 11 old, 11 tall and 11 heavy.

In [22]:
print("How old are you?", end='\t')
age = input()
print("How tall are you?", end='')
height = input()
print("How much do you weigh?", end='|||')
weight = input()

print(f"So, you're {age} old, {height} tall and {weight} heavy.")

How old are you?

 11

How tall are you?

 11

How much do you weigh?|||

 11

So, you're 11 old, 11 tall and 11 heavy.

In [23]:
print("How old are you?",)
age = input()
print("How tall are you?", end='\n\n')
height = input()
print("How much do you weigh?", end='\n|||')
weight = input()

print(f"So, you're {age} old, {height} tall and {weight} heavy.")

How old are you?

 11

How tall are you?

 11

How much do you weigh?
|||

 11

So, you're 11 old, 11 tall and 11 heavy.

In [24]:
from sys import argv
script, th1 ,nd2 = argv
print(script)
print(th1,nd2)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py
-f C:\Users\Ludy\AppData\Roaming\jupyter\runtime\kernel-ea2f3652-1c86-4a6b-ba90-59e4df2531b2.json

In [25]:
script, th1 ,nd2 ,rd3 = argv
print(script)
print(th1,nd2)

ValueError: not enough values to unpack (expected 4, got 3)

In [26]:
import pandas as pd

csv = pd.read_csv('douban/movie_comments.csv')

csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [27]:
202011211635

202011211635