In [1]:
print ('hello world!')

hello world!

In [2]:
print ("i'd much rather you 'not'")

i'd much rather you 'not'

In [3]:
print ('i "said" do not touch this')

i "said" do not touch this

In [4]:
print ('this will get an error')

this will get an error

In [5]:
# this is a commnet. this is what the programmer whats to tell you .
print ("i could have code like this.") # and the comment after is ignored

i could have code like this.

In [6]:
counter = 100
miles   =1000.0
name    ="runoob"

In [7]:
counter

100

In [8]:
miles

1000.0

In [9]:
counter
miles
name

'runoob'

In [10]:
a=b=c=1

In [11]:
a

1

In [12]:
b

1

In [13]:
c

1

In [14]:
a, b, c = 1, 2, "runoob"

In [16]:
import keyword
keyword. kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [17]:
"i will now count my cjickens:"

'i will now count my cjickens:'

In [18]:
print ("hens", 25 + 30 / 6)

hens 30.0

In [19]:
3+2+1-5+4%2-1/4+6

6.75

In [24]:
print ("is it grater",5>2)

is it grater True

In [25]:
5>=2

True

In [26]:
5>5

False

In [27]:
5>=5

True

In [28]:
3+2<5-7

False

In [29]:
a,b=10,20

In [30]:
c=a+b

In [31]:
c

30

In [34]:
a=20
b=10
c=15
d=5
e=0

e=(a+b)*c/d
print ("(a+b)*c/d 运算记过为: ",e)
       
e=((a+b)*c)/d
print ("e=((a+b)*c)/d 运算记过为: ",e)
       
e=(a+b)*(c/d)
print ("e=(a+b)*(c/d) 运算记过为: ",e)
       
e=a+(b*c)/d
print ("e=a+(b*c)/d 运算记过为: ",e)

(a+b)*c/d 运算记过为:  90.0
e=((a+b)*c)/d 运算记过为:  90.0
e=(a+b)*(c/d) 运算记过为:  90.0
e=a+(b*c)/d 运算记过为:  50.0

In [38]:
my_name = 'Zed A. Shaw'
my_age   = 35
my_height=74
my_weight=180
my_eyes='blue'
my_teeth='white'
my_hair='brown'

print(f"let's talk about {my_name}.")
print(f"he's {my_height} inches tall.")
print(f"he's {my_weight} inches heavy.")
print(f"actually that's not too heavy.")
print(f"his teeth are usually {my_teeth} depending on the coffee.")

total=my_age+my_height+my_weight
print(f"if i add {my_age},{my_height}and{my_weight} i get {total}.")

let's talk about Zed A. Shaw.
he's 74 inches tall.
he's 180 inches heavy.
actually that's not too heavy.
his teeth are usually white depending on the coffee.
if i add 35,74and180 i get 289.

In [43]:
types_of_people = 10
x=f"there are {types_of_people} types of people."

binary="binary"
do_not="don't"
y=f"those who know {binary} and those who {do_not}."

print(x)
print(y)

print(f"i said:{x}")
print(f"i also said:'{y}'")

hilarious=False
joke_evaluation="isn't that joke so funny?!{}"

print(joke_evaluation.format(hilarious))

w="this is the left side of..."
e="a string with a right side."

print(w+e)

there are 10 types of people.
those who know binary and those who don't.
i said:there are 10 types of people.
i also said:'those who know binary and those who don't.'
isn't that joke so funny?!False
this is the left side of...a string with a right side.

In [2]:
print("mary had a little lamb.")
print("its fleece was white as {}.".format('snow'))
print("and everywhere that mary went.")
print("."*10)

end1="C"
end2="h"
end3="e"
end4="e"
end5="s"
end6="e"
end7="B"
end8="u"
end9="r"
end10="g"
end11="e"
end12="r"

print(end1+end2+end3+end4+end5+end6,end='')
print(end7+end8+end9+end10+end11+end12)

mary had a little lamb.
its fleece was white as snow.
and everywhere that mary went.
..........
CheeseBurger

In [4]:
formatter="{}{}{}{}"

print(formatter.format(1,2,3,4))
print(formatter.format("one","two","three","four"))
print(formatter.format(True,False,False,True))
print(formatter.format(formatter,formatter,formatter,formatter))
print(formatter.format(
     "i had this thing.",
     "that you cuold type up right.",
     "but it didn't sing.",
     "so i said goodnight."
))

1234
onetwothreefour
TrueFalseFalseTrue
{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}
i had this thing.that you cuold type up right.but it didn't sing.so i said goodnight.

In [11]:
days="mon tue wed thu fri sat sun"
months="jan/nfeb/nmar/napr/nmay/njun/njul/naug"

print("here are the days:",days)
print("here are the months:",months)

print("""
there's something going on here.
with the three double-quotes.
we'll be able to type as much as we like.
even 4 lines if we want,or5,or6.
""")

here are the days: mon tue wed thu fri sat sun
here are the months: jan/nfeb/nmar/napr/nmay/njun/njul/naug

there's something going on here.
with the three double-quotes.
we'll be able to type as much as we like.
even 4 lines if we want,or5,or6.

In [12]:
tabby_cat="\ti'm tabbed in."
persian_cat="i'm split\non a line."
backslash_cat="i'm\\a\\cat."

fat_cat="""
i'll do a list:
\t*cat food
\t*fishies
\t*catnip\n\t*grass
"""

print(tabby_cat)
print(persian_cat)
print(backslash_cat)
print(fat_cat)

	i'm tabbed in.
i'm split
on a line.
i'm\a\cat.

i'll do a list:
	*cat food
	*fishies
	*catnip
	*grass

In [13]:
print("how old are you?",end='')
age=input()
print("how tall are you?",end='')
height=input()
print("hoe much do you weight?",end='')
weight=input()

print(f"so,you're (age) old,{height} tall andd {weight}heavy.")

how old are you?

 22

how tall are you?

 160

hoe much do you weight?

 110

so,you're (age) old,160 tall andd 110heavy.

In [14]:
age=input("how old are you?")
height=input("how tall are you?")
weight=input("how much do you weight?")

print(f"so,you're {age}old,{height}tall and {weight}heavy.")

how old are you? 22
how tall are you? 160
how much do you weight? 110

so,you're 22old,160tall and 110heavy.

In [15]:
from sys import argv
script,first,second=argv

print("the script is called:",script)
print("your first variable is:",first)
print("your second variable is:",second)

the script is called: D:\Users\Study\anaconda3\lib\site-packages\ipykernel_launcher.py
your first variable is: -f
your second variable is: C:\Users\Study\AppData\Roaming\jupyter\runtime\kernel-7b6a76cf-dd2f-4c50-a8ae-7d27447bf6d1.json

In [16]:
#scrapy crawl douban -o movie_comments.csv 
#运行例子成功，csv中是乱码，可能是有设置没有改。

In [3]:
dict1={'Name':'Runoob','Age':7,'Class':'First'}
print(type(dict1))
print("dict1['Name']:",dict1['Name'])
print("dict1['Age']:",dict1['Age'])

<class 'dict'>
dict1['Name']: Runoob
dict1['Age']: 7

In [4]:
dict1={
    'Name':'Runoob',
    'Age':7,
    'Class':'First'
}

dict1['Age']=8
dict1['School']="菜鸟教程"
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [5]:
dict1={'name':'runoob','age':7,'class':'first'}

del dict1['name']
print(dict1)
dict1.clear()
print(dict1)

{'age': 7, 'class': 'first'}
{}

In [6]:
dict1={'name':'runoob','age':7,'class':'first'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'age', 'class'])
dict_values(['runoob', 7, 'first'])
dict_items([('name', 'runoob'), ('age', 7), ('class', 'first')])

In [7]:
print(dict1.fromkeys('abc',0))

{'a': 0, 'b': 0, 'c': 0}

In [8]:
dict1={'name':'runoob','age':1}
dict2={'sex':'female','age':10}

dict1.update(dict2)
print("更新字典dict1:",dict1)

更新字典dict1: {'name': 'runoob', 'age': 10, 'sex': 'female'}

In [9]:
basket={'apple','orange','apple','pear','orange','banana'}
print(type(basket))
print(basket)
letters=set('hello world')
print(letters)

<class 'set'>
{'orange', 'apple', 'pear', 'banana'}
{' ', 'e', 'o', 'l', 'w', 'd', 'r', 'h'}

In [11]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'orange', 'apple', 'pear', 'melon', 'banana'}
{'orange', 'pear', 'melon', 'banana'}

In [12]:
basket={'apple','orange','apple','pear','orange','banana'}
basket.update('melon')
print(basket)
basket.update(['melon','lemon'])
print(basket)

{'orange', 'e', 'apple', 'o', 'pear', 'banana', 'l', 'n', 'm'}
{'orange', 'lemon', 'e', 'apple', 'o', 'pear', 'banana', 'l', 'melon', 'n', 'm'}

In [14]:
a=set('abracadabra')
b=set('alacazam')
print(a)
print(b)
print(a-b)
print(a|b)
print(a&b)
print(a^b)

{'a', 'b', 'd', 'r', 'c'}
{'a', 'z', 'l', 'm', 'c'}
{'b', 'r', 'd'}
{'a', 'z', 'b', 'l', 'd', 'r', 'm', 'c'}
{'c', 'a'}
{'b', 'l', 'z', 'd', 'r', 'm'}

In [16]:
tup1=('goole','runoob',1997,2000)
print(type(tup1))
tup2=(1,2,3,4,5)
tup3="a","b","c","d"
tup4=(1,)
tup5=1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('goole', 'runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [17]:
tup1[0]

'goole'

In [21]:
tuple(range(5))

(0, 1, 2, 3, 4)