In [1]:
print("Hello world!")

Hello world!

In [2]:
miles=1000;
miles

1000

In [4]:
a=10;b=20;c=30;
a,b,c

(10, 20, 30)

In [5]:
a=c-b;
a

10

In [6]:
print(b)

20

In [7]:
"KFC"

'KFC'

In [9]:
numberInt=1;
numberFloat=2.3;
stringStr="I don't know!"

In [10]:
numberInt

1

In [12]:
numberFloat

2.3

In [13]:
stringStr

"I don't know!"

In [14]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
print(50+20)

70

In [16]:
print(50*20)

1000

In [17]:
print(50+20*10)

250

In [18]:
print(50+20/10)

52.0

In [21]:
a='I ';
b='Love ';
c='U';

In [22]:
a+b+c

'I Love U'

In [23]:
days = "Mon Tue Wed Thu Fri Sat Sun"
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print(days,months)

Mon Tue Wed Thu Fri Sat Sun Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [3]:
a=20
b=10
c=15
d=5
e=0

e=(a+b)*c/d #(30*15)/5
print("(a+b)*c/d caculate result is:",e)

(a+b)*c/d caculate result is: 90.0

In [1]:
w="This is the lest side of ..."
e="a string with a right sdie."
print(w+e)

This is the lest side of ...a string with a right sdie.

In [2]:
print("how old are you? ",end='')
age=input()
print("how tall are you? ",end='')
height=input()
print(f"So, you're {age} years old, {height}m tall.")

how old are you?

 23

how tall are you?

 173

So, you're 23 years old, 173m tall.

In [3]:
age=input("how old are you? ")

height=input("how tall are you? ")

print(f"So, you're {age} years old, {height}m tall.")

how old are you?  23
how tall are you?  173

So, you're 23 years old, 173m tall.

In [4]:
from sys import argv
script,first,second=argv
print("the scrpt name: ",script)
print("the first variable name: ",first) 
print("the second variable name: ",second)

the scrpt name:  /Users/liu/opt/anaconda3/lib/python3.8/site-packages/ipykernel_launcher.py
the first variable name:  -f
the second variable name:  /Users/liu/Library/Jupyter/runtime/kernel-b92a6908-4687-4a67-a270-da8bfe31bab3.json

In [7]:
strings=['a','as','bat','car','dove','python']

In [8]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [9]:
unique_lengths={len(x) for x in strings}

In [10]:
unique_lengths

{1, 2, 3, 4, 6}

In [11]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [12]:
loc_mapping={val:index for index,val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [13]:
all_data=[['john','emily','michael','mary','steven'],['maria','juan','javier','natalia','pilar']]

In [14]:
result=[name for names in all_data for name in names
       if name.count('e')>=2]

In [15]:
result

['steven']

In [16]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

In [17]:
flattened=[x for tup in some_tuples for x in tup]

In [18]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
flattened=[]

In [20]:
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [21]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
b=['saw','small','he','foxes','six']

In [23]:
b.sort(key=len)

In [24]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [25]:
import bisect

In [26]:
c=[1,2,3,4,4,5,6,3822,223,4,2,2,2,]

In [27]:
bisect.bisect(c,2)

2

In [28]:
bisect.bisect(c,5)

6

In [29]:
bisect.insort(c,6)

In [30]:
c

[1, 2, 3, 4, 4, 5, 6, 3822, 223, 4, 2, 2, 2, 6]

In [31]:
seq=[7,2,3,7,3,2,2,3,43,2,2]

In [32]:
seq[1:5]

[2, 3, 7, 3]

In [33]:
seq[3:4]=[6,3]

In [34]:
seq

[7, 2, 3, 6, 3, 3, 2, 2, 3, 43, 2, 2]

In [35]:
seq[:5]

[7, 2, 3, 6, 3]

In [36]:
seq[3:]

[6, 3, 3, 2, 2, 3, 43, 2, 2]

In [37]:
seq[-4:]

[3, 43, 2, 2]

In [38]:
seq[-6:-2]

[2, 2, 3, 43]

In [39]:
seq[::2]

[7, 3, 3, 2, 3, 2]

In [40]:
seq[::-1]

[2, 2, 43, 3, 2, 2, 3, 3, 6, 3, 2, 7]

In [41]:
some_list=['foo','bar','baz']

In [42]:
mapping={}

In [43]:
for i,v in enumerate(some_list):
    mapping[v]=i

In [44]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [45]:
seq1=['foo','bar','baz']

In [46]:
seq2=['one','two','three']

In [47]:
zipped=zip(seq1,seq2)

In [48]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [49]:
seq3 =[False,True]

In [50]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [51]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [52]:
pitchers=[('nolan','ryan'),('reger','clemens'),('schilling','curt')]

In [53]:
first_names,last_names=zip(*pitchers)

In [54]:
first_names

('nolan', 'reger', 'schilling')

In [55]:
last_names

('ryan', 'clemens', 'curt')

In [56]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [57]:
empty_dict={}

In [58]:
d1={'a':'some values',"b":[1,2,3,4]}

In [59]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4]}

In [60]:
d1[7]='an integer'

In [61]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [62]:
d1['b']

[1, 2, 3, 4]

In [63]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [64]:
from sys import argv
script,first,second,=argv
print("The script is called:",script)
print("Your first variable is:",first)
print("Your second variable is:",second)

The script is called: /Users/liu/opt/anaconda3/lib/python3.8/site-packages/ipykernel_launcher.py
Your first variable is: -f
Your second variable is: /Users/liu/Library/Jupyter/runtime/kernel-b92a6908-4687-4a67-a270-da8bfe31bab3.json

In [65]:
def GetPrime(n):
    Prime=[]
    for a in range(2,n+1):
        for b in range(2,a):
            if a%b==0:
                break
        else:
            Prime.append(a)
    return Prime
print(GetPrime(10))

[2, 3, 5, 7]

In [66]:
#9x9乘法表
for i in range(1,10):
      for b in range(1,i+1):
            print("{0}x{1}={2}".format(b,i,b*i),end="\t")
      print()

1x1=1
1x2=2	2x2=4
1x3=3	2x3=6	3x3=9
1x4=4	2x4=8	3x4=12	4x4=16
1x5=5	2x5=10	3x5=15	4x5=20	5x5=25
1x6=6	2x6=12	3x6=18	4x6=24	5x6=30	6x6=36
1x7=7	2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49
1x8=8	2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64
1x9=9	2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [67]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [68]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            if( i != k ) and (i != j) and (j != k):
                print (i,j,k)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

In [128]:
print('Hello YY\n')
print('*',end='')
print(' '*10,end='')
print('*  *',end='')
print(' '*10,end='')
print('*')
for i in range(1,10):
    for j in range(0,i):
        print(' ',end='')
    print('*',end='')
    for w in range(i,10-i):
        print(' ',end='')
    print('*',end='')
    for j in range(0,i+i+2):
        print(' ',end='')
    print('*',end='')
    for w in range(i,10-i):
        print(' ',end='')
    print('*')
    if(i==10-i):
        for w in range(1,8):
            print(' '*5,end='')
            print('**',end='')
            print(' '*12,end='')
            print('**')
        break
#for i in range(5):
 #   print('*        *')
#print('*' * 10)
#print('*\n' * 6)

Hello YY

*          *  *          *
 *        *    *        *
  *      *      *      *
   *    *        *    *
    *  *          *  *
     **            **
     **            **
     **            **
     **            **
     **            **
     **            **
     **            **
     **            **