In [1]:
print('hello,world!')

hello,world!

In [2]:
print('My','name','is','Li')

My name is Li

In [3]:
print(300)

300

In [4]:
print(100+200)

300

In [5]:
print('100 + 200 =',100+200)

100 + 200 = 300

In [6]:
name = input()

In [7]:
name

'Li'

In [8]:
print('hello',name)

hello Li

In [9]:
name = input('please enter your name: ')

In [10]:
name = input('please enter your name: ')
pirint('hello',name)

NameError: name 'pirint' is not defined

In [11]:
name = input('please enter your name: ')
print('hello',name,'!')

hello Li !

In [12]:
A = 100
a = 200
print(A)
print(a)

100
200

In [13]:
if a >= 0:
    print(a)
else:
    ptint(-a)

200

In [14]:
print('I'm ok')

SyntaxError: invalid syntax (<ipython-input-14-eec4f4e4873e>, line 1)

In [15]:
print("I'm ok!")

I'm ok!

In [16]:
print('I\'m ok!')

I'm ok!

In [17]:
print('\n')

In [18]:
print(r'\n')

\n

In [19]:
print('''line1
line2
line3''')

line1
line2
line3

In [20]:
print(r'''hello,\n
world''')

hello,\n
world

In [21]:
True

True

In [22]:
False

False

In [23]:
3 > 2

True

In [24]:
3 < 2

False

In [25]:
True and True

True

In [26]:
True and False

False

In [27]:
1 and 1

1

In [28]:
1 and 0

0

In [29]:
5 > 3 and 3 > 1

True

In [30]:
True or True

True

In [31]:
False or True

True

In [32]:
False or False

False

In [33]:
not True

False

In [34]:
1 > 2

False

In [35]:
not 1 > 2

True

In [36]:
if age >= 18:
    print('adult')
else:
    print('teenager')

NameError: name 'age' is not defined

In [37]:
age = 20;
if age >= 18:
    print('adult')
else:
    print('teenager')

adult

In [38]:
a = 1

In [39]:
t_007 = 'T007'

In [40]:
Answer = True

In [41]:
a
t_007
Answer

True

In [42]:
print(a)
print(t_007)
print(Answer)

1
T007
True

In [43]:
a = 123
print(a)
#a = 'ABC'
print(a)

123
123

In [44]:
a = 123
print(a)
a = 'ABC'
print(a)

123
ABC

In [45]:
x = 10

In [46]:
x = x + 2

In [47]:
a = 'ABC'
b = a
a = 'XYZ'
print(b)

ABC

In [48]:
PI

NameError: name 'PI' is not defined

In [49]:
import math

In [50]:
math.pi

3.141592653589793

In [51]:
10/3

3.3333333333333335

In [52]:
9/3

3.0

In [53]:
10//3

3

In [54]:
10%3

1

In [55]:
ord('A') #获取字符整数表述，acsii

65

In [56]:
ord('中')

20013

In [57]:
chr('66') #编码转换为对应字符

TypeError: an integer is required (got type str)

In [58]:
chr(66)

'B'

In [59]:
chr(25991)

'文'

In [60]:
len('ABC')

3

In [61]:
len('中')

1

In [62]:
len('中A') #计算字符数

2

In [63]:
len(b'中') #计算字节数

SyntaxError: bytes can only contain ASCII literal characters. (<ipython-input-63-7458a9dec44c>, line 1)

In [64]:
len(b'ABC')

3

In [65]:
'中文'.encode('utf-8')

b'\xe4\xb8\xad\xe6\x96\x87'

In [66]:
'AB'.encode(ascii)

TypeError: encode() argument 1 must be str, not builtin_function_or_method

In [67]:
'AB'.encode('ascii')

b'AB'

In [68]:
'中文'.encode('ascii')

UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-1: ordinal not in range(128)

In [69]:
b'ABC'.decode('ascii')

'ABC'

In [70]:
b'\xe4\xb8\xad\xe6\x96\x87'.decode('utf-8')

'中文'

In [71]:
len('ABC')

3

In [72]:
len(b'\xe4\xb8\xad\xe6\x96\x87')

6

In [73]:
print('hello,%s'%'world')

hello,world

In [74]:
print('Hi,%s,you have $%d'%('Li',100))

Hi,Li,you have $100

In [75]:
print('%2d-%02d'%(3,1))

 3-01

In [76]:
print('%.2f'%3.1415926)

3.14

In [77]:
'Age:%s'%25

'Age:25'

In [78]:
'growth rate:%d %%'%7

'growth rate:7 %'

In [79]:
a = [1,2,3] #list

In [80]:
a

[1, 2, 3]

In [81]:
len(a)

3

In [82]:
len(0)
len(1)

TypeError: object of type 'int' has no len()

In [83]:
len[0]
len[1]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [84]:
a[0]
a[1]

2

In [85]:
a(1)

TypeError: 'list' object is not callable

In [86]:
a[-1]

3

In [87]:
a[-2]

2

In [88]:
a.append(4)

In [89]:
a

[1, 2, 3, 4]

In [90]:
a.insert(1,5)

In [91]:
a

[1, 5, 2, 3, 4]

In [92]:
a.pop()

4

In [93]:
a

[1, 5, 2, 3]

In [94]:
a.pop(0)

1

In [95]:
a

[5, 2, 3]

In [96]:
a[0]=1

In [97]:
a

[1, 2, 3]

In [98]:
a =[1,'A',True]

In [99]:
a

[1, 'A', True]

In [100]:
s = [1,2,a]

In [101]:
s

[1, 2, [1, 'A', True]]

In [102]:
s[2][0]

1

In [103]:
len(s)

3

In [104]:
len(s[2])

3

In [105]:
a = (1，2，3) #tuple 元组 内容不可修改

SyntaxError: invalid character in identifier (<ipython-input-105-0c361471d2fb>, line 1)

In [106]:
t = (1,2)

In [107]:
t

(1, 2)

In [108]:
a = (1,2,3)

In [109]:
a

(1, 2, 3)

In [110]:
t = (1,)

In [111]:
t

(1,)

In [112]:
t = (1,2,[3,4])

In [113]:
t[2][1] = 3

In [114]:
t

(1, 2, [3, 3])

In [115]:
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [116]:
age = 20
if age >= 18:
    print('your age is'%age)
    print('adult')

TypeError: not all arguments converted during string formatting

In [117]:
age = 20
if age >= 18:
    print('your age is%s'%age)
    print('adult')

your age is20
adult

In [120]:
age = 3
if age >= 18:
    print('your age is',age)
    print('your age is %s'%age)
    print('adult')
else:
    print('teenager')

teenager

In [122]:
age = 10
if age >= 18:
    print('adulat')
elif age >= 6:
    print('teenager')
else:
    print('kid')

teenager

In [123]:
x = 1
if x:
    print('TRUE')

TRUE

In [124]:
birth = input('birth:')
if birth > 2000:
    print('00后')
else:
    print('00前')

TypeError: '>' not supported between instances of 'str' and 'int'

In [125]:
s = input('birth:') #input返回的是str字符串！
birth = int(s)
if birth > 2000:
    print('00后')
else:
    print('00前')

00前

In [128]:
weight = input('please enter your weight:')
height = input('please enter youe height:')
BMI = float(weight)/(float(height)**2)
if BMI > 32:
    print('严重配胖')
elif BMI > 28:
    print('肥胖')
elif BMI > 25:
    print('过重')
elif BMI > 18.5:
    print('正常')
else:
    print('过轻')

过重

In [129]:
a = [1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [130]:
import numpy as np

In [135]:
sum = 0;
for x in [1,2,3,4,5,6,7,8,9,10]:
    sum = sum + x
print(sum)

55

In [136]:
sum = 0
for x in range(101):
    sum = sum + x
print(sum)

5050

In [137]:
sum = 0
n = 99
while n > 0:
    sum = sum + n
    n = n-2
print(sum)

2500

In [138]:
d = {'Li':1,'Wang':2,'Sen':3}

In [139]:
d

{'Li': 1, 'Wang': 2, 'Sen': 3}

In [140]:
d['Sen']

3

In [141]:
d['Liu']

KeyError: 'Liu'

In [142]:
'Li' in d

True

In [143]:
d.get('Li')

1

In [144]:
d.pop('Li')

1

In [145]:
d

{'Wang': 2, 'Sen': 3}

In [146]:
s = set([1,1,2,3])

In [147]:
s

{1, 2, 3}

In [148]:
s.add(4)

In [149]:
s

{1, 2, 3, 4}

In [150]:
s.remove(4)

In [151]:
s

{1, 2, 3}

In [152]:
a = ['A','B','C']

In [153]:
a

['A', 'B', 'C']

In [155]:
a = ['C','B','A']
print(a)
a.sort()
print(a)

['C', 'B', 'A']
['A', 'B', 'C']

In [156]:
a = 'abc'
b = a.replace('a','A')

In [157]:
b

'Abc'

In [158]:
abs(-20)

20

In [159]:
max(1,2,3,4,5,-6)

5

In [160]:
int('123')

123

In [161]:
str(123)

'123'

In [162]:
bool(1)

True

In [163]:
bool(0)

False

In [164]:
bool('')

False

In [166]:
def my_abs(x):
    if x >= 0:
        return x
    else:
        return -x

In [167]:
my_abs(-20)

20

In [168]:
if age >= 20:
    pass

In [169]:
def move(x,y,step,angle=0):
    nx = x + step * math.cos(angle)
    ny = y + step * math.sin(angle)
    return nx,ny

In [170]:
x,y = move(100,100,60,math.pi / 6)
print(x,y)

151.96152422706632 130.0

In [171]:
r = move(100,100,60,math.pi / 6)
print(r)

(151.96152422706632, 130.0)

In [172]:
math.sqrt(2)

1.4142135623730951

In [173]:
def power(x):
    return x*x

In [174]:
power(10)

100

In [177]:
def power(x,n):
    s = 1
    while n > 0:
        n = n - 1
        s = s * x
    return s

In [178]:
power(10,3)

1000

In [179]:
def power(x,n=2):
    s = 1
    while n > 0:
        n = n - 1
        s = s * x
    return s

In [180]:
power(10)

100

In [181]:
power(10,4)

10000

In [185]:
def enroll(name,gender,age=6,city='beijing'):
    print('name:',name)
    print('gender:',gender)
    print('age:',age)
    print('city:',city)

In [186]:
enroll('Li','F')

name: Li
gender: F
age: 6
city: beijing

In [189]:
def calc(numbers):
    sum = 0
    for n in numbers:
        sum = sum + n * n
    return sum

In [190]:
calc([1,2,3])

14

In [191]:
calc((1,3,5,7))

84

In [192]:
def calc(*numbers):
    sum = 0
    for n in numbers:
        sum = sum + n * n
    return sum

In [193]:
calc(1,2,3,4)

30

In [194]:
nums = [1,2,3]

In [195]:
calc(nums)

TypeError: can't multiply sequence by non-int of type 'list'

In [196]:
calc(*nums)

14

In [197]:
def fact(n):
    if n==1:
        return 1
    return n * fact(n-1)

In [198]:
fact(3)

6

In [199]:
L = []
n = 1
while n <= 99:
    L.append(n)
    n = n + 2

In [200]:
L

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [201]:
type(L)

list

In [204]:
r = []
n = 3
for i in range(n):
    r.append(L[i])
    
r

[1, 3, 5]

In [205]:
L[0:2]

[1, 3]

In [206]:
L = list(range(100))

In [207]:
L

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [208]:
L[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [209]:
L[-10:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [210]:
L[10:20]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [211]:
L[:10:2]

[0, 2, 4, 6, 8]

In [212]:
L[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [213]:
'ABCDDEFG'[0:3]

'ABC'

In [214]:
d = {'a':1,"b":2,"c":3}

In [215]:
d

{'a': 1, 'b': 2, 'c': 3}

In [216]:
for key in d:
    print(key)

a
b
c

In [218]:
for value in d.values():
    print(value)

1
2
3

In [219]:
for k, v in d.items():
    print(k,v)

a 1
b 2
c 3

In [220]:
for chr in 'ABC':
    print(chr)

A
B
C

In [221]:
for i,value in enumerate(['a','b','c']):
    print(i,value)

0 a
1 b
2 c

In [223]:
for x,y in [(1,2),(2,3),[3,4]]:
    print(x,y)

1 2
2 3
3 4