In [1]:
print("101")

101

In [3]:
miles=1000
miles

1000

In [10]:
a=1
b=1
c=1
a,b,c

(1, 1, 1)

In [8]:
c=a-b

In [9]:
c

0

In [11]:
print(a)

1

In [12]:
"my chickens"

'my chickens'

In [14]:
print("hens",25+30 / 6)

hens 30.0

In [16]:
3 + 2 + 1 + 4 - 1 / 6

9.833333333333334

In [18]:
print("Is it grater" , 5 > 2)

Is it grater True

In [19]:
5>=2

True

In [21]:
5>5 , 5>=5

(False, True)

In [22]:
3 + 2 < 5 - 7

False

3 + (2 < 5) - 7

In [24]:
3 + (2 > 5) - 7

-4

In [26]:
c**2

1

In [27]:
a=20
b=10
c=15
d=5
e=0

e=(a+b)*c/d #(30*15)/5
print("(a+b)*c/d caculate result is:",e)

(a+b)*c/d caculate result is: 90.0

In [28]:
my_name ="zane"
print(f"let's talk about {my_name}")

let's talk about zane

In [30]:
my_name ="zane"
print("let's talk about {my_name}")#不使用f

let's talk about {my_name}

In [32]:
hilarious = False
joke_evaluation = "isn’t that joke so funny?!{}"
print(joke_evaluation.format(hilarious))

isn’t that joke so funny?!False

In [33]:
w="This is the lest side of ..."
e="a string with a right sdie."
print(w+e)

This is the lest side of ...a string with a right sdie.

In [38]:
formatter = "{} {} {} {}"
print(formatter.format(1,2,3,4))
print(formatter.format(formatter,formatter,formatter,formatter))

1 2 3 4
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}

In [6]:
days="Monday Tuesday Wednesday Thursday Friday Saturday Sunday"
months="Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug\nSep\nOct\nNov\nDec"
print("here are the days",days)
print("here are the months",months)

print("""
There's something going on here.With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5, or 6.
4.
5.
6.
""")

here are the days Monday Tuesday Wednesday Thursday Friday Saturday Sunday
here are the months Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

There's something going on here.With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5, or 6.
4.
5.
6.

In [21]:
boy="\t\tfly,boy"
girl="fly\nnot fly"
older="come\\and\\go"
alist="""I have a list
\t*boy
\t*girl
\t*older and older\nolder           \t*older"""

In [22]:
print(boy)
print(girl)
print(older)
print(alist)

		fly,boy
fly
not fly
come\and\go
I have a list
	*boy
	*girl
	*older and older
older           	*older

In [31]:
print("how old are you? ",end='')
age=input()
print("how tall are you? ",end='')
height=input()
print(f"So, you're {age} years old, {height}m tall.")

how old are you?

 10

how tall are you?

 200

So, you're 10 years old, 200m tall.

In [32]:
age=input("how old are you? ")

height=input("how tall are you? ")

print(f"So, you're {age} years old, {height}m tall.")

how old are you?  10
how tall are you?  200

So, you're 10 years old, 200m tall.

In [33]:
from sys import argv
script,first,second=argv
print("the scrpt name: ",script)
print("the first variable name: ",first) 
print("the second variable name: ",second)

the scrpt name:  C:\Users\lll51\anaconda3\lib\site-packages\ipykernel_launcher.py
the first variable name:  -f
the second variable name:  C:\Users\lll51\AppData\Roaming\jupyter\runtime\kernel-4b637922-5097-46a4-8eae-9d8016ea2466.json

In [44]:
import pandas as pd

csv = pd.read_csv('C:/Users/lll51/Documents/Python Class/python-class-main/01/douban/movie_comments.csv')

csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [46]:
import pandas as pd

csv = pd.read_csv('../python-class-main/01/douban/movie_comments.csv')

csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [53]:
##学会使用别人写的爬虫

# 下载好文件之后修改config.json代码中的user_id_list和since_date；
# 打开bash/powershell，进入目录，执行代码。

# % cd documents/“Python Class”/python-class-main/01/weibo
# % python3 weibo.py
# cd 带空格的文件夹，打“”引号。

In [ ]:
#scrapy crawl douban -o movie_comments.csv 
#运行例子成功，csv中是乱码，可能是有设置没有改。