In [1]:
print("Hello World!!! ")

Hello World!!!

In [4]:
x=10
y=15.3

print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [5]:
x = 10
y = 37216654545182186317
z = -465167846

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
x = 2+3j
y = 7j
print(type(x))
print(type(y))

<class 'complex'>
<class 'complex'>

In [8]:
x = 33
y = 9.5
z = 1j 
# 把整数转换为浮点数
a = float(x)
# 把浮点数转换为整数
b = int(y)
# 把整数转换为复数：
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

33.0
9
(33+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [10]:
a = "Hello, World!"
print(a[2:5])
b = "Hello, World!"
print(b[-5:-2])
c = "Hello, World!"
print(len(c))

llo
orl
13

In [11]:
#strip() 方法删除开头和结尾的空白字符：
a = " Hello, World! "
print(a.strip())

Hello, World!

In [12]:
a = 200
b = 33

if b > a:
  print("b > a")
else:
  print("b < a")

b < a

In [14]:
bool("abc")

True

In [15]:
thislist = ["ysys", "dddd", "adfa"]
for x in thislist:
  print(x)

ysys
dddd
adfa

In [16]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [17]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [21]:
mydict ={
  "brand": "Porsche",
  "model": "911",
  "year": 1963
}
for x in mydict:
  print(x)

brand
model
year

In [23]:
mydict ={
  "brand": "Porsche",
  "model": "911",
  "year": 1963
}
if "model" in mydict:
  print("Yes, 'model' is true")

Yes, 'model' is true

In [28]:
myfamily = {
  "child1" : {
    "name" : "ergou",
    "year" : 2002
  },
  "child2" : {
    "name" : "zhaosi",
    "year" : 1996
  },
  "child3" : {
    "name" : "zhangsan",
    "year" : 1999
  }
}

print(myfamily)

{'child1': {'name': 'ergou', 'year': 2002}, 'child2': {'name': 'zhaosi', 'year': 1996}, 'child3': {'name': 'zhangsan', 'year': 1999}}

In [32]:
child1 = {
  "name" : "zhangfei",
  "year" : 2002
}
child2 = {
  "name" : "liubei",
  "year" : 1996
}
child3 = {
  "name" : "guanyu",
  "year" : 1999
}

mychild = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(mychild)

{'child1': {'name': 'zhangfei', 'year': 2002}, 'child2': {'name': 'liubei', 'year': 1996}, 'child3': {'name': 'guanyu', 'year': 1999}}

In [33]:
i = 1
while i < 7:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [34]:
i = 0
while i < 7:
  i += 1 
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7

In [36]:
def my_function(fname):
  print(fname + " Gates")

my_function("aaa")
my_function("bbb")
my_function("ccc")

aaa Gates
bbb Gates
ccc Gates

In [38]:
def my_function(country = "China"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function("Brazil")

my_function()

I am from Sweden
I am from India
I am from Brazil
I am from China

In [39]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("wjw", 3)

print(p1.name)
print(p1.age)
print(p1)

wjw
63
<__main__.Person object at 0x000001F5770BC100>

In [41]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("nihao: " + self.name)

p1 = Person("ccc", 3)
p1.myfunc()

nihao: ccc